In [1]:
import pandas as pd
import numpy as np
import os
import string
import sys
import re
import datetime as dt
# now = dt.datetime.now().strftime('%y%m%d_%H%M%S')
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

# 진행 여부 함수
def yes_or_no(question):
    while "the answer is invalid":
        reply = str(input(question+' (y/n): ')).lower().strip()
        if reply[0] == 'y':
            return True
        if reply[0] == 'n':
            return False
        else:
            print("실패: 'y' 혹은 'n' 를 입력해 주세요")

# 1. 파일 불러오기

In [2]:
# 파일 불러오기
# test_emoti_dup_korDup
sheet_name = "input_test"
input_path = os.path.join(os.getcwd(), "input\\")
output_path = os.path.join(os.getcwd(), "output\\")
# input_test = pd.read_excel(input_path+"test_emoti_dup_korDup.xlsx", sheet_name=sheet_name, header=0)
input_test = pd.read_excel(input_path+"test.xlsx", sheet_name=sheet_name, header=0)
# null 제거
for i in range(len(input_test.columns)):
    input_test[input_test.columns[i]] = input_test[input_test.columns[i]].fillna("")
print(input_test.shape)
input_test.head(5)

(1364, 14)

,No,용어명,용어명 분리,용어설명,영문명,영문약어명,도메인명,데이터타입,데이터길이,소수점이하,생성일(제정일),범정부표준여부,정보시스템(DB),관련필드/용어
0,1,가입일자,가입_일자,"조직이나 단체 따위에 들어가거나, 서비스를 제공하는 상품 따위를 신청한 날짜를 연월...",,JOIN_YMD,연월일C8,CHAR,8,,2020-08-13,범정부표준,,
1,2,개설일자,개설_일자,설비나 제도 따위를 새로 마련하고 그에 관한 일을 처음 시작한 날짜를 연월일로 표현,,ESTBL_YMD,연월일C8,CHAR,8,,2020-08-13,범정부표준,,
2,3,개시일자,개시_일자,시장을 처음 열어 물건의 매매를 시작한 날짜를 연월일로 표현,,FTRSN_YMD,연월일C8,CHAR,8,,2020-08-13,범정부표준,,
3,4,개업일자,개업_일자,영업을 처음 시작한 날짜를 연월일로 표현,,OPBIZ_YMD,연월일C8,CHAR,8,,2020-08-13,범정부표준,,
4,5,개인정보 동의여부,개인_정보_동의_여부,특정 개인을 식별하거나 유추해 낼 수 있는 모든 정보를 공동 이용하도록 허락할지 참...,,INDV_INFO_AGRE_YN,여부C1,CHAR,1,,2020-08-13,범정부표준,,

# 2. 용어 분리

In [3]:
# 인덱스 컬럼 초기화
df_index = pd.DataFrame(input_test['No'])
df_index.columns = ['index']

In [4]:
# 용어명 분리

# 용어명 분리
input_split_kor = pd.DataFrame(input_test['용어명 분리'].str.split('_').tolist()).fillna("")

# 영문명 없을 경우 대비하여 cnt 집계
kor_firts_cnt = len(input_split_kor.columns)

# 컬럼명 입력
col_list_kor = []
for i in range(len(input_split_kor.columns)):
    col_list_kor.append("stwd_kor{}".format(i))
input_split_kor.columns = col_list_kor

# 한글 개수 세기
dupl_list_kor = []
dupl_cnt_kor = []
for i in range(kor_firts_cnt):
    globals()["dupl_list_kor{}".format(i)] = []
    for j in range(len(input_split_kor["stwd_kor{}".format(i)])):
        dupl_list_kor = input_split_kor["stwd_kor{}".format(i)].to_list().count(input_split_kor["stwd_kor{}".format(i)][j])
        globals()["dupl_list_kor{}".format(i)].append(dupl_list_kor)
for i in range(kor_firts_cnt):
    globals()["dupl_list_kor{}".format(i)] = pd.concat([pd.DataFrame(globals()["dupl_list_kor{}".format(i)])], axis = 0)
    globals()["dupl_list_kor{}".format(i)].columns = ["dupl_list_kor{}".format(i)]
    
# 컬럼명,index, 단어위치 추가
for i in range(len(input_split_kor.columns)):
    input_split_kor["num_kor{}".format(i)] = "num_kor{}".format(i)
    globals()["stwd_kor{}".format(i)] = pd.concat(
            [
            df_index.fillna(""), 
            pd.DataFrame(input_split_kor["stwd_kor{}".format(i)]).fillna(""),
            pd.DataFrame(input_split_kor["num_kor{}".format(i)]).fillna(""),
            globals()["dupl_list_kor{}".format(i)].fillna("")
            ], 
            axis=1)
print(col_list_kor)
print(kor_firts_cnt)
# stwd_kor9
# dupl_list_kor0

['stwd_kor0', 'stwd_kor1', 'stwd_kor2', 'stwd_kor3', 'stwd_kor4', 'stwd_kor5', 'stwd_kor6', 'stwd_kor7']
8

In [5]:
# 영문명 분리

# 영문명이 하나라도 입력돼 있을 경우
if len(input_test['영문약어명']) > 0:
    print("영문명 컬럼 수 1개 이상:"+str((input_test['영문약어명']=="").sum()))

    # 영문명 분리
    input_split_eng = pd.DataFrame(input_test['영문약어명'].str.split('_').tolist()).fillna("")
    
    # 영문명 컬럼 수
    eng_firts_cnt = len(input_split_eng.columns)
    
    # 컬럼명 입력
    col_list_eng = []
    for i in range(len(input_split_eng.columns)):
        col_list_eng.append("stwd_eng{}".format(i))
    input_split_eng.columns = col_list_eng
    
    # 영문 개수 세기
    dupl_list_eng = []
    dupl_cnt_eng = []
    for i in range(eng_firts_cnt):
        globals()["dupl_list_eng{}".format(i)] = []
        for j in range(len(input_split_eng["stwd_eng{}".format(i)])):
            dupl_list_eng = input_split_eng["stwd_eng{}".format(i)].to_list().count(input_split_eng["stwd_eng{}".format(i)][j])
            globals()["dupl_list_eng{}".format(i)].append(dupl_list_eng)
    for i in range(eng_firts_cnt):
        globals()["dupl_list_eng{}".format(i)] = pd.concat([pd.DataFrame(globals()["dupl_list_eng{}".format(i)])], axis = 0)
        globals()["dupl_list_eng{}".format(i)].columns = ["dupl_list_eng{}".format(i)]
        
    # 컬럼명,index, 단어위치 추가
    for i in range(eng_firts_cnt):
        input_split_eng["num_eng{}".format(i)] = "num_eng{}".format(i)
        globals()["stwd_eng{}".format(i)] = pd.concat(
                [
                df_index.fillna(""), 
                pd.DataFrame(input_split_eng["stwd_eng{}".format(i)].fillna("")),
                pd.DataFrame(input_split_eng["num_eng{}".format(i)].fillna("")),
                globals()["dupl_list_eng{}".format(i)].fillna("")
                ], 
                axis=1)
        
# 영문명이 없을 경우
elif len(input_test['영문약어명']) == 0:
    print("영문명 컬럼 수 0개:"+str((input_test['영문약어명']=="").sum()))
    
    col_list_eng = []
    for i in range(kor_firts_cnt):
        globals()["stwd_eng{}".format(i)] = pd.DataFrame(columns = ["stwd_eng{}".format(i)])
        globals()["num_eng{}".format(i)] = pd.DataFrame(columns = ["num_eng{}".format(i)])
        globals()["dupl_list_eng{}".format(i)] = pd.DataFrame(columns = ["dupl_list_eng{}".format(i)])
        globals()["stwd_eng{}".format(i)] = pd.concat(
            [
                df_index.fillna(""), 
                globals()["stwd_eng{}".format(i)].fillna(""),
                globals()["num_eng{}".format(i)].fillna(""),
                globals()["dupl_list_eng{}".format(i)].fillna(""),
            ]
            , axis = 1
        )
        globals()["stwd_eng{}".format(i)]["num_eng{}".format(i)] = "num_eng{}".format(i)
        globals()["stwd_eng{}".format(i)]["dupl_list_eng{}".format(i)] = len(globals()["stwd_eng{}".format(i)])
        col_list_eng.append("stwd_eng{}".format(i))
        
else:
    print("한글컬럼, 영문커럼 예외 사항")

# 컬럼수 일치 점검
col_cnt_kor = len(col_list_kor)
col_cnt_eng = len(col_list_eng)
if len(col_list_kor) == len(col_list_eng):
    print("한글컬럼수와 영문컬럼수 일치")
    print("kor:" + str(col_cnt_kor) + " vs eng:" + str(col_cnt_eng))
else:
    print("한글컬럼수와 영문컬럼수 불일치")
    print("kor:" + str(col_cnt_kor) + " vs eng:" + str(col_cnt_eng))                                                       
print(col_list_eng)
stwd_eng0

영문명 컬럼 수 1개 이상:0
한글컬럼수와 영문컬럼수 불일치
kor:8 vs eng:6
['stwd_eng0', 'stwd_eng1', 'stwd_eng2', 'stwd_eng3', 'stwd_eng4', 'stwd_eng5']

      index stwd_eng0  num_eng0  dupl_list_eng0
0         1      JOIN  num_eng0               1
1         2     ESTBL  num_eng0               1
2         3     FTRSN  num_eng0               1
3         4     OPBIZ  num_eng0               1
4         5      INDV  num_eng0               1
...     ...       ...       ...             ...
1359   1360      FAMT  num_eng0               3
1360   1361      DCNT  num_eng0              13
1361   1362       PRC  num_eng0              20
1362   1363       PRC  num_eng0              20
1363   1364       PRC  num_eng0              20

[1364 rows x 4 columns]

In [6]:
# 한글/영문 컬럼 수 일치시키기

# 한글컬럼과 영문컬럼 수 일치할 경우
if col_cnt_kor == col_cnt_eng:
    col_cnt = col_cnt_kor
    col_cnt_diff_list = None
    col_cnt_diff = None
    print('한글컬럼과 영문컬럼 수 일치')
    print("kor:" + str(col_cnt_kor) + " vs eng:" + str(col_cnt_eng))
    print("컬럼수 일치작업 후:" + str(col_cnt))  
    
# 한글컬럼이 더 많을 경우
elif col_cnt_kor > col_cnt_eng:
    col_cnt = col_cnt_kor
    col_cnt_diff_list = list(set(range(col_cnt_kor)) - set(range(col_cnt_eng)))
    col_cnt_diff = len(col_cnt_diff_list)
    for i in col_cnt_diff_list:
        input_split_eng['stwd_eng{}'.format(i)] = None
        input_split_eng['num_eng{}'.format(i)] = None
        input_split_eng['dupl_list_eng{}'.format(i)] = None
        globals()['stwd_eng{}'.format(i)] = pd.concat(
            [
                df_index,
                pd.DataFrame(input_split_eng['stwd_eng{}'.format(i)].fillna("")),
                pd.DataFrame(input_split_eng["num_eng{}".format(i)].fillna("")),
                pd.DataFrame(input_split_eng["dupl_list_eng{}".format(i)].fillna(""))
            ],
            axis = 1
        )
    print('한글컬럼이 더 많은 싱태')
    print("kor:" + str(col_cnt_kor) + " vs eng:" + str(col_cnt_eng))
    print("컬럼수 일치작업 후:" + str(col_cnt))  

# 영문컬럼이 더 많을 경우
elif col_cnt_kor < col_cnt_eng:
    col_cnt = col_cnt_eng
    col_cnt_diff_list = list(set(range(col_cnt_eng)) - set(range(col_cnt_kor)))
    col_cnt_diff = len(col_cnt_diff_list)
    for i in col_cnt_diff_list:
        input_split_kor['stwd_kor{}'.format(i)] = None
        input_split_kor['num_kor{}'.format(i)] = None
        input_split_eng['dupl_list_kor{}'.format(i)] = None
        globals()['stwd_kor{}'.format(i)] = pd.concat(
            [
                df_index,
                pd.DataFrame(input_split_kor['stwd_kor{}'.format(i)].fillna("")),
                pd.DataFrame(input_split_kor["num_kor{}".format(i)].fillna("")).
                pd.DataFrame(input_split_eng["dupl_list_kor{}".format(i)].fillna(""))
            ],
            axis = 1
        )
    print('영문컬럼이 더 많은 싱태')       
    print("kor:" + str(col_cnt_kor) + " vs eng:" + str(col_cnt_eng))
    print("컬럼수 일치작업 후:" + str(col_cnt))  
stwd_eng3

한글컬럼이 더 많은 싱태
kor:8 vs eng:6
컬럼수 일치작업 후:8

      index stwd_eng3  num_eng3  dupl_list_eng3
0         1            num_eng3             978
1         2            num_eng3             978
2         3            num_eng3             978
3         4            num_eng3             978
4         5        YN  num_eng3               3
...     ...       ...       ...             ...
1359   1360       TXT  num_eng3              41
1360   1361            num_eng3             978
1361   1362       STT  num_eng3               2
1362   1363       STT  num_eng3               2
1363   1364      GROD  num_eng3               2

[1364 rows x 4 columns]

In [7]:
# n x m 정사각형 DafaFrame 점검
for i in range(col_cnt_kor):
    for j in range(len(globals()["stwd_kor{}".format(i)])):
        cnt = (j + 1)
    avg = np.mean(cnt)
avg_avg_kor = round(np.mean(avg), 2)
for i in range(col_cnt_eng):
    for j in range(len(globals()["stwd_kor{}".format(i)])):
        cnt = (j + 1)
    avg = np.mean(cnt)
avg_avg_eng = round(np.mean(avg), 2)
stwd_total_cnt = int(avg_avg_eng)
if avg_avg_kor == avg_avg_eng:
    print("한글 영문 row수 일치: 평균=" + str((avg_avg_kor + avg_avg_eng)/2))
    print("한글평균:" + str(avg_avg_kor) + ", 영문평균:" + str(avg_avg_eng) + ", 최종count:" + str(stwd_total_cnt))
else:
    yes_or_no("한글명과 영문명의 row count가 일치하지 않습니다. 계속 진행하시겠습니까?")
    print("한글 영문 row수 불일치: 평균" + str((avg_avg_kor + avg_avg_eng)/2))
    print("한글평균:" + str(avg_avg_kor) + ", 영문평균:" + str(avg_avg_eng) + ", 최종count:" + str(stwd_total_cnt))

한글 영문 row수 일치: 평균=1364.0
한글평균:1364.0, 영문평균:1364.0, 최종count:1364

In [8]:
# 중복검사를 위한 left join
for i in range(col_cnt):
    globals()['stwd_total{}'.format(i)] = pd.merge(
        globals()['stwd_kor{}'.format(i)],
        globals()['stwd_eng{}'.format(i)],
        on = 'index',
        how = 'left'
    )
print(col_cnt)
# stwd_total9

8

In [9]:
# 일렬 세우기

# unique_stwd 초기화 
stwd_total = pd.DataFrame()

## 컬럼명 바꾸고  concat
for i in range(col_cnt):
    globals()["stwd_total{}".format(i)].columns = [
        'index', 'stwd_kor', 'num_kor', 'dupl_list_kor', 'stwd_eng','num_eng', 'dupl_list_eng'
    ]
    stwd_total = pd.concat([stwd_total, globals()["stwd_total{}".format(i)]], axis = 0, ignore_index = True)
print(stwd_total.shape)
stwd_total

(10912, 7)

,index,stwd_kor,num_kor,dupl_list_kor,stwd_eng,num_eng,dupl_list_eng
0,1,가입,num_kor0,1,JOIN,num_eng0,1
1,2,개설,num_kor0,1,ESTBL,num_eng0,1
2,3,개시,num_kor0,1,FTRSN,num_eng0,1
3,4,개업,num_kor0,1,OPBIZ,num_eng0,1
4,5,개인,num_kor0,1,INDV,num_eng0,1
...,...,...,...,...,...,...,...
10907,1360,,num_kor7,1364,,,
10908,1361,,num_kor7,1364,,,
10909,1362,,num_kor7,1364,,,
10910,1363,,num_kor7,1364,,,
10911,1364,,num_kor7,1364,,,

# 3. 이상값 수정

# 한글명에 한글과 영문대문자, 숫자 이외 표시 및 삭제 로직

In [10]:
def emoti_chk(var):
    if var == 'kor':
        # 한글명에 영문 소문자 탐색
        stwd_total = globals()['stwd_total']
        df_lower_kor = pd.DataFrame(columns = stwd_total.columns)        
        stwd_total['kor_lower'] = ''
        stwd_total['kor_ec'] = ''
        kor_chk_list = []
        for i in range(len(stwd_total)):

        #     특수기호 제거
        #     stwd_total.loc[i, 'stwd_kor'] =  stwd_total.loc[i, 'stwd_kor'].translate(str.maketrans('', '', string.punctuation))

            # 영문 소문자 체크 및 기록
            if stwd_total.loc[i, 'stwd_kor'].islower():
                tmp = pd.DataFrame(stwd_total.iloc[i,:]).transpose()
                df_lower_kor = pd.concat([df_lower_kor, tmp], axis=0)
                print("----------------------영문 소문자 체크 및 기록--------------------|")
                print('index: ' + str(i))
                print(stwd_total.loc[i, 'stwd_kor'] + " -> " + str(stwd_total.loc[i, 'stwd_kor'].upper()))
                kor_chk_list.append(i)

                # 영문 변경 이력 저장
                stwd_total.loc[i, 'kor_lower'] = stwd_total.loc[i, 'stwd_kor']      

                # 영문 대문자 변경
                stwd_total.loc[i, 'stwd_kor'] = stwd_total.loc[i, 'stwd_kor'].upper()

            # 영문 대문자, 숫자, 한글만 체크
            cor_kor = re.findall('[A-Z0-9가-힣+]', stwd_total.loc[i, 'stwd_kor'])
            chk_kor = len(cor_kor) == len(list(stwd_total.loc[i, 'stwd_kor']))

            if bool(chk_kor) == False:
                print("-----------------------------특수기호제거----------------------------|")
                print('index: ' + str(i))
                print(stwd_total.loc[i, 'stwd_kor'] + " -> " + str(''.join(cor_kor)))
                kor_chk_list.append(i)

            # 영문대문자, 숫자, 한글 외 변경 이력 저장
            stwd_total.loc[i, 'kor_ec'] = re.sub('[A-Z0-9가-힣+]', '', stwd_total.loc[i, 'stwd_kor'])        

            # 영문대문자, 숫자, 한글 외 자동 삭제
            stwd_total.loc[i, 'stwd_kor'] = ''.join(cor_kor)

        # 변경 이력 저장
        stwd_total['kor_cor_hist'] = ""
        stwd_total['kor_cor_hist'] = stwd_total['kor_lower'] + stwd_total['kor_ec']

        # 적용 후 결과값
        print("====================================한글명 검토====================================|")
        print('소문자 처리: ' + str(len(df_lower_kor)) + '개')
        stwd_total_kor_chk_1 = stwd_total.iloc[kor_chk_list]
        print("나머지 제거: "+ str(len(kor_chk_list)))
        print('[자동 처리 완료하였습니다]')

    elif var == 'eng':
        # 영문명에 영문 소문자 탐색
        stwd_total = globals()['stwd_total']
        df_lower_eng = pd.DataFrame(columns = stwd_total.columns)        
        stwd_total['eng_lower'] = ''
        stwd_total['eng_ec'] = ''
        eng_chk_list = []
        for i in range(len(stwd_total)):

            # 영문 소문자 체크 및 기록
            if stwd_total.loc[i, 'stwd_eng'].islower():
                tmp = pd.DataFrame(stwd_total.iloc[i,:]).transpose()
                df_lower_eng = pd.concat([df_lower_eng, tmp], axis=0)
                print("----------------------영문 소문자 체크 및 기록--------------------|")
                print('index: ' + str(i))
                print(stwd_total.loc[i, 'stwd_eng'] + " -> " + str(stwd_total.loc[i, 'stwd_eng'].upper()))
                eng_chk_list.append(i)

                # 영문 변경 이력 저장
                stwd_total.loc[i, 'eng_lower'] = stwd_total.loc[i, 'stwd_eng']      

                # 영문 대문자 변경
                stwd_total.loc[i, 'stwd_eng'] = stwd_total.loc[i, 'stwd_eng'].upper()

            # 영문 대문자, 숫자, 한글만 체크
            cor_eng = re.findall('[A-Z0-9+]', stwd_total.loc[i, 'stwd_eng'])
            chk_eng = len(cor_eng) == len(list(stwd_total.loc[i, 'stwd_eng']))

            if bool(chk_eng) == False:
                print("-----------------------------특수기호제거----------------------------|")
                print('index: ' + str(i))
                print(stwd_total.loc[i, 'stwd_eng'] + " -> " + str(''.join(cor_eng)))
                eng_chk_list.append(i)

            # 영문대문자, 숫자 외 변경 이력 저장
            stwd_total.loc[i, 'eng_ec'] = re.sub('[A-Z0-9+]', '', stwd_total.loc[i, 'stwd_eng'])        

            # 영문대문자, 숫자 외 자동 삭제
            stwd_total.loc[i, 'stwd_eng'] = ''.join(cor_eng)

        # 변경 이력 저장
        stwd_total['eng_cor_hist'] = ''
        stwd_total['eng_cor_hist'] = stwd_total['eng_lower'] + stwd_total['eng_ec']

        # 적용 후 결과값
        print("====================================영문명 검토====================================|")
        print('소문자 처리: ' + str(len(df_lower_eng)) + '개')
        stwd_total_eng_chk_1 = stwd_total.iloc[eng_chk_list]
        print("나머지 제거: "+ str(len(eng_chk_list)))
        print('[자동 처리 완료하였습니다]')
        
    else:
        print("잘못된 입력입니다( 'kor' / 'eng' )")
# 데이터 검토
ans = yes_or_no("데이터 검토를 실행 하시겠습니까?")
if ans == True:
    emoti_chk('kor')
    emoti_chk('eng')
elif ans == False:
    print("계속 진행하겠습니다")

데이터 검토를 실행 하시겠습니까? (y/n): y
-----------------------------특수기호제거----------------------------|
index: 1767
률(계획) -> 률계획
-----------------------------특수기호제거----------------------------|
index: 1869
키-레코드 -> 키레코드
-----------------------------특수기호제거----------------------------|
index: 2277
(계획) -> 계획
-----------------------------특수기호제거----------------------------|
index: 2278
(계획) -> 계획
-----------------------------특수기호제거----------------------------|
index: 3150
(학력) -> 학력
-----------------------------특수기호제거----------------------------|
index: 3151
(학력) -> 학력
-----------------------------특수기호제거----------------------------|
index: 3368
(미화) -> 미화
-----------------------------특수기호제거----------------------------|
index: 3373
(미화) -> 미화
-----------------------------특수기호제거----------------------------|
index: 3510
(%) ->
-----------------------------특수기호제거----------------------------|
index: 3603
(학력) -> 학력
-----------------------------특수기호제거----------------------------|
index: 3604
(학력) -> 학력
-----------------------------특수기호제거----------------------------|
index: 3638
(학력) -> 학력
-----------------------------특수기호제거----------------------------|
index: 3639
(학력) -> 학력
-----------------------------특수기호제거----------------------------|
index: 4775
(계획) -> 계획
-----------------------------특수기호제거----------------------------|
index: 4912
(계획) -> 계획
-----------------------------특수기호제거----------------------------|
index: 4934
(계획) -> 계획
-----------------------------특수기호제거----------------------------|
index: 5146
(空) ->
-----------------------------특수기호제거----------------------------|
index: 5147
(空) ->
-----------------------------특수기호제거----------------------------|
index: 5148
(空) ->
-----------------------------특수기호제거----------------------------|
index: 5149
(空) ->
-----------------------------특수기호제거----------------------------|
index: 5150
(空) ->
-----------------------------특수기호제거----------------------------|
index: 5157
(空) ->
-----------------------------특수기호제거----------------------------|
index: 5158
(空) ->
-----------------------------특수기호제거----------------------------|
index: 5159
(空) ->
-----------------------------특수기호제거----------------------------|
index: 5160
(空) ->
-----------------------------특수기호제거----------------------------|
index: 5161
(空) ->
-----------------------------특수기호제거----------------------------|
index: 6223
(누적) -> 누적
-----------------------------특수기호제거----------------------------|
index: 6224
(최종합계) -> 최종합계
====================================한글명 검토====================================|
소문자 처리: 0개
나머지 제거: 28
[자동 처리 완료하였습니다]
-----------------------------특수기호제거----------------------------|
index: 1738
CRKM                       -> CRKM
-----------------------------특수기호제거----------------------------|
index: 1755
NM                        -> NM
-----------------------------특수기호제거----------------------------|
index: 1756
NO                        -> NO
-----------------------------특수기호제거----------------------------|
index: 1774
PRC                         -> PRC
-----------------------------특수기호제거----------------------------|
index: 1806
FARE                      -> FARE
-----------------------------특수기호제거----------------------------|
index: 1807
SQNO                      -> SQNO
-----------------------------특수기호제거----------------------------|
index: 1810
NO                        -> NO
-----------------------------특수기호제거----------------------------|
index: 1815
CRKM                      -> CRKM
-----------------------------특수기호제거----------------------------|
index: 1820
FLG                       -> FLG
-----------------------------특수기호제거----------------------------|
index: 1825
EXT                       -> EXT
-----------------------------특수기호제거----------------------------|
index: 1840
NM                        -> NM
-----------------------------특수기호제거----------------------------|
index: 1841
TELN                      -> TELN
-----------------------------특수기호제거----------------------------|
index: 1940
NO                        -> NO
-----------------------------특수기호제거----------------------------|
index: 1964
EXT                       -> EXT
-----------------------------특수기호제거----------------------------|
index: 2000
PRC                       -> PRC
-----------------------------특수기호제거----------------------------|
index: 2030
SQNO                       -> SQNO
-----------------------------특수기호제거----------------------------|
index: 2032
PRNB                      -> PRNB
-----------------------------특수기호제거----------------------------|
index: 2042
NM                        -> NM
-----------------------------특수기호제거----------------------------|
index: 2043
NM                        -> NM
-----------------------------특수기호제거----------------------------|
index: 2134
AMT                       -> AMT
-----------------------------특수기호제거----------------------------|
index: 2135
PRC                       -> PRC
-----------------------------특수기호제거----------------------------|
index: 2141
NO                         -> NO
-----------------------------특수기호제거----------------------------|
index: 2171
TON                        -> TON
-----------------------------특수기호제거----------------------------|
index: 2187
NO                        -> NO
-----------------------------특수기호제거----------------------------|
index: 2234
AMT                        -> AMT
-----------------------------특수기호제거----------------------------|
index: 2235
PCT                        -> PCT
-----------------------------특수기호제거----------------------------|
index: 2256
PRC                        -> PRC
-----------------------------특수기호제거----------------------------|
index: 2257
PRC                        -> PRC
-----------------------------특수기호제거----------------------------|
index: 2259
PRNB                      -> PRNB
-----------------------------특수기호제거----------------------------|
index: 2264
SQNO                      -> SQNO
-----------------------------특수기호제거----------------------------|
index: 2269
ORDR                      -> ORDR
-----------------------------특수기호제거----------------------------|
index: 2281
DST                        -> DST
-----------------------------특수기호제거----------------------------|
index: 2305
NM                        -> NM
-----------------------------특수기호제거----------------------------|
index: 2322
NUM                       -> NUM
-----------------------------특수기호제거----------------------------|
index: 2329
QNTY                      -> QNTY
-----------------------------특수기호제거----------------------------|
index: 2334
TNUM                      -> TNUM
-----------------------------특수기호제거----------------------------|
index: 2342
PRC                       -> PRC
-----------------------------특수기호제거----------------------------|
index: 2355
DT                        -> DT
-----------------------------특수기호제거----------------------------|
index: 2361
NO                        -> NO
-----------------------------특수기호제거----------------------------|
index: 2367
EXT                       -> EXT
-----------------------------특수기호제거----------------------------|
index: 2368
EXT                       -> EXT
-----------------------------특수기호제거----------------------------|
index: 2390
TON                       -> TON
-----------------------------특수기호제거----------------------------|
index: 2454
PRNB                       -> PRNB
-----------------------------특수기호제거----------------------------|
index: 2463
TON                       -> TON
-----------------------------특수기호제거----------------------------|
index: 2468
DST                       -> DST
-----------------------------특수기호제거----------------------------|
index: 2471
DTKM                      -> DTKM
-----------------------------특수기호제거----------------------------|
index: 2472
FARE                      -> FARE
-----------------------------특수기호제거----------------------------|
index: 2476
TON                       -> TON
-----------------------------특수기호제거----------------------------|
index: 2497
CRKM                      -> CRKM
-----------------------------특수기호제거----------------------------|
index: 2498
NO                         -> NO
-----------------------------특수기호제거----------------------------|
index: 2500
IMYL                       -> IMYL
-----------------------------특수기호제거----------------------------|
index: 2517
DTKM                      -> DTKM

-----------------------------특수기호제거----------------------------|
index: 3109
TNUM                  -> TNUM
-----------------------------특수기호제거----------------------------|
index: 3112
NUM                   -> NUM
-----------------------------특수기호제거----------------------------|
index: 3118
NO                    -> NO
-----------------------------특수기호제거----------------------------|
index: 3121
ADR                   -> ADR
-----------------------------특수기호제거----------------------------|
index: 3122
CD                    -> CD
-----------------------------특수기호제거----------------------------|
index: 3123
TXT                -> TXT
-----------------------------특수기호제거----------------------------|
index: 3124
NM                   -> NM
-----------------------------특수기호제거----------------------------|
index: 3125
ZIP                  -> ZIP
-----------------------------특수기호제거----------------------------|
index: 3126
ADR                   -> ADR
-----------------------------특수기호제거----------------------------|
index: 3127
CD                     -> CD
-----------------------------특수기호제거----------------------------|
index: 3128
TXT                   -> TXT
-----------------------------특수기호제거----------------------------|
index: 3137
DST                    -> DST
-----------------------------특수기호제거----------------------------|
index: 3169
NUM                   -> NUM
-----------------------------특수기호제거----------------------------|
index: 3177
TNUM                 -> TNUM
-----------------------------특수기호제거----------------------------|
index: 3190
DT                    -> DT
-----------------------------특수기호제거----------------------------|
index: 3193
SQNO                 -> SQNO
-----------------------------특수기호제거----------------------------|
index: 3202
CD                     -> CD
-----------------------------특수기호제거----------------------------|
index: 3203
TXT            -> TXT
-----------------------------특수기호제거----------------------------|
index: 3206
NM                    -> NM
-----------------------------특수기호제거----------------------------|
index: 3213
CD                     -> CD
-----------------------------특수기호제거----------------------------|
index: 3214
TXT                    -> TXT
-----------------------------특수기호제거----------------------------|
index: 3260
CD                     -> CD
-----------------------------특수기호제거----------------------------|
index: 3261
TXT                -> TXT
-----------------------------특수기호제거----------------------------|
index: 3268
NUM                   -> NUM
-----------------------------특수기호제거----------------------------|
index: 3269
AMT                    -> AMT
-----------------------------특수기호제거----------------------------|
index: 3286
CD                     -> CD
-----------------------------특수기호제거----------------------------|
index: 3287
TXT       -> TXT
-----------------------------특수기호제거----------------------------|
index: 3289
TNUM                  -> TNUM
-----------------------------특수기호제거----------------------------|
index: 3326
PCT                   -> PCT
-----------------------------특수기호제거----------------------------|
index: 3327
AMNT                  -> AMNT
-----------------------------특수기호제거----------------------------|
index: 3332
FLG                  -> FLG
-----------------------------특수기호제거----------------------------|
index: 3333
NUM                   -> NUM
-----------------------------특수기호제거----------------------------|
index: 3358
CD                    -> CD
-----------------------------특수기호제거----------------------------|
index: 3359
TXT              -> TXT
-----------------------------특수기호제거----------------------------|
index: 3360
VAL                     -> VAL
-----------------------------특수기호제거----------------------------|
index: 3361
NO                   -> NO
-----------------------------특수기호제거----------------------------|
index: 3363
NUM                   -> NUM
-----------------------------특수기호제거----------------------------|
index: 3369
CD                     -> CD
-----------------------------특수기호제거----------------------------|
index: 3375
NO                   -> NO
-----------------------------특수기호제거----------------------------|
index: 3388
CD                      -> CD
-----------------------------특수기호제거----------------------------|
index: 3389
TXT                    -> TXT
-----------------------------특수기호제거----------------------------|
index: 3392
CD                     -> CD
-----------------------------특수기호제거----------------------------|
index: 3399
NUM                  -> NUM
-----------------------------특수기호제거----------------------------|
index: 3402
NUM                    -> NUM
-----------------------------특수기호제거----------------------------|
index: 3403
DST                   -> DST
-----------------------------특수기호제거----------------------------|
index: 3417
CD                     -> CD
-----------------------------특수기호제거----------------------------|
index: 3418
TXT                   -> TXT
-----------------------------특수기호제거----------------------------|
index: 3419
QNTY                  -> QNTY
-----------------------------특수기호제거----------------------------|
index: 3420
TM                    -> TM
-----------------------------특수기호제거----------------------------|
index: 3421
DT                    -> DT
-----------------------------특수기호제거----------------------------|
index: 3422
QNTY                 -> QNTY
-----------------------------특수기호제거----------------------------|
index: 3427
DT                    -> DT
-----------------------------특수기호제거----------------------------|
index: 3429
CD                    -> CD
-----------------------------특수기호제거----------------------------|
index: 3430
TXT               -> TXT
-----------------------------특수기호제거----------------------------|
index: 3431
QNTY                  -> QNTY
-----------------------------특수기호제거----------------------------|
index: 3432
SQNO                  -> SQNO
-----------------------------특수기호제거----------------------------|
index: 3433
DT                    -> DT
-----------------------------특수기호제거----------------------------|
index: 3434
NO                    -> NO
-----------------------------특수기호제거----------------------------|
index: 3437
TM                    -> TM
-----------------------------특수기호제거----------------------------|
index: 3438
DT                    -> DT
-----------------------------특수기호제거----------------------------|
index: 3439
RMQT                  -> RMQT
-----------------------------특수기호제거----------------------------|
index: 3440
QNTY                 -> QNTY
-----------------------------특수기호제거----------------------------|
index: 3441
QNTY                 -> QNTY
-----------------------------특수기호제거----------------------------|
index: 3442
NO                    -> NO
-----------------------------특수기호제거----------------------------|
index: 3445
QNTY                  -> QNTY
-----------------------------특수기호제거----------------------------|
index: 3446
TM                    -> TM
-----------------------------특수기호제거----------------------------|
index: 3447
DT                    -> DT
-----------------------------특수기호제거----------------------------|
index: 3448
FLG                  -> FLG
-----------------------------특수기호제거----------------------------|
index: 3476
VC                      -> VC
-----------------------------특수기호제거----------------------------|
index: 3489
TNUM                  -> TNUM
-----------------------------특수기호제거----------------------------|
index: 3500
AMT                   -> AMT
-----------------------------특수기호제거----------------------------|
index: 3503
DST                   -> DST
-----------------------------특수기호제거----------------------------|
index: 3506
DT                     -> DT
-----------------------------특수기호제거----------------------------|
index: 3517
AMT                   -> AMT
-----------------------------특수기호제거----------------------------|
index: 3519
AMT                   -> AMT
-----------------------------특수기호제거----------------------------|
index: 3520
TXMT                  -> TXMT
-----------------------------특수기호제거----------------------------|
index: 3521
CD                    -> CD
-----------------------------특수기호제거----------------------------|
index: 3522
TXT                 -> TXT
-----------------------------특수기호제거----------------------------|
index: 3526
CD                     -> CD
-----------------------------특수기호제거----------------------------|
index: 3527
TXT                    -> TXT
-----------------------------특수기호제거----------------------------|
index: 3529
CONT                  -> CONT
-----------------------------특수기호제거----------------------------|
index: 3530
TON                   -> TON
-----------------------------특수기호제거----------------------------|
index: 3531
AMT                    -> AMT
-----------------------------특수기호제거----------------------------|
index: 3532
TXMT                   -> TXMT
-----------------------------특수기호제거----------------------------|
index: 3543
FLG                   -> FLG
-----------------------------특수기호제거----------------------------|
index: 3552
CD                    -> CD
-----------------------------특수기호제거----------------------------|
index: 3553
TXT                    -> TXT
-----------------------------특수기호제거----------------------------|
index: 3569
TNUM                  -> TNUM
-----------------------------특수기호제거----------------------------|
index: 3587
CD                   -> CD
-----------------------------특수기호제거----------------------------|
index: 3588
TXT                -> TXT
-----------------------------특수기호제거----------------------------|
index: 3600
NUM                    -> NUM
-----------------------------특수기호제거----------------------------|
index: 3601
NUM                  -> NUM
-----------------------------특수기호제거----------------------------|
index: 3602
NUM                    -> NUM
-----------------------------특수기호제거----------------------------|
index: 3610
NUM                    -> NUM
-----------------------------특수기호제거----------------------------|
index: 3612
FLG                   -> FLG
-----------------------------특수기호제거----------------------------|
index: 3613
RT                    -> RT
-----------------------------특수기호제거----------------------------|
index: 3614
RT                     -> RT
-----------------------------특수기호제거----------------------------|
index: 3616
UTPR                    -> UTPR
-----------------------------특수기호제거----------------------------|
index: 3617
FARE                    -> FARE
-----------------------------특수기호제거----------------------------|
index: 3619
UTPR                   -> UTPR
-----------------------------특수기호제거----------------------------|
index: 3626
FLG                  -> FLG
-----------------------------특수기호제거----------------------------|
index: 3627
SQNO                  -> SQNO
-----------------------------특수기호제거----------------------------|
index: 3631
DT                    -> DT
-----------------------------특수기호제거----------------------------|
index: 3657
TNUM                  -> TNUM
-----------------------------특수기호제거----------------------------|
index: 3667
NO                   -> NO
-----------------------------특수기호제거----------------------------|
index: 3668
NO                   -> NO
-----------------------------특수기호제거----------------------------|
index: 3674
DT                    -> DT
-----------------------------특수기호제거----------------------------|
index: 3675
CD                    -> CD
-----------------------------특수기호제거----------------------------|
index: 3676
TXT             -> TXT
-----------------------------특수기호제거----------------------------|
index: 3689
CD                   -> CD
-----------------------------특수기호제거----------------------------|
index: 3690
TXT                 -> TXT
-----------------------------특수기호제거----------------------------|
index: 3696
CD                    -> CD
-----------------------------특수기호제거----------------------------|
index: 3697
TXT                -> TXT
-----------------------------특수기호제거----------------------------|
index: 3735
FLG                   -> FLG
-----------------------------특수기호제거----------------------------|
index: 3740
NUM                  -> NUM
-----------------------------특수기호제거----------------------------|
index: 3741
NUM                    -> NUM
-----------------------------특수기호제거----------------------------|
index: 3744
CD                      -> CD
-----------------------------특수기호제거----------------------------|
index: 3745
TXT                    -> TXT
-----------------------------특수기호제거----------------------------|
index: 3748
CD                    -> CD
-----------------------------특수기호제거----------------------------|
index: 3774
SQNO                  -> SQNO
-----------------------------특수기호제거----------------------------|
index: 3823
CD                      -> CD
-----------------------------특수기호제거----------------------------|
index: 3826
AMT                    -> AMT
-----------------------------특수기호제거----------------------------|
index: 3830
DT                     -> DT
-----------------------------특수기호제거----------------------------|
index: 3831
DST                    -> DST
-----------------------------특수기호제거----------------------------|
index: 3833
DST                   -> DST
-----------------------------특수기호제거----------------------------|
index: 3834
DTKM                  -> DTKM
-----------------------------특수기호제거----------------------------|
index: 3837
DST                   -> DST
-----------------------------특수기호제거----------------------------|
index: 3838
DTKM                  -> DTKM
-----------------------------특수기호제거----------------------------|
index: 3847
NUM                    -> NUM
-----------------------------특수기호제거----------------------------|
index: 3852
FARE                  -> FARE
-----------------------------특수기호제거----------------------------|
index: 3853
PRC                   -> PRC
-----------------------------특수기호제거----------------------------|
index: 3854
FARE                  -> FARE
-----------------------------특수기호제거----------------------------|
index: 3855
PRC                   -> PRC
-----------------------------특수기호제거----------------------------|
index: 3856
DTTM                  -> DTTM
-----------------------------특수기호제거----------------------------|
index: 3857
CD                   -> CD
-----------------------------특수기호제거----------------------------|
index: 3858
TXT                 -> TXT
-----------------------------특수기호제거----------------------------|
index: 3860
DTTM                  -> DTTM
-----------------------------특수기호제거----------------------------|
index: 3863
DT                     -> DT
-----------------------------특수기호제거----------------------------|
index: 3865
TM                     -> TM
-----------------------------특수기호제거----------------------------|
index: 3868
DT                     -> DT
-----------------------------특수기호제거----------------------------|
index: 3871
TM                     -> TM
-----------------------------특수기호제거----------------------------|
index: 3874
SQNO                   -> SQNO
-----------------------------특수기호제거----------------------------|
index: 3875
DT                     -> DT
-----------------------------특수기호제거----------------------------|
index: 3877
DT                     -> DT
-----------------------------특수기호제거----------------------------|
index: 3878
DST                   -> DST
-----------------------------특수기호제거----------------------------|
index: 3879
TON                   -> TON
-----------------------------특수기호제거----------------------------|
index: 3884
FLG                  -> FLG
-----------------------------특수기호제거----------------------------|
index: 3885
NUM                   -> NUM
-----------------------------특수기호제거----------------------------|
index: 3886
FLG                    -> FLG
-----------------------------특수기호제거----------------------------|
index: 3887
NO                      -> NO
-----------------------------특수기호제거----------------------------|
index: 3888
DT                      -> DT
-----------------------------특수기호제거----------------------------|
index: 3891
CD                     -> CD
-----------------------------특수기호제거----------------------------|
index: 3892
TXT                    -> TXT
-----------------------------특수기호제거----------------------------|
index: 3896
CD                    -> CD
-----------------------------특수기호제거----------------------------|
index: 3897
TXT                   -> TXT

-----------------------------특수기호제거----------------------------|
index: 4449
FLG                 -> FLG
-----------------------------특수기호제거----------------------------|
index: 4472
QNTY              -> QNTY
-----------------------------특수기호제거----------------------------|
index: 4474
CD                -> CD
-----------------------------특수기호제거----------------------------|
index: 4475
TXT      -> TXT
-----------------------------특수기호제거----------------------------|
index: 4479
NUM                -> NUM
-----------------------------특수기호제거----------------------------|
index: 4480
NO                -> NO
-----------------------------특수기호제거----------------------------|
index: 4481
FLG               -> FLG
-----------------------------특수기호제거----------------------------|
index: 4493
CD                -> CD
-----------------------------특수기호제거----------------------------|
index: 4494
TXT          -> TXT
-----------------------------특수기호제거----------------------------|
index: 4503
AMT                -> AMT
-----------------------------특수기호제거----------------------------|
index: 4549
CD                  -> CD
-----------------------------특수기호제거----------------------------|
index: 4550
TXT              -> TXT
-----------------------------특수기호제거----------------------------|
index: 4555
DNO                 -> DNO
-----------------------------특수기호제거----------------------------|
index: 4556
DNO                 -> DNO
-----------------------------특수기호제거----------------------------|
index: 4563
DT               -> DT
-----------------------------특수기호제거----------------------------|
index: 4571
CD                -> CD
-----------------------------특수기호제거----------------------------|
index: 4572
TXT              -> TXT
-----------------------------특수기호제거----------------------------|
index: 4574
NO                -> NO
-----------------------------특수기호제거----------------------------|
index: 4575
CD                 -> CD
-----------------------------특수기호제거----------------------------|
index: 4576
TXT                 -> TXT
-----------------------------특수기호제거----------------------------|
index: 4584
TNUM              -> TNUM
-----------------------------특수기호제거----------------------------|
index: 4621
NO                -> NO
-----------------------------특수기호제거----------------------------|
index: 4622
CD                 -> CD
-----------------------------특수기호제거----------------------------|
index: 4623
TXT                -> TXT
-----------------------------특수기호제거----------------------------|
index: 4636
NO                 -> NO
-----------------------------특수기호제거----------------------------|
index: 4637
TM                 -> TM
-----------------------------특수기호제거----------------------------|
index: 4638
DT                 -> DT
-----------------------------특수기호제거----------------------------|
index: 4640
NO                -> NO
-----------------------------특수기호제거----------------------------|
index: 4648
CD                 -> CD
-----------------------------특수기호제거----------------------------|
index: 4649
TXT         -> TXT
-----------------------------특수기호제거----------------------------|
index: 4654
NO                -> NO
-----------------------------특수기호제거----------------------------|
index: 4655
CD               -> CD
-----------------------------특수기호제거----------------------------|
index: 4656
TXT            -> TXT
-----------------------------특수기호제거----------------------------|
index: 4670
FLG                -> FLG
-----------------------------특수기호제거----------------------------|
index: 4671
CD                   -> CD
-----------------------------특수기호제거----------------------------|
index: 4672
TXT            -> TXT
-----------------------------특수기호제거----------------------------|
index: 4674
FLG                -> FLG
-----------------------------특수기호제거----------------------------|
index: 4689
PCT              -> PCT
-----------------------------특수기호제거----------------------------|
index: 4698
PCT              -> PCT
-----------------------------특수기호제거----------------------------|
index: 4699
AMNT             -> AMNT
-----------------------------특수기호제거----------------------------|
index: 4700
PCT             -> PCT
-----------------------------특수기호제거----------------------------|
index: 4729
AMT               -> AMT
-----------------------------특수기호제거----------------------------|
index: 4730
AMT              -> AMT
-----------------------------특수기호제거----------------------------|
index: 4745
CD                  -> CD
-----------------------------특수기호제거----------------------------|
index: 4746
TXT               -> TXT
-----------------------------특수기호제거----------------------------|
index: 4754
CD                  -> CD
-----------------------------특수기호제거----------------------------|
index: 4755
TXT             -> TXT
-----------------------------특수기호제거----------------------------|
index: 4761
CD                 -> CD
-----------------------------특수기호제거----------------------------|
index: 4762
TXT               -> TXT
-----------------------------특수기호제거----------------------------|
index: 4788
CONT              -> CONT
-----------------------------특수기호제거----------------------------|
index: 4799
CD                -> CD
-----------------------------특수기호제거----------------------------|
index: 4800
TXT           -> TXT
-----------------------------특수기호제거----------------------------|
index: 4807
CD                -> CD
-----------------------------특수기호제거----------------------------|
index: 4808
TXT              -> TXT
-----------------------------특수기호제거----------------------------|
index: 4849
CD             -> CD
-----------------------------특수기호제거----------------------------|
index: 4850
TXT     -> TXT
-----------------------------특수기호제거----------------------------|
index: 4882
AMT              -> AMT
-----------------------------특수기호제거----------------------------|
index: 4889
NUM                -> NUM
-----------------------------특수기호제거----------------------------|
index: 4901
FLG                -> FLG
-----------------------------특수기호제거----------------------------|
index: 4913
CD                 -> CD
-----------------------------특수기호제거----------------------------|
index: 4914
TXT                 -> TXT
-----------------------------특수기호제거----------------------------|
index: 4921
FLG               -> FLG
-----------------------------특수기호제거----------------------------|
index: 4932
QNTY              -> QNTY
-----------------------------특수기호제거----------------------------|
index: 4941
NO                  -> NO
-----------------------------특수기호제거----------------------------|
index: 4946
DT                  -> DT
-----------------------------특수기호제거----------------------------|
index: 4979
UTPR                  -> UTPR
-----------------------------특수기호제거----------------------------|
index: 4982
UTPR                 -> UTPR
-----------------------------특수기호제거----------------------------|
index: 4986
AMT               -> AMT
-----------------------------특수기호제거----------------------------|
index: 4993
CD                -> CD
-----------------------------특수기호제거----------------------------|
index: 4994
TXT            -> TXT
-----------------------------특수기호제거----------------------------|
index: 5004
NUM                -> NUM
-----------------------------특수기호제거----------------------------|
index: 5012
CD                  -> CD
-----------------------------특수기호제거----------------------------|
index: 5013
TXT            -> TXT
-----------------------------특수기호제거----------------------------|
index: 5019
CD                 -> CD
-----------------------------특수기호제거----------------------------|
index: 5035
CD                  -> CD
-----------------------------특수기호제거----------------------------|
index: 5058
CD                -> CD
-----------------------------특수기호제거----------------------------|
index: 5059
TXT                -> TXT
-----------------------------특수기호제거----------------------------|
index: 5065
VAL                -> VAL
-----------------------------특수기호제거----------------------------|
index: 5067
VAL               -> VAL
-----------------------------특수기호제거----------------------------|
index: 5071
FLG               -> FLG
-----------------------------특수기호제거----------------------------|
index: 5072
AMT              -> AMT
-----------------------------특수기호제거----------------------------|
index: 5073
FLG               -> FLG
-----------------------------특수기호제거----------------------------|
index: 5077
DT                  -> DT
-----------------------------특수기호제거----------------------------|
index: 5078
NO                  -> NO
-----------------------------특수기호제거----------------------------|
index: 5082
TNUM              -> TNUM
-----------------------------특수기호제거----------------------------|
index: 5088
NUM              -> NUM
-----------------------------특수기호제거----------------------------|
index: 5090
NUM               -> NUM
-----------------------------특수기호제거----------------------------|
index: 5091
CD                 -> CD
-----------------------------특수기호제거----------------------------|
index: 5119
FLG               -> FLG
-----------------------------특수기호제거----------------------------|
index: 5133
CD                 -> CD
-----------------------------특수기호제거----------------------------|
index: 5134
TXT                -> TXT
-----------------------------특수기호제거----------------------------|
index: 5135
CONT               -> CONT
-----------------------------특수기호제거----------------------------|
index: 5136
CD                 -> CD
-----------------------------특수기호제거----------------------------|
index: 5137
TXT            -> TXT
-----------------------------특수기호제거----------------------------|
index: 5179
AMT              -> AMT
-----------------------------특수기호제거----------------------------|
index: 5180
AMT               -> AMT
-----------------------------특수기호제거----------------------------|
index: 5192
CD          -> CD
-----------------------------특수기호제거----------------------------|
index: 5193
TXT         -> TXT
-----------------------------특수기호제거----------------------------|
index: 5203
AMT              -> AMT
-----------------------------특수기호제거----------------------------|
index: 5205
CD                 -> CD
-----------------------------특수기호제거----------------------------|
index: 5206
TXT              -> TXT
-----------------------------특수기호제거----------------------------|
index: 5207
CD                 -> CD
-----------------------------특수기호제거----------------------------|
index: 5208
TXT               -> TXT
-----------------------------특수기호제거----------------------------|
index: 5212
CD                 -> CD
-----------------------------특수기호제거----------------------------|
index: 5213
TXT         -> TXT
-----------------------------특수기호제거----------------------------|
index: 5230
CD                 -> CD
-----------------------------특수기호제거----------------------------|
index: 5231
TXT              -> TXT
-----------------------------특수기호제거----------------------------|
index: 5233
CD                 -> CD
-----------------------------특수기호제거----------------------------|
index: 5234
TXT            -> TXT
-----------------------------특수기호제거----------------------------|
index: 5236
CD                 -> CD
-----------------------------특수기호제거----------------------------|
index: 5237
TXT                -> TXT
-----------------------------특수기호제거----------------------------|
index: 5240
EPNO               -> EPNO
-----------------------------특수기호제거----------------------------|
index: 5244
NUM              -> NUM
-----------------------------특수기호제거----------------------------|
index: 5246
AMT              -> AMT
-----------------------------특수기호제거----------------------------|
index: 5247
AMT               -> AMT
-----------------------------특수기호제거----------------------------|
index: 5253
NO                  -> NO
-----------------------------특수기호제거----------------------------|
index: 5254
DT                  -> DT
-----------------------------특수기호제거----------------------------|
index: 5257
CD                   -> CD
-----------------------------특수기호제거----------------------------|
index: 5258
TXT                   -> TXT
-----------------------------특수기호제거----------------------------|
index: 5259
FLG                  -> FLG
-----------------------------특수기호제거----------------------------|
index: 5262
CD                  -> CD
-----------------------------특수기호제거----------------------------|
index: 5263
TXT        -> TXT

-----------------------------특수기호제거----------------------------|
index: 5833
TNUM        -> TNUM
-----------------------------특수기호제거----------------------------|
index: 5834
QNTY        -> QNTY
-----------------------------특수기호제거----------------------------|
index: 5841
CD            -> CD
-----------------------------특수기호제거----------------------------|
index: 5842
TXT        -> TXT
-----------------------------특수기호제거----------------------------|
index: 5892
FLG          -> FLG
-----------------------------특수기호제거----------------------------|
index: 5923
DT            -> DT
-----------------------------특수기호제거----------------------------|
index: 5924
DT            -> DT
-----------------------------특수기호제거----------------------------|
index: 5937
NO              -> NO
-----------------------------특수기호제거----------------------------|
index: 5944
CD               -> CD
-----------------------------특수기호제거----------------------------|
index: 5945
TXT             -> TXT
-----------------------------특수기호제거----------------------------|
index: 5949
CD          -> CD
-----------------------------특수기호제거----------------------------|
index: 5950
TXT       -> TXT
-----------------------------특수기호제거----------------------------|
index: 5984
NO              -> NO
-----------------------------특수기호제거----------------------------|
index: 5990
CD               -> CD
-----------------------------특수기호제거----------------------------|
index: 5991
TXT           -> TXT
-----------------------------특수기호제거----------------------------|
index: 5994
CD          -> CD
-----------------------------특수기호제거----------------------------|
index: 5995
TXT       -> TXT
-----------------------------특수기호제거----------------------------|
index: 6003
EPNO            -> EPNO
-----------------------------특수기호제거----------------------------|
index: 6181
CD             -> CD
-----------------------------특수기호제거----------------------------|
index: 6182
TXT     -> TXT
-----------------------------특수기호제거----------------------------|
index: 6205
FLG          -> FLG
-----------------------------특수기호제거----------------------------|
index: 6261
CD           -> CD
-----------------------------특수기호제거----------------------------|
index: 6262
TXT           -> TXT
-----------------------------특수기호제거----------------------------|
index: 6306
CD              -> CD
-----------------------------특수기호제거----------------------------|
index: 6307
TXT          -> TXT
-----------------------------특수기호제거----------------------------|
index: 6427
VAL          -> VAL
-----------------------------특수기호제거----------------------------|
index: 6430
VAL          -> VAL
-----------------------------특수기호제거----------------------------|
index: 6449
NUM           -> NUM
-----------------------------특수기호제거----------------------------|
index: 6484
FLG          -> FLG
-----------------------------특수기호제거----------------------------|
index: 6485
FLG         -> FLG
-----------------------------특수기호제거----------------------------|
index: 6578
CD            -> CD
-----------------------------특수기호제거----------------------------|
index: 6579
TXT        -> TXT
-----------------------------특수기호제거----------------------------|
index: 7289
CD        -> CD
-----------------------------특수기호제거----------------------------|
index: 7290
TXT     -> TXT
-----------------------------특수기호제거----------------------------|
index: 7292
CD       -> CD
-----------------------------특수기호제거----------------------------|
index: 7293
TXT     -> TXT
-----------------------------특수기호제거----------------------------|
index: 7672
CD         -> CD
-----------------------------특수기호제거----------------------------|
index: 7673
TXT       -> TXT
-----------------------------특수기호제거----------------------------|
index: 7792
VAL     -> VAL
====================================영문명 검토====================================|
소문자 처리: 0개
나머지 제거: 368
[자동 처리 완료하였습니다]

In [11]:
# 필요 컬럼 추리기
stwd_total['cor_hist'] = stwd_total['kor_cor_hist'] + "/" + stwd_total['eng_cor_hist'] 
tmp_list = ['index', 'stwd_kor', 'num_kor', 'dupl_list_kor', 'stwd_eng', 'num_eng', 'dupl_list_eng', 'cor_hist']
stwd_total = stwd_total[tmp_list]

# 띄어쓰기 제거(다시)
stwd_total['stwd_kor'] = stwd_total['stwd_kor'].str.replace(" ", "")
stwd_total['stwd_eng'] = stwd_total['stwd_eng'].str.replace(" ", "")
print(stwd_total.shape)
stwd_total.head(500)

(10912, 8)

C:\Users\namdd\AppData\Local\Temp\ipykernel_31756\4273801444.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stwd_total['stwd_kor'] = stwd_total['stwd_kor'].str.replace(" ", "")
C:\Users\namdd\AppData\Local\Temp\ipykernel_31756\4273801444.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stwd_total['stwd_eng'] = stwd_total['stwd_eng'].str.replace(" ", "")

,index,stwd_kor,num_kor,dupl_list_kor,stwd_eng,num_eng,dupl_list_eng,cor_hist
0,1,가입,num_kor0,1,JOIN,num_eng0,1,/
1,2,개설,num_kor0,1,ESTBL,num_eng0,1,/
2,3,개시,num_kor0,1,FTRSN,num_eng0,1,/
3,4,개업,num_kor0,1,OPBIZ,num_eng0,1,/
4,5,개인,num_kor0,1,INDV,num_eng0,1,/
5,6,개정,num_kor0,1,RVSN,num_eng0,1,/
6,7,갱신,num_kor0,1,RNWL,num_eng0,1,/
7,8,거래,num_kor0,1,DLNG,num_eng0,1,/
8,9,검사,num_kor0,1,INSP,num_eng0,1,/
9,10,검증,num_kor0,1,VRFC,num_eng0,1,/
10,11,검토,num_kor0,3,RVW,num_eng0,1,/
11,12,게시,num_kor0,4,PSTG,num_eng0,4,/
12,13,게시,num_kor0,4,PSTG,num_eng0,4,/
13,14,게시,num_kor0,4,PSTG,num_eng0,4,/
14,15,게시,num_kor0,4,PSTG,num_eng0,4,/
15,16,결재,num_kor0,3,ATRZ,num_eng0,3,/
16,17,결재,num_kor0,3,ATRZ,num_eng0,3,/
17,18,결재,num_kor0,3,ATRZ,num_eng0,3,/
18,19,결정,num_kor0,1,DCSN,num_eng0,1,/
19,20,결제,num_kor0,1,CMPT,num_eng0,1,/
20,21,계약,num_kor0,7,CTRT,num_eng0,3,/
21,22,계약,num_kor0,7,CTRT,num_eng0,3,/
22,23,계약,num_kor0,7,CTRT,num_eng0,3,/
23,24,계획,num_kor0,2,PLAN,num_eng0,1,/
24,25,고시,num_kor0,1,ANCMNT,num_eng0,1,/
25,26,고지,num_kor0,1,INFRM,num_eng0,1,/
26,27,공개,num_kor0,2,RLS,num_eng0,2,/
27,28,공개,num_kor0,2,RLS,num_eng0,2,/
28,29,공고,num_kor0,1,PBANC,num_eng0,1,/
29,30,공사,num_kor0,3,CSTRN,num_eng0,3,/
30,31,공사,num_kor0,3,CSTRN,num_eng0,3,/
31,32,공사,num_kor0,3,CSTRN,num_eng0,3,/
32,33,공지,num_kor0,1,NTC,num_eng0,1,/
33,34,관리,num_kor0,6,MNG,num_eng0,2,/
34,35,관리,num_kor0,6,MNG,num_eng0,2,/
35,36,관리자,num_kor0,1,MNGR,num_eng0,1,/
36,37,교부,num_kor0,1,DTBN,num_eng0,1,/
37,38,교육,num_kor0,27,EDC,num_eng0,5,/
38,39,교육,num_kor0,27,EDC,num_eng0,5,/
39,40,교육,num_kor0,27,EDC,num_eng0,5,/
40,41,교육,num_kor0,27,EDC,num_eng0,5,/
41,42,교육,num_kor0,27,EDC,num_eng0,5,/
42,43,구입,num_kor0,1,PRCHS,num_eng0,1,/
43,44,근무,num_kor0,5,WORK,num_eng0,3,/
44,45,근무,num_kor0,5,WORK,num_eng0,3,/
45,46,근무,num_kor0,5,WORK,num_eng0,3,/
46,47,기준,num_kor0,9,BASE,num_eng0,4,/
47,48,기준,num_kor0,9,BASE,num_eng0,4,/
48,49,기준,num_kor0,9,BASE,num_eng0,4,/
49,50,기준,num_kor0,9,BASE,num_eng0,4,/
50,51,기타,num_kor0,1,ETC,num_eng0,1,/
51,52,긴급,num_kor0,1,EMRG,num_eng0,1,/
52,53,납부,num_kor0,2,PAY,num_eng0,2,/
53,54,납부,num_kor0,2,PAY,num_eng0,2,/
54,55,노출,num_kor0,1,EXPSR,num_eng0,1,/
55,56,답변,num_kor0,3,ANS,num_eng0,3,/
56,57,답변,num_kor0,3,ANS,num_eng0,3,/
57,58,답변,num_kor0,3,ANS,num_eng0,3,/
58,59,대상,num_kor0,3,TRGT,num_eng0,2,/
59,60,대상,num_kor0,3,TRGT,num_eng0,2,/
60,61,대표,num_kor0,5,RPRS,num_eng0,1,/
61,62,대표자,num_kor0,5,RPRSV,num_eng0,2,/
62,63,대표자,num_kor0,5,RPRSV,num_eng0,2,/
63,64,댓글,num_kor0,2,CMNT,num_eng0,2,/
64,65,댓글,num_kor0,2,CMNT,num_eng0,2,/
65,66,동의,num_kor0,1,AGRE,num_eng0,1,/
66,67,등록,num_kor0,9,REG,num_eng0,9,/
67,68,등록,num_kor0,9,REG,num_eng0,9,/
68,69,등록,num_kor0,9,REG,num_eng0,9,/
69,70,등록,num_kor0,9,REG,num_eng0,9,/
70,71,등록,num_kor0,9,REG,num_eng0,9,/
71,72,등록,num_kor0,9,REG,num_eng0,9,/
72,73,등록,num_kor0,9,REG,num_eng0,9,/
73,74,로그인,num_kor0,2,LGN,num_eng0,2,/
74,75,로그인,num_kor0,2,LGN,num_eng0,2,/
75,76,마감,num_kor0,4,DDLN,num_eng0,4,/
76,77,마감,num_kor0,4,DDLN,num_eng0,4,/
77,78,마감,num_kor0,4,DDLN,num_eng0,4,/
78,79,마감,num_kor0,4,DDLN,num_eng0,4,/
79,80,만기,num_kor0,1,MTRY,num_eng0,1,/
80,81,만료,num_kor0,1,EXPRN,num_eng0,1,/
81,82,말소,num_kor0,1,ERSR,num_eng0,1,/
82,83,매입,num_kor0,1,BUY,num_eng0,1,/
83,84,민원,num_kor0,1,CVLCPT,num_eng0,1,/
84,85,반납,num_kor0,1,RTN,num_eng0,1,/
85,86,반려,num_kor0,3,RJCT,num_eng0,3,/
86,87,반려,num_kor0,3,RJCT,num_eng0,3,/
87,88,반려,num_kor0,3,RJCT,num_eng0,3,/
88,89,반송,num_kor0,1,SNDBK,num_eng0,1,/
89,90,반영,num_kor0,2,RFLT,num_eng0,2,/
90,91,반영,num_kor0,2,RFLT,num_eng0,2,/
91,92,발급,num_kor0,4,ISE,num_eng0,6,/
92,93,발급,num_kor0,4,ISE,num_eng0,6,/
93,94,발급,num_kor0,4,ISE,num_eng0,6,/
94,95,발급,num_kor0,4,ISE,num_eng0,6,/
95,96,발생,num_kor0,2,OCRN,num_eng0,2,/
96,97,발생,num_kor0,2,OCRN,num_eng0,2,/
97,98,발송,num_kor0,16,DSPTH,num_eng0,3,/
98,99,발송,num_kor0,16,DSPTH,num_eng0,3,/
99,100,발송,num_kor0,16,DSPTH,num_eng0,3,/
100,101,발행,num_kor0,3,PBLCN,num_eng0,3,/
101,102,발행,num_kor0,3,PBLCN,num_eng0,3,/
102,103,발행,num_kor0,3,PBLCN,num_eng0,3,/
103,104,방문,num_kor0,1,VST,num_eng0,1,/
104,105,법인등록,num_kor0,1,CORP,num_eng0,1,/
105,106,변경,num_kor0,10,CHG,num_eng0,10,/
106,107,변경,num_kor0,10,CHG,num_eng0,10,/
107,108,변경,num_kor0,10,CHG,num_eng0,10,/
108,109,변동,num_kor0,1,FLCTN,num_eng0,1,/
109,110,보고,num_kor0,1,RPT,num_eng0,1,/
110,111,사고,num_kor0,1,ACDNT,num_eng0,1,/
111,112,사망,num_kor0,2,DTH,num_eng0,2,/
112,113,사망,num_kor0,2,DTH,num_eng0,2,/
113,114,사업,num_kor0,18,BIZ,num_eng0,4,/
114,115,사업,num_kor0,18,BIZ,num_eng0,4,/
115,116,사업,num_kor0,18,BIZ,num_eng0,4,/
116,117,사용,num_kor0,9,USE,num_eng0,9,/
117,118,사용,num_kor0,9,USE,num_eng0,9,/
118,119,사용,num_kor0,9,USE,num_eng0,9,/
119,120,사용,num_kor0,9,USE,num_eng0,9,/
120,121,사용,num_kor0,9,USE,num_eng0,9,/
121,122,삭제,num_kor0,4,DEL,num_eng0,4,/
122,123,삭제,num_kor0,4,DEL,num_eng0,4,/
123,124,삭제,num_kor0,4,DEL,num_eng0,4,/
124,125,삭제,num_kor0,4,DEL,num_eng0,4,/
125,126,상담,num_kor0,1,DSCSN,num_eng0,1,/
126,127,생년,num_kor0,1,BRTH,num_eng0,1,/
127,128,생성,num_kor0,2,CRT,num_eng0,2,/
128,129,생성,num_kor0,2,CRT,num_eng0,2,/
129,130,선정,num_kor0,2,SLCTN,num_eng0,2,/
130,131,선정,num_kor0,2,SLCTN,num_eng0,2,/
131,132,선택,num_kor0,1,CHC,num_eng0,1,/
132,133,설립,num_kor0,1,FNDN,num_eng0,1,/
133,134,설정,num_kor0,3,STNG,num_eng0,1,/
134,135,설치,num_kor0,2,INSTL,num_eng0,2,/
135,136,설치,num_kor0,2,INSTL,num_eng0,2,/
136,137,성공,num_kor0,1,SCS,num_eng0,1,/
137,138,송신,num_kor0,3,TRSM,num_eng0,6,/
138,139,송신,num_kor0,3,TRSM,num_eng0,6,/
139,140,송신,num_kor0,3,TRSM,num_eng0,6,/
140,141,수납,num_kor0,1,RCVMT,num_eng0,2,/
141,142,수령,num_kor0,2,RCVMT,num_eng0,2,/
142,143,수료,num_kor0,2,FNSH,num_eng0,1,/
143,144,수신,num_kor0,3,RCPTN,num_eng0,3,/
144,145,수신,num_kor0,3,RCPTN,num_eng0,3,/
145,146,수신,num_kor0,3,RCPTN,num_eng0,3,/
146,147,수정,num_kor0,4,MDFCN,num_eng0,4,/
147,148,수정,num_kor0,4,MDFCN,num_eng0,4,/
148,149,수정,num_kor0,4,MDFCN,num_eng0,4,/
149,150,수정,num_kor0,4,MDFCN,num_eng0,4,/
150,151,수집,num_kor0,1,CLCT,num_eng0,1,/
151,152,승인,num_kor0,3,APRV,num_eng0,3,/
152,153,승인,num_kor0,3,APRV,num_eng0,3,/
153,154,승인,num_kor0,3,APRV,num_eng0,3,/
154,155,시작,num_kor0,4,BGNG,num_eng0,4,/
155,156,시작,num_kor0,4,BGNG,num_eng0,4,/
156,157,시작,num_kor0,4,BGNG,num_eng0,4,/
157,158,시작,num_kor0,4,BGNG,num_eng0,4,/
158,159,시행,num_kor0,1,ENFC,num_eng0,1,/
159,160,신고,num_kor0,2,DCLR,num_eng0,2,/
160,161,신고,num_kor0,2,DCLR,num_eng0,2,/
161,162,신규,num_kor0,1,NEW,num_eng0,1,/
162,163,신청,num_kor0,13,APLY,num_eng0,6,/
163,164,신청,num_kor0,13,APLY,num_eng0,6,/
164,165,신청,num_kor0,13,APLY,num_eng0,6,/
165,166,신청,num_kor0,13,APLY,num_eng0,6,/
166,167,신청,num_kor0,13,APLY,num_eng0,6,/
167,168,신청,num_kor0,13,APLY,num_eng0,6,/
168,169,신청자,num_kor0,1,APLCNT,num_eng0,1,/
169,170,실행,num_kor0,3,EXCN,num_eng0,1,/
170,171,심사,num_kor0,1,SRNG,num_eng0,1,/
171,172,심의,num_kor0,1,DLBR,num_eng0,1,/
172,173,여권,num_kor0,1,PSPRT,num_eng0,1,/
173,174,연계,num_kor0,4,LINK,num_eng0,4,/
174,175,연계,num_kor0,4,LINK,num_eng0,4,/
175,176,연계,num_kor0,4,LINK,num_eng0,4,/
176,177,연계,num_kor0,4,LINK,num_eng0,4,/
177,178,예약,num_kor0,7,RSVE,num_eng0,2,/
178,179,예약,num_kor0,7,RSVE,num_eng0,2,/
179,180,오류,num_kor0,1,ERR,num_eng0,1,/
180,181,완료,num_kor0,2,CMPTN,num_eng0,2,/
181,182,완료,num_kor0,2,CMPTN,num_eng0,2,/
182,183,외국인,num_kor0,2,FRGNR,num_eng0,2,/
183,184,외국인,num_kor0,2,FRGNR,num_eng0,2,/
184,185,요청,num_kor0,2,DMND,num_eng0,2,/
185,186,요청,num_kor0,2,DMND,num_eng0,2,/
186,187,운영,num_kor0,1,OPR,num_eng0,1,/
187,188,위촉,num_kor0,1,ENTRST,num_eng0,1,/
188,189,유효,num_kor0,4,VLD,num_eng0,4,/
189,190,유효,num_kor0,4,VLD,num_eng0,4,/
190,191,유효,num_kor0,4,VLD,num_eng0,4,/
191,192,유효,num_kor0,4,VLD,num_eng0,4,/
192,193,응답,num_kor0,1,RSPNS,num_eng0,1,/
193,194,의뢰,num_kor0,1,RQST,num_eng0,1,/
194,195,이관,num_kor0,3,TRNSF,num_eng0,3,/
195,196,이관,num_kor0,3,TRNSF,num_eng0,3,/
196,197,이관,num_kor0,3,TRNSF,num_eng0,3,/
197,198,이동,num_kor0,1,MVMN,num_eng0,1,/
198,199,이메일,num_kor0,3,EML,num_eng0,3,/
199,200,이메일,num_kor0,3,EML,num_eng0,3,/
200,201,이메일,num_kor0,3,EML,num_eng0,3,/
201,202,이의,num_kor0,1,OBJC,num_eng0,1,/
202,203,인수,num_kor0,3,ACPTN,num_eng0,1,/
203,204,인증,num_kor0,2,CTFCN,num_eng0,2,/
204,205,인증,num_kor0,2,CTFCN,num_eng0,2,/
205,206,임시,num_kor0,5,TMPRY,num_eng0,1,/
206,207,입고,num_kor0,7,WRHS,num_eng0,1,/
207,208,입국,num_kor0,1,ENTCNY,num_eng0,1,/
208,209,입금,num_kor0,1,DEPST,num_eng0,1,/
209,210,입력,num_kor0,3,INPT,num_eng0,3,/
210,211,입력,num_kor0,3,INPT,num_eng0,3,/
211,212,입력,num_kor0,3,INPT,num_eng0,3,/
212,213,입사,num_kor0,3,JNCMP,num_eng0,1,/
213,214,자격,num_kor0,5,QLFC,num_eng0,1,/
214,215,자료,num_kor0,1,DATA,num_eng0,1,/
215,216,자택,num_kor0,1,HOME,num_eng0,1,/
216,217,작성,num_kor0,2,WRT,num_eng0,2,/
217,218,작성,num_kor0,2,WRT,num_eng0,2,/
218,219,작업,num_kor0,4,JOB,num_eng0,4,/
219,220,작업,num_kor0,4,JOB,num_eng0,4,/
220,221,작업,num_kor0,4,JOB,num_eng0,4,/
221,222,작업,num_kor0,4,JOB,num_eng0,4,/
222,223,저장,num_kor0,2,STRGE,num_eng0,2,/
223,224,저장,num_kor0,2,STRGE,num_eng0,2,/
224,225,적용,num_kor0,11,APLCN,num_eng0,9,/
225,226,적용,num_kor0,11,APLCN,num_eng0,9,/
226,227,적용,num_kor0,11,APLCN,num_eng0,9,/
227,228,적용,num_kor0,11,APLCN,num_eng0,9,/
228,229,적용,num_kor0,11,APLCN,num_eng0,9,/
229,230,적용,num_kor0,11,APLCN,num_eng0,9,/
230,231,적용,num_kor0,11,APLCN,num_eng0,9,/
231,232,적용,num_kor0,11,APLCN,num_eng0,9,/
232,233,적용,num_kor0,11,APLCN,num_eng0,9,/
233,234,적합,num_kor0,1,STBLT,num_eng0,1,/
234,235,전송,num_kor0,3,TRSM,num_eng0,6,/
235,236,전송,num_kor0,3,TRSM,num_eng0,6,/
236,237,전송,num_kor0,3,TRSM,num_eng0,6,/
237,238,전입,num_kor0,1,MVIN,num_eng0,1,/
238,239,전화번호,num_kor0,1,TELNO,num_eng0,1,/
239,240,점검,num_kor0,2,CHCK,num_eng0,2,/
240,241,점검,num_kor0,2,CHCK,num_eng0,2,/
241,242,접속,num_kor0,2,CNTN,num_eng0,2,/
242,243,접속,num_kor0,2,CNTN,num_eng0,2,/
243,244,접수,num_kor0,5,RCPT,num_eng0,5,/
244,245,접수,num_kor0,5,RCPT,num_eng0,5,/
245,246,접수,num_kor0,5,RCPT,num_eng0,5,/
246,247,접수,num_kor0,5,RCPT,num_eng0,5,/
247,248,접수,num_kor0,5,RCPT,num_eng0,5,/
248,249,정산,num_kor0,7,CLCLN,num_eng0,2,/
249,250,정산,num_kor0,7,CLCLN,num_eng0,2,/
250,251,제외,num_kor0,1,EXCL,num_eng0,1,/
251,252,제출,num_kor0,3,SBMSN,num_eng0,3,/
252,253,제출,num_kor0,3,SBMSN,num_eng0,3,/
253,254,제출,num_kor0,3,SBMSN,num_eng0,3,/
254,255,조사,num_kor0,4,EXMN,num_eng0,4,/
255,256,조사,num_kor0,4,EXMN,num_eng0,4,/
256,257,조사,num_kor0,4,EXMN,num_eng0,4,/
257,258,조사,num_kor0,4,EXMN,num_eng0,4,/
258,259,조치,num_kor0,1,ACTN,num_eng0,1,/
259,260,조회,num_kor0,2,INQ,num_eng0,2,/
260,261,조회,num_kor0,2,INQ,num_eng0,2,/
261,262,종결,num_kor0,1,TRMN,num_eng0,1,/
262,263,종료,num_kor0,5,END,num_eng0,5,/
263,264,종료,num_kor0,5,END,num_eng0,5,/
264,265,종료,num_kor0,5,END,num_eng0,5,/
265,266,종료,num_kor0,5,END,num_eng0,5,/
266,267,종료,num_kor0,5,END,num_eng0,5,/
267,268,주민등록,num_kor0,1,RRNO,num_eng0,1,/
268,269,준공,num_kor0,1,CMCN,num_eng0,1,/
269,270,중복,num_kor0,1,DPCN,num_eng0,1,/
270,271,지급,num_kor0,3,GIVE,num_eng0,1,/
271,272,지정,num_kor0,3,APNT,num_eng0,3,/
272,273,지정,num_kor0,3,APNT,num_eng0,3,/
273,274,지정,num_kor0,3,APNT,num_eng0,3,/
274,275,지하,num_kor0,1,BSMNT,num_eng0,1,/
275,276,집계,num_kor0,2,AGRT,num_eng0,2,/
276,277,집계,num_kor0,2,AGRT,num_eng0,2,/
277,278,착공,num_kor0,1,BGNCST,num_eng0,1,/
278,279,참석,num_kor0,1,ATND,num_eng0,1,/
279,280,처리,num_kor0,7,PRCS,num_eng0,7,/
280,281,처리,num_kor0,7,PRCS,num_eng0,7,/
281,282,처리,num_kor0,7,PRCS,num_eng0,7,/
282,283,처리,num_kor0,7,PRCS,num_eng0,7,/
283,284,처리,num_kor0,7,PRCS,num_eng0,7,/
284,285,처리,num_kor0,7,PRCS,num_eng0,7,/
285,286,처리,num_kor0,7,PRCS,num_eng0,7,/
286,287,처분,num_kor0,1,DSPS,num_eng0,1,/
287,288,첨부,num_kor0,1,ATCH,num_eng0,1,/
288,289,청구,num_kor0,5,CLM,num_eng0,1,/
289,290,최종,num_kor0,7,LAST,num_eng0,8,/
290,291,최종,num_kor0,7,LAST,num_eng0,8,/
291,292,최종,num_kor0,7,LAST,num_eng0,8,/
292,293,최종,num_kor0,7,LAST,num_eng0,8,/
293,294,최종,num_kor0,7,LAST,num_eng0,8,/
294,295,최종,num_kor0,7,LAST,num_eng0,8,/
295,296,최초,num_kor0,5,FIRST,num_eng0,3,/
296,297,최초,num_kor0,5,FIRST,num_eng0,3,/
297,298,최초,num_kor0,5,FIRST,num_eng0,3,/
298,299,추출,num_kor0,1,EXTR,num_eng0,1,/
299,300,출력,num_kor0,3,OTPT,num_eng0,3,/
300,301,출력,num_kor0,3,OTPT,num_eng0,3,/
301,302,출력,num_kor0,3,OTPT,num_eng0,3,/
302,303,출생,num_kor0,1,BORN,num_eng0,1,/
303,304,취득,num_kor0,2,ACQS,num_eng0,1,/
304,305,취소,num_kor0,3,RTRCN,num_eng0,3,/
305,306,취소,num_kor0,3,RTRCN,num_eng0,3,/
306,307,취소,num_kor0,3,RTRCN,num_eng0,3,/
307,308,탈퇴,num_kor0,2,WHDWL,num_eng0,2,/
308,309,탈퇴,num_kor0,2,WHDWL,num_eng0,2,/
309,310,통계,num_kor0,2,STATS,num_eng0,2,/
310,311,통계,num_kor0,2,STATS,num_eng0,2,/
311,312,통보,num_kor0,3,NTFCTN,num_eng0,3,/
312,313,통보,num_kor0,3,NTFCTN,num_eng0,3,/
313,314,통보,num_kor0,3,NTFCTN,num_eng0,3,/
314,315,통지,num_kor0,1,AVTSMT,num_eng0,1,/
315,316,퇴직,num_kor0,2,RTRM,num_eng0,1,/
316,317,판정,num_kor0,1,JGMT,num_eng0,1,/
317,318,팝업,num_kor0,1,POPUP,num_eng0,1,/
318,319,평가,num_kor0,4,EVL,num_eng0,4,/
319,320,평가,num_kor0,4,EVL,num_eng0,4,/
320,321,평가,num_kor0,4,EVL,num_eng0,4,/
321,322,평가,num_kor0,4,EVL,num_eng0,4,/
322,323,폐기,num_kor0,1,DSCD,num_eng0,1,/
323,324,폐쇄,num_kor0,1,CLSG,num_eng0,1,/
324,325,폐업,num_kor0,1,CLSBIZ,num_eng0,1,/
325,326,폐지,num_kor0,2,ABL,num_eng0,2,/
326,327,폐지,num_kor0,2,ABL,num_eng0,2,/
327,328,표시,num_kor0,1,INDCT,num_eng0,1,/
328,329,필수,num_kor0,1,ESNTL,num_eng0,1,/
329,330,합격,num_kor0,1,PASS,num_eng0,1,/
330,331,해당,num_kor0,1,RLVT,num_eng0,1,/
331,332,해제,num_kor0,1,RMV,num_eng0,1,/
332,333,해지,num_kor0,1,CNCLTN,num_eng0,1,/
333,334,허가,num_kor0,1,PRMSN,num_eng0,1,/
334,335,확인,num_kor0,3,IDNTY,num_eng0,3,/
335,336,확인,num_kor0,3,IDNTY,num_eng0,3,/
336,337,확인,num_kor0,3,IDNTY,num_eng0,3,/
337,338,확정,num_kor0,2,CFMTN,num_eng0,2,/
338,339,확정,num_kor0,2,CFMTN,num_eng0,2,/
339,340,회계,num_kor0,1,ACNT,num_eng0,1,/
340,341,회사,num_kor0,1,CO,num_eng0,1,/
341,342,회신,num_kor0,1,RPLY,num_eng0,1,/
342,343,회의,num_kor0,1,MTG,num_eng0,1,/
343,344,휴대,num_kor0,1,MBL,num_eng0,1,/
344,345,휴업,num_kor0,2,TCBIZ,num_eng0,2,/
345,346,휴업,num_kor0,2,TCBIZ,num_eng0,2,/
346,347,휴일,num_kor0,1,HLDY,num_eng0,1,/
347,348,HTML,num_kor0,1,HTML,num_eng0,1,/
348,349,SMS,num_kor0,3,SMS,num_eng0,3,/
349,350,SMS,num_kor0,3,SMS,num_eng0,3,/
350,351,SMS,num_kor0,3,SMS,num_eng0,3,/
351,352,CTC,num_kor0,6,CTC,num_eng0,6,/
352,353,CTC,num_kor0,6,CTC,num_eng0,6,/
353,354,CTC,num_kor0,6,CTC,num_eng0,6,/
354,355,CTC,num_kor0,6,CTC,num_eng0,6,/
355,356,CTC,num_kor0,6,CTC,num_eng0,6,/
356,357,CTC,num_kor0,6,CTC,num_eng0,6,/
357,358,CY,num_kor0,1,CY,num_eng0,1,/
358,359,가족,num_kor0,8,KVS,num_eng0,93,/
359,360,가족,num_kor0,8,KVS,num_eng0,93,/
360,361,가족,num_kor0,8,KVS,num_eng0,93,/
361,362,가족,num_kor0,8,KVS,num_eng0,93,/
362,363,가족,num_kor0,8,KVS,num_eng0,93,/
363,364,가족,num_kor0,8,KVS,num_eng0,93,/
364,365,가족,num_kor0,8,KVS,num_eng0,93,/
365,366,가족,num_kor0,8,KVS,num_eng0,93,/
366,367,간접평가,num_kor0,2,KVS,num_eng0,93,/
367,368,간접평가,num_kor0,2,KVS,num_eng0,93,/
368,369,객차,num_kor0,7,PSC,num_eng0,5,/
369,370,객차,num_kor0,7,TRN,num_eng0,77,/
370,371,객차,num_kor0,7,TRN,num_eng0,77,/
371,372,객차,num_kor0,7,PSC,num_eng0,5,/
372,373,객차,num_kor0,7,PSC,num_eng0,5,/
373,374,객차,num_kor0,7,PSC,num_eng0,5,/
374,375,객차,num_kor0,7,PSC,num_eng0,5,/
375,376,건강,num_kor0,1,KVS,num_eng0,93,/
376,377,검사자,num_kor0,1,OVH,num_eng0,1,/
377,378,검수도중,num_kor0,2,ISP,num_eng0,5,/
378,379,검수도중,num_kor0,2,ISP,num_eng0,5,/
379,380,검수,num_kor0,3,ISP,num_eng0,5,/
380,381,검수,num_kor0,3,ISP,num_eng0,5,/
381,382,검수,num_kor0,3,ISP,num_eng0,5,/
382,383,검토,num_kor0,3,EXAM,num_eng0,2,/
383,384,검토,num_kor0,3,EXAM,num_eng0,2,/
384,385,계산,num_kor0,1,CALC,num_eng0,1,/
385,386,계약,num_kor0,7,CNTT,num_eng0,4,/
386,387,계약,num_kor0,7,CNTT,num_eng0,4,/
387,388,계중,num_kor0,1,WGH,num_eng0,1,/
388,389,계획,num_kor0,2,PLN,num_eng0,1,/
389,390,고객,num_kor0,15,CUST,num_eng0,15,/
390,391,고객,num_kor0,15,CUST,num_eng0,15,/
391,392,고객,num_kor0,15,CUST,num_eng0,15,/
392,393,고객,num_kor0,15,CUST,num_eng0,15,/
393,394,고객,num_kor0,15,CUST,num_eng0,15,/
394,395,고객,num_kor0,15,CUST,num_eng0,15,/
395,396,고객,num_kor0,15,CUST,num_eng0,15,/
396,397,고객,num_kor0,15,CUST,num_eng0,15,/
397,398,고객,num_kor0,15,CUST,num_eng0,15,/
398,399,고객,num_kor0,15,CUST,num_eng0,15,/
399,400,고객,num_kor0,15,CUST,num_eng0,15,/
400,401,고객,num_kor0,15,CUST,num_eng0,15,/
401,402,고객,num_kor0,15,CUST,num_eng0,15,/
402,403,고객,num_kor0,15,CUST,num_eng0,15,/
403,404,고용,num_kor0,3,KVS,num_eng0,93,/
404,405,고용,num_kor0,3,PERS,num_eng0,16,/
405,406,고용,num_kor0,3,PERS,num_eng0,16,/
406,407,공적,num_kor0,3,KVS,num_eng0,93,/
407,408,공적,num_kor0,3,KVS,num_eng0,93,/
408,409,공적,num_kor0,3,KVS,num_eng0,93,/
409,410,공차,num_kor0,1,EPC,num_eng0,1,/
410,411,관리,num_kor0,6,MG,num_eng0,4,/
411,412,관리,num_kor0,6,MG,num_eng0,4,/
412,413,관세청,num_kor0,2,KCS,num_eng0,9,/
413,414,관세청,num_kor0,2,KCS,num_eng0,9,/
414,415,교육,num_kor0,27,EDUE,num_eng0,6,/
415,416,교육,num_kor0,27,EDUE,num_eng0,6,/
416,417,교육,num_kor0,27,EDUE,num_eng0,6,/
417,418,교육,num_kor0,27,EDUL,num_eng0,2,/
418,419,교육,num_kor0,27,EDUL,num_eng0,2,/
419,420,교육,num_kor0,27,EDU,num_eng0,11,/
420,421,교육,num_kor0,27,EDU,num_eng0,11,/
421,422,교육,num_kor0,27,EDUU,num_eng0,2,/
422,423,교육,num_kor0,27,KVS,num_eng0,93,/
423,424,교육,num_kor0,27,KVS,num_eng0,93,/
424,425,교육,num_kor0,27,EDUU,num_eng0,2,/
425,426,교육,num_kor0,27,EDU,num_eng0,11,/
426,427,교육,num_kor0,27,EDUE,num_eng0,6,/
427,428,교육,num_kor0,27,EDU,num_eng0,11,/
428,429,교육,num_kor0,27,EDU,num_eng0,11,/
429,430,교육,num_kor0,27,EDU,num_eng0,11,/
430,431,교육,num_kor0,27,EDU,num_eng0,11,/
431,432,교육,num_kor0,27,EDUE,num_eng0,6,/
432,433,교육,num_kor0,27,EDU,num_eng0,11,/
433,434,교육,num_kor0,27,EDU,num_eng0,11,/
434,435,교육,num_kor0,27,EDU,num_eng0,11,/
435,436,교육,num_kor0,27,EDU,num_eng0,11,/
436,437,구간별,num_kor0,1,SGMP,num_eng0,1,/
437,438,구간,num_kor0,5,TRN,num_eng0,77,/
438,439,구간,num_kor0,5,TRN,num_eng0,77,/
439,440,구간,num_kor0,5,TRN,num_eng0,77,/
440,441,구간,num_kor0,5,TRN,num_eng0,77,/
441,442,구역,num_kor0,3,ZONE,num_eng0,3,/
442,443,구역,num_kor0,3,ZONE,num_eng0,3,/
443,444,구역,num_kor0,3,ZONE,num_eng0,3,/
444,445,국적,num_kor0,2,KVS,num_eng0,93,/
445,446,국적,num_kor0,2,KVS,num_eng0,93,/
446,447,군수,num_kor0,1,MCRG,num_eng0,1,/
447,448,근무,num_kor0,5,KVS,num_eng0,93,/
448,449,근무,num_kor0,5,KVS,num_eng0,93,/
449,450,기관,num_kor0,1,ISTT,num_eng0,1,/
450,451,기관차,num_kor0,2,LOCO,num_eng0,2,/
451,452,기관차,num_kor0,2,LOCO,num_eng0,2,/
452,453,기술,num_kor0,1,KVS,num_eng0,93,/
453,454,나이,num_kor0,1,KVS,num_eng0,93,/
454,455,누적,num_kor0,2,ACM,num_eng0,3,/
455,456,누적,num_kor0,2,ACM,num_eng0,3,/
456,457,다구역,num_kor0,1,MZON,num_eng0,1,/
457,458,다이아,num_kor0,4,DIA,num_eng0,4,/
458,459,다이아,num_kor0,4,DIA,num_eng0,4,/
459,460,다이아,num_kor0,4,DIA,num_eng0,4,/
460,461,다이아,num_kor0,4,DIA,num_eng0,4,/
461,462,다품목,num_kor0,1,MITM,num_eng0,1,/
462,463,단가,num_kor0,3,UTPR,num_eng0,3,/
463,464,단가,num_kor0,3,UTPR,num_eng0,3,/
464,465,단가,num_kor0,3,UTPR,num_eng0,3,/
465,466,당일,num_kor0,1,THDD,num_eng0,1,/
466,467,대상,num_kor0,3,TGT,num_eng0,1,/
467,468,대체,num_kor0,7,RPLC,num_eng0,7,/
468,469,대체,num_kor0,7,RPLC,num_eng0,7,/
469,470,대체,num_kor0,7,RPLC,num_eng0,7,/
470,471,대체,num_kor0,7,RPLC,num_eng0,7,/
471,472,대체,num_kor0,7,RPLC,num_eng0,7,/
472,473,대체,num_kor0,7,RPLC,num_eng0,7,/
473,474,대체,num_kor0,7,RPLC,num_eng0,7,/
474,475,대표,num_kor0,5,REP,num_eng0,4,/
475,476,대표,num_kor0,5,REP,num_eng0,4,/
476,477,대표자,num_kor0,5,REPV,num_eng0,3,/
477,478,대표자,num_kor0,5,REPV,num_eng0,3,/
478,479,대표자,num_kor0,5,REPV,num_eng0,3,/
479,480,대표,num_kor0,5,REP,num_eng0,4,/
480,481,대표,num_kor0,5,REP,num_eng0,4,/
481,482,도착,num_kor0,18,ARV,num_eng0,19,/
482,483,도착,num_kor0,18,ARV,num_eng0,19,/
483,484,도착,num_kor0,18,ARV,num_eng0,19,/
484,485,도착,num_kor0,18,ARV,num_eng0,19,/
485,486,도착,num_kor0,18,ARV,num_eng0,19,/
486,487,도착,num_kor0,18,ARV,num_eng0,19,/
487,488,도착,num_kor0,18,ARV,num_eng0,19,/
488,489,도착,num_kor0,18,ARV,num_eng0,19,/
489,490,도착,num_kor0,18,ARV,num_eng0,19,/
490,491,도착,num_kor0,18,ARV,num_eng0,19,/
491,492,도착,num_kor0,18,ARV,num_eng0,19,/
492,493,도착,num_kor0,18,ARV,num_eng0,19,/
493,494,도착,num_kor0,18,ARV,num_eng0,19,/
494,495,도착,num_kor0,18,ARV,num_eng0,19,/
495,496,도착,num_kor0,18,ARV,num_eng0,19,/
496,497,동거,num_kor0,1,KVS,num_eng0,93,/
497,498,동력차,num_kor0,8,LCM,num_eng0,7,/
498,499,동력차,num_kor0,8,LCM,num_eng0,7,/
499,500,동력차,num_kor0,8,LCM,num_eng0,7,/

# 참고

In [ ]:
# 변경 체크 로직

s1 = '고구마acAB1!$%@! 32'
s2 = '깎ㅉ니'
s3 = "RR깍찌니12"
s4 = "123깍찌니aS"
print("------------------------------------------------------")
print(re.findall('[A-Z0-9가-힣+]', s1))
print(str(len(re.findall('[A-Z0-9가-힣+]', s1))) + " vs " + str(len(list(s1))))
print(len(re.findall('[A-Z0-9가-힣+]', s1)) == len(list(s1)))
print("------------------------------------------------------")
print(re.findall('[A-Z0-9가-힣+]', s2))
print(str(len(re.findall('[A-Z0-9가-힣+]', s2))) + " vs " + str(len(list(s2))))
print(len(re.findall('[A-Z0-9가-힣+]', s2)) == len(list(s2)))
print("------------------------------------------------------")
print(re.findall('[A-Z0-9가-힣+]', s3))
print(str(len(re.findall('[A-Z0-9가-힣+]', s3))) + " vs " + str(len(list(s3))))
print(len(re.findall('[A-Z0-9가-힣+]', s3)) == len(list(s3)))
print("------------------------------------------------------")
print(re.findall('[A-Z0-9가-힣+]', s4))
print(str(len(re.findall('[A-Z0-9가-힣+]', s4))) + " vs " + str(len(list(s4))))
print(len(re.findall('[A-Z0-9가-힣+]', s4)) == len(list(s4)))
print("------------------------------------------------------")

In [ ]:
# 각각 중복제거 대신에... 한글+영문 아이디 만들어 이걸로 중복제거! + 한글명 정렬!!!

In [ ]:
# # 우선 그대로 원복하고, index list 만들어서 조회만..?
# stwd_total['id'] = stwd_total['stwd_kor'] + stwd_total['stwd_eng']

# print(stwd_unique.shape)
# stwd_unique
# stwd_kor_unique = stwd_unique[['index', 'stwd_kor', 'num_kor', 'dupl_list_kor']]
# stwd_eng_unique = stwd_unique[['index', 'stwd_eng', 'num_eng', 'dupl_list_eng']]
# stwd_kor_unique

In [ ]:
# stwd_kor_unique = stwd_unique[['index', 'stwd_kor', 'num_kor', 'dupl_list_kor']]
# stwd_eng_unique = stwd_unique[['index', 'stwd_eng', 'num_eng', 'dupl_list_eng']]
# stwd_kor_unique

In [ ]:
# (일렬)전체 그대로
stwd_total

# 위에서 표준 적용??

In [12]:
# 표준 파일 불러오기
sheet_name = "공통표준단어"
input_path = os.path.join(os.getcwd(), "input\\")
public_stwd = pd.read_excel(input_path + "공공데이터 공통표준용어(2021.12월).xlsx", sheet_name=sheet_name, header=0)
public_stwd = public_stwd[['NO', '공통표준단어명', '공통표준단어영문약어명']]
print(public_stwd.shape)
public_stwd.head()

(526, 3)

   NO 공통표준단어명 공통표준단어영문약어명
0   1      가능      PSBLTY
1   2      가동      OPRTNG
2   3     가맹점        FRCS
3   4      가산        ADTN
4   5      가상          VR

In [13]:
# 표준 영문명으로 자동 기입(널 제외)
std_chk = stwd_total.merge(public_stwd, left_on = 'stwd_kor', right_on = '공통표준단어명', how = 'left')
for i in range(std_chk.shape[0]):
    notna_chk = std_chk['stwd_eng'].notna()[i]
    if notna_chk:
        std_chk.loc[0, 'stwd_eng'] = std_chk.loc[0, '공통표준단어영문약어명']
std_chk_list = ['index', 'stwd_kor', 'num_kor', 'stwd_eng', 'num_eng']
std_chk = std_chk[std_chk_list]
print(std_chk.shape)
std_chk.tail()

(10912, 5)

       index stwd_kor   num_kor stwd_eng num_eng
10907   1360           num_kor7
10908   1361           num_kor7
10909   1362           num_kor7
10910   1363           num_kor7
10911   1364           num_kor7

In [14]:
# 중복제거하여.. (r검사)

# print(sum(std_chk_eng['stwd_kor'].notna()))
# std_chk_eng[std_chk_eng['stwd_kor'].notna()]
print(sum(std_chk.loc[std_chk['stwd_kor'] != '', 'stwd_kor'].notna()))
std_chk.loc[std_chk['stwd_kor'] != '', 'stwd_kor']

# print(sum(df_step_1['stwd_kor'].notna()))
# df_step_1[df_step_1['stwd_kor'].notna()]

# print(sum(df_step_1.loc[df_step_1['stwd_kor'] != '', 'stwd_kor'].notna()))
# df_step_1.loc[df_step_1['stwd_kor'] != '', 'stwd_kor']
# print(sum(stwd_total.loc[stwd_total['stwd_kor'] != '', 'stwd_kor'].notna()))
# stwd_total.loc[stwd_total['stwd_kor'] != '', 'stwd_kor']

4371

0       가입
1       개설
2       개시
3       개업
4       개인
        ..
9242     수
9249     수
9250     수
9251     수
9253     수
Name: stwd_kor, Length: 4371, dtype: object

# 한/영  중복제거 후 통합

In [25]:
def chk_unique():
    global df_step_1   
    df_step_1 = std_chk
    # 중복제거 후 다시 합쳐서 검사(1안)

    # 한글 중복제거
    col_stwd_kor = ['stwd_kor', 'num_kor']
    unique_kor = stwd_total['stwd_kor'].drop_duplicates()
    stwd_kor_unique = stwd_total.loc[unique_kor.index][col_stwd_kor]
    print("한글명중복제거:"+ str(stwd_kor_unique.shape))
    # stwd_kor_unique

    # 영문 중복제거
    col_stwd_eng = ['stwd_eng', 'num_eng']
    unique_eng = stwd_total['stwd_eng'].drop_duplicates()
    stwd_eng_unique = stwd_total.loc[unique_eng.index][col_stwd_eng]
    print("영문명중복제거:"+ str(stwd_eng_unique.shape))
    # stwd_eng_unique.tail(100)

    # 한글+영문 일렬 세우기
    df_step_1 = pd.DataFrame(stwd_total['index'])
    df_step_1 = df_step_1.merge(
        stwd_kor_unique,
        left_index = True,
        right_index = True,
        how = 'left'
    ).merge(
        stwd_eng_unique,
        left_index = True,
        right_index = True,
        how = 'left'
    )
    print(df_step_1.shape)
    df_step_1

    df_step_1.to_excel(input_path + "df_step_1" + str(dt.datetime.now().strftime('%y%m%d_%H%M%S')) + ".xlsx")
    print(df_step_1.shape)
    df_step_1
chk_unique()
df_step_1

한글명중복제거:(678, 2)
영문명중복제거:(719, 2)
(10912, 5)
(10912, 5)

       index stwd_kor   num_kor stwd_eng   num_eng
0          1       가입  num_kor0     JOIN  num_eng0
1          2       개설  num_kor0    ESTBL  num_eng0
2          3       개시  num_kor0    FTRSN  num_eng0
3          4       개업  num_kor0    OPBIZ  num_eng0
4          5       개인  num_kor0     INDV  num_eng0
...      ...      ...       ...      ...       ...
10907   1360      NaN       NaN      NaN       NaN
10908   1361      NaN       NaN      NaN       NaN
10909   1362      NaN       NaN      NaN       NaN
10910   1363      NaN       NaN      NaN       NaN
10911   1364      NaN       NaN      NaN       NaN

[10912 rows x 5 columns]

# 표준 적용 로직(한글 기준)

In [16]:
df_step_1.iloc[511]

index       512
stwd_kor    NaN
num_kor     NaN
stwd_eng    NaN
num_eng     NaN
Name: 511, dtype: object

# 한글 기준 표준 적용 로직

In [ ]:
# # 널 제외 한글표준단어의 영문명 자동 기입
# df_step_1 = df_step_1.merge(public_stwd, left_on = 'stwd_kor', right_on = '공통표준단어명', how = 'left')
# for i in range(df_step_1.shape[0]):
#     notna_chk = df_step_1['stwd_eng'].notna()[i]
#     if notna_chk:
#         df_step_1.loc[0, 'stwd_eng'] = df_step_1.loc[0, '공통표준단어영문약어명']
# df_step_1_list = ['index', 'stwd_kor', 'num_kor', 'stwd_eng', 'num_eng']
# df_step_1 = df_step_1[df_step_1_list]
# print(df_step_1.shape)
# df_step_1.head()

In [ ]:
std_chk_eng.loc[(std_chk_eng['stwd_eng'] == 'ZIP') & (std_chk_eng['stwd_kor'] != ''), 'stwd_kor'].drop_duplicates().values[0]

In [ ]:
std_chk_eng.loc[(std_chk_eng['stwd_eng'] == 'ZIP') & (std_chk_eng['stwd_kor'] != ''), 'stwd_kor']

In [ ]:
'!' + '_'.join(std_chk_eng.loc[(std_chk_eng['stwd_eng'] == 'ZIP') & (std_chk_eng['stwd_kor'] != ''), 'stwd_kor'].to_list())

In [ ]:
tmp_df_step_1 = df_step_1
print(tmp_df_step_1.shape)

In [26]:

### 값이 한개라도 있을 경우만 카운트 ###

total_cnt = len(df_step_1)
null_list = []
for i in range(total_cnt):    
    # row 기준 널 체크(값이 한개라도 있을 경우 포함)
    if df_step_1.iloc[i].notna().sum() > 1:
        null_list.append(i)

df_step_1 = df_step_1.loc[null_list]
print(df_step_1.shape)

(869, 5)

In [27]:
df_step_1.iloc[511]

index            399
stwd_kor         NaN
num_kor          NaN
stwd_eng         ZIP
num_eng     num_eng1
Name: 1762, dtype: object

In [ ]:
df_step_1.index

In [28]:
# 원래 표준과 병합(수기 수정을 위해)
df_step_1 = df_step_1.merge(
    input_test,
    left_on = 'index',
    right_on = 'No',
    how = 'left'
)

In [29]:
df_step_1.iloc[511]

index                                   399
stwd_kor                                NaN
num_kor                                 NaN
stwd_eng                                ZIP
num_eng                            num_eng1
No                                      399
용어명                                고객우편번호주소
용어명 분리                          고객_우편_번호_주소
용어설명              한국철도공사 물류고객(XROIS)우편번호 주소
영문명
영문약어명        CUST_ZIP_ADR
도메인명                                 내역V100
데이터타입                               VARCHAR
데이터길이                                   100
소수점이하
생성일(제정일)                2021-07-01 00:00:00
범정부표준여부                            코레일_기관표준
정보시스템(DB)                             XROIS
관련필드/용어
Name: 511, dtype: object

In [30]:
# 표준화 (한글명 기준 표준 영문명으로 대체)
df_step_1 = df_step_1.merge(public_stwd, left_on = 'stwd_kor', right_on = '공통표준단어명', how = 'left')
for i in range(df_step_1.shape[0]):
    notna_chk = df_step_1['stwd_eng'].notna()[i]
    if notna_chk:
        df_step_1.loc[0, 'stwd_eng'] = df_step_1.loc[0, '공통표준단어영문약어명']
        
# 영문 개수 세기
dup_list_eng = []
dup_cnt_eng = []
for i in range(df_step_1.shape[0]):
    dup_list_eng = df_step_1['stwd_eng'].to_list().count(df_step_1.loc[i, 'stwd_eng'])
    dup_cnt_eng.append(dup_list_eng)
df_step_1 = pd.concat([df_step_1, pd.DataFrame(dup_cnt_eng, columns = {"eng_cnt"})], axis = 1)

# 컬럼 추리기
df_step_1_list = ['index', 'stwd_eng', 'stwd_kor', '용어명 분리', '영문약어명', 'eng_cnt']
df_step_1 = df_step_1[df_step_1_list]
df_step_1

,index,stwd_eng,stwd_kor,용어명 분리,영문약어명,eng_cnt
0,1,JOIN,가입,가입_일자,JOIN_YMD,1
1,2,ESTBL,개설,개설_일자,ESTBL_YMD,1
2,3,FTRSN,개시,개시_일자,FTRSN_YMD,1
3,4,OPBIZ,개업,개업_일자,OPBIZ_YMD,1
4,5,INDV,개인,개인_정보_동의_여부,INDV_INFO_AGRE_YN,1
...,...,...,...,...,...,...
864,1348,GROD,근거,운임_요금_변경_근거_내용,PRC_FARE_CHG_GROD_CONT,1
865,769,NaN,최종합계,열차_통과_톤_수_(최종합계),LAST_SUM_NSTP_TON,150
866,1060,NaN,10FT,해수부_내국선박_적재_컨테이너_10FT_수,MOF_KV_CMCT_10FT,150
867,1061,NaN,20FT,해수부_내국선박_적재_컨테이너_20FT_수,MOF_KV_CMCT_20FT,150
868,1062,NaN,40FT,해수부_내국선박_적재_컨테이너_40FT_수,MOF_KV_CMCT_40FT,150

In [31]:
df_step_1.iloc[511]

index                                  399
stwd_eng                               ZIP
stwd_kor                               NaN
용어명 분리                         고객_우편_번호_주소
영문약어명       CUST_ZIP_ADR
eng_cnt                                  1
Name: 511, dtype: object

In [ ]:
# 널값 있음!
df_step_1[df_step_1['stwd_kor'].isna()]

In [ ]:
std_chk.loc[(std_chk['stwd_kor'] == df_step_1.loc[77, 'stwd_kor']) & (df_step_1['stwd_kor'] != '')]

In [ ]:
o = 1000
print(df_step_1['stwd_kor'].isna()[o])
df_step_1['stwd_kor'][o]

In [ ]:
df_step_1.loc[0, 'stwd_kor']

In [ ]:
df_step_1.loc[20, 'stwd_eng']

In [ ]:
'!' + '_'.join(std_chk.loc[(std_chk['stwd_eng'] == df_step_1.loc[20, 'stwd_eng']) 
                           & (df_step_1['stwd_kor'] == ''), 'stwd_kor'].to_list())

In [ ]:
df_step_1.loc[0]

In [ ]:
std_chk.loc[0]

In [ ]:
std_chk.loc[std_chk['stwd_eng'] == '20FT', 'stwd_kor']

In [ ]:
std_chk.loc[std_chk['stwd_kor'] == '수령']

In [ ]:
df_step_1.loc[185, 'stwd_eng']

In [ ]:
df_step_1.loc[845, 'stwd_eng']

In [ ]:
'!'+'_'.join(set(std_chk.loc[(std_chk['stwd_eng'] == df_step_1.loc[193, 'stwd_eng']) & (df_step_1['stwd_kor'] != ''), 'stwd_kor'].to_list()))

In [ ]:
"_".join(set(std_chk.loc[std_chk['stwd_eng'] == 'TRN', 'stwd_kor']))

In [ ]:
"_".join(set(std_chk.loc[std_chk['stwd_eng'] == 'TRN', 'stwd_kor']))

In [ ]:
df_step_1.loc[df_step_1['stwd_eng'] == 'TRN']

In [ ]:
std_chk[std_chk['stwd_kor'] == '수령']

In [ ]:
std_chk[std_chk['stwd_eng'] == 'EXC']

In [ ]:
df_step_1.loc[193, 'stwd_eng']

In [ ]:
'!'+'_'.join(set(std_chk.loc[(std_chk['stwd_eng'] == df_step_1.loc[142, 'stwd_eng']) & (df_step_1['stwd_kor'] != ''), 'stwd_kor'].to_list()))

In [ ]:
'!'+'_'.join(set(std_chk.loc[(std_chk['stwd_kor'] == df_step_1.loc[213, 'stwd_kor']), 'stwd_kor'].to_list()))

In [ ]:
'!' + '_'.join(std_chk.loc[(std_chk['stwd_eng'] == df_step_1.loc[142, 'stwd_eng']) 
                           & (df_step_1['stwd_kor'] == ''), 'stwd_kor'].to_list())

In [ ]:
'!'+'_'.join(set(std_chk.loc[(std_chk['stwd_eng'] == df_step_1.loc[20, 'stwd_eng']), 'stwd_kor'].to_list()))

In [ ]:
df_step_1['stwd_kor'][208]

In [ ]:
df_step_1.loc[0, 'stwd_kor'] == '가입'

In [ ]:
# 널값 있음!
df_step_1[df_step_1['stwd_kor'].isna()]

In [ ]:
std_chk.loc[(std_chk['stwd_eng'] == df_step_1.loc[511, 'stwd_eng']) ]

In [ ]:
df_step_1.loc[511, 'stwd_eng']

In [ ]:
'!'+'_'.join(set(std_chk.loc[(std_chk['stwd_eng'] == df_step_1.loc[511, 'stwd_eng']) & (df_step_1['stwd_kor'] != ''), 'stwd_kor'].to_list()))

In [ ]:
i = 511
isna_chk = df_step_1['stwd_kor'].isna()[i]
if isna_chk:
    df_step_1.loc[i, 'stwd_kor'] = '!'+'_'.join(set(std_chk.loc[(std_chk['stwd_eng'] == df_step_1.loc[i, 'stwd_eng']) & (df_step_1['stwd_kor'] != ''), 'stwd_kor'].to_list()))    
    print("DDD"+str(i))
# print(df_step_1.shape)
df_step_1.loc[i]

In [32]:
# 2차
# 널 제외 한글단어를 표준화된 풀데이터(df_step_1)를 다시검색하여 영문명 자동 기입 : 없는 것은 수동기입 필요 
df_step_1['kor_cor_yn'] = ""
for i in range(df_step_1.shape[0]):
    isna_chk = df_step_1['stwd_kor'].isna()[i]
#     df_step_1.loc[0, 'stwd_kor']
    if isna_chk:
#     if isna_chk or df_step_1.loc[i, 'stwd_kor'] != '' or df_step_1.loc[i, 'stwd_kor'] != '!':
#         df_step_1.loc[i, 'stwd_kor'] = '!'+'_'.join(set(std_chk.loc[(std_chk['stwd_eng'] == df_step_1.loc[i, 'stwd_eng']) & (df_step_1['stwd_kor'] != ''), 'stwd_kor'].to_list()))    
        df_step_1.loc[i, 'stwd_kor'] = '_'.join(set(std_chk.loc[(std_chk['stwd_eng'] == df_step_1.loc[i, 'stwd_eng']), 'stwd_kor'].to_list()))
        df_step_1.loc[i, 'kor_cor_yn'] = 'y'
# df_step_1_list = ['index', 'stwd_kor', 'num_kor', 'stwd_eng', 'num_eng']
# tmp_df_step_1 = tmp_df_step_1[df_step_1_list]
# print(tmp_df_step_1.shape)
# tmp_df_step_1.head()


# 순서
df_step_1 = df_step_1.sort_values(['stwd_eng'])
df_step_1.to_excel(output_path+"chk_eng" + ".xlsx")

print(df_step_1.shape)
df_step_1

(869, 7)

,index,stwd_eng,stwd_kor,용어명 분리,영문약어명,eng_cnt,kor_cor_yn
482,127,,월일,생년_월일,BRTH,1,
682,951,1,1,차륜_1_중량_수,WHEL_1_WGT_NUM,1,
857,1055,10FT,_컨테이너,해수부_내국선박_공_(空)_컨테이너_10FT_수_,MOF_KV_EMCT_10FT,1,y
683,952,2,2,차륜_2_중량_수,WHEL_2_WGT_NUM,1,
858,1056,20FT,_컨테이너,해수부_내국선박_공_(空)_컨테이너_20FT_수_,MOF_KV_EMCT_20FT,1,y
...,...,...,...,...,...,...,...
863,1124,NaN,구분코드,화물_하치장_구역_구분코드_내역,FRG_STYD_ZONE_DV_TXT,150,
865,769,NaN,최종합계,열차_통과_톤_수_(최종합계),LAST_SUM_NSTP_TON,150,
866,1060,NaN,10FT,해수부_내국선박_적재_컨테이너_10FT_수,MOF_KV_CMCT_10FT,150,
867,1061,NaN,20FT,해수부_내국선박_적재_컨테이너_20FT_수,MOF_KV_CMCT_20FT,150,
868,1062,NaN,40FT,해수부_내국선박_적재_컨테이너_40FT_수,MOF_KV_CMCT_40FT,150,

In [ ]:
print('_'.join(stwd_total.loc[stwd_total['index'] == 1055, 'stwd_kor'].to_list()))
stwd_total.loc[stwd_total['index'] == 1055, 'stwd_kor']

In [ ]:
df_step_1['stwd_kor'].isna()[i]

In [ ]:
df_step_1

In [ ]:
index = [1055, 1056, 1057, 445, 432, 724, 878, 959, 1011, 934, 781, 454, 239]

In [ ]:
stwd_total.loc[(stwd_total['stwd_eng'] == 'NUM') & (stwd_total['stwd_kor'] != ''), 'stwd_kor'].values[0]

In [ ]:
df_step_1.loc[(df_step_1['stwd_eng'] == 'NUM') & (df_step_1['stwd_kor'] != ''), 'stwd_kor'].values[0]

# (n회 반복 필요)

In [ ]:
# 널 제외 한글단어를 표준화된 풀데이터(df_step_1)를 다시검색하여 영문명 자동 기입 : 없는 것은 수동기입 필요
for i in range(tmp_df_step_1.shape[0]):
    isna_chk = tmp_df_step_1['stwd_kor'].isna()[i]
    if isna_chk:
#         tmp_df_step_1.loc[i, 'stwd_kor'] = stwd_total.loc[(stwd_total['stwd_eng'] == 'NUM') & (stwd_total['stwd_kor'] != ''), 'stwd_kor'].values[0]
        tmp_df_step_1.loc[i, 'stwd_kor'] = df_step_1.loc[(df_step_1['stwd_eng'] == 'NUM') & (df_step_1['stwd_kor'] != ''), 'stwd_kor'].values[0]

    
# df_step_1_list = ['index', 'stwd_kor', 'num_kor', 'stwd_eng', 'num_eng']
# tmp_df_step_1 = tmp_df_step_1[df_step_1_list]
# print(tmp_df_step_1.shape)
# tmp_df_step_1.head()
std_chk_eng

# 순서
tmp_df_step_1 = tmp_df_step_1.sort_values(['stwd_eng'])
tmp_df_step_1.to_excel(output_path+"chk_eng" + ".xlsx")

print(tmp_df_step_1.shape)
tmp_df_step_1

In [ ]:
null_cnt = 0
if null_cnt > 0:
    print("빈칸이 있습니다")
### ㅅ수정 후 재업로드 하여 null count
# ''개수가 1 이상일 경우 일경우 되묻지 않고 안내만
# ''개수가 0일경우 되묻지 않고 안내만

In [ ]:
stwd_total.loc[stwd_total['index'] == 781, 'stwd_kor'].values

In [ ]:
index = [1055, 1056, 1057, 445, 432, 724, 878, 959, 1011, 934, 781, 454, 239]
for i in range(len(index)):
    a = stwd_total.loc[stwd_total['index'] == index[i], 'stwd_kor']
    print(a)
    
a

In [ ]:
df_step_1.loc[(df_step_1['stwd_eng'] == 'NUM') & (df_step_1['stwd_kor'] != ''), 'stwd_kor'].values[0]

In [ ]:
stwd_total.loc[stwd_total['stwd_eng'] == 'HAKJUM', 'stwd_kor'].values[0]

In [ ]:
# 한국어가 null값이면 자동 영문명 자동 기입

In [ ]:
tmp_df_step_1

In [ ]:
tmp_df_step_1

In [ ]:







print(df_step_1.shape)
df_step_1.head()

In [ ]:
std_chk

In [ ]:
std_chk

In [ ]:



a.to_excel(output_path + "dfsfd.xlsx")
# dup_cnt_eng

#     dupl_list_eng = input_split_eng["stwd_eng{}".format(i)].to_list().count(input_split_eng["stwd_eng{}".format(i)][j])
#     globals()["dupl_list_eng{}".format(i)].append(dupl_list_eng)

        
# for i in range(eng_firts_cnt):
#     globals()["dupl_list_eng{}".format(i)] = pd.concat([pd.DataFrame(globals()["dupl_list_eng{}".format(i)])], axis = 0)
#     globals()["dupl_list_eng{}".format(i)].columns = ["dupl_list_eng{}".format(i)]

In [ ]:
df_step_1['stwd_eng'].to_list().count(df_step_1.loc[0, 'stwd_eng'])

In [ ]:
dupl_list_eng0['dupl_list_eng0'].to_list().count(1)

In [ ]:
tmp_df_step_1.shape[0]

In [ ]:
# 중복 지우기 위해

In [ ]:
# 널 채우기 위해
tmp_df_step_1[stwd_kor]

In [ ]:
df_step_1.shape

In [ ]:
df_step_1.to_excel(input_path+"111.xlsx")
std_chk.to_excel(input_path+"112.xlsx")

In [ ]:
# public_stwd_cnt =public_stwd.shape[0]
# df_step_1_cnt = df_step_1.shape[0]

# for i in range(df_step_1_cnt):
#     for j in range(public_stwd_cnt):
#         if df_step_1.iloc[i,1] == public_stwd.iloc[j,1]: #[i, 0]
#             # 영문명 수정
#             df_step_1.iloc[i,3] = public_stwd.iloc[j,2]
#         else:
#             a = 1
# #             df_step_1.iloc[i,1] = "그대로"+df_step_1.iloc[i,1]

In [ ]:
# 파일 저장 묻기
# now = dt.datetime.now().strftime('%y%m%d_%H%M%S')    

if yes_or_no('파일을 저장하시겠습니까?'):
    file_name = 'stwd_total_manu1' + "_" + str(dt.datetime.now().strftime('%y%m%d_%H%M%S') + ".xlsx")
    print('[엑셀 파일을 생성하였습니다]: ' + file_name )
else:
    print('[검토한 후 다시 업로드 해주세요]')
stwd_total.head()

# 중복제거 로직

In [ ]:
## 중복 제거 > 
1. 한개라도 값이 있는 경우 모두 추가
2. 영문 unique 기준 영문 중복 검정 (이미 한글 중복검정 돼 있음: 표준데이터와 병합하기 때문에..) 
/ 중복 여부 검사
3. 한글 unique 기준 한글 중복 검정 
/ 중복 여부 검사
4. ID 기준
- 수기수정 2부터~ n회 반복 / 중복 여부 검사 
=> 모든 중복 제거 , 빈값 넣기, 잘못된값 수정
5. 사전 최종 검사 및 업로드
- n회 반복 -

In [ ]:
# 중복제거 후 다시 합쳐서 검사(1안)

# 한글 중복제거
col_stwd_kor = ['stwd_kor', 'num_kor']
unique_kor = stwd_total['stwd_kor'].drop_duplicates()
stwd_kor_unique = stwd_total.loc[unique_kor.index][col_stwd_kor]
print("한글명중복제거:"+ str(stwd_kor_unique.shape))
# stwd_kor_unique

# 영문 중복제거
col_stwd_eng = ['stwd_eng', 'num_eng']
unique_eng = stwd_total['stwd_eng'].drop_duplicates()
stwd_eng_unique = stwd_total.loc[unique_eng.index][col_stwd_eng]
print("영문명중복제거:"+ str(stwd_eng_unique.shape))
# stwd_eng_unique.tail(100)

# 한글+영문 일렬 세우기
df_step_1 = pd.DataFrame(stwd_total['index'])
df_step_1 = df_step_1.merge(
    stwd_kor_unique,
    left_index = True,
    right_index = True,
    how = 'left'
).merge(
    stwd_eng_unique,
    left_index = True,
    right_index = True,
    how = 'left'
)
print(df_step_1.shape)
df_step_1

### 값이 한개라도 있을 경우 카운트 ###

total_cnt = len(df_step_1)
null_list = []
for i in range(total_cnt):    
    # row 기준 널 체크(값이 한개라도 있을 경우 포함)
    if df_step_1.iloc[i].notna().sum() > 1:
        null_list.append(i)

df_step_1 = df_step_1.loc[null_list]

df_step_1 = df_step_1.merge(
    input_test,
    left_on = 'index',
    right_on = 'No',
    how = 'left'
)

df_step_1.to_excel(input_path + "df_step_1" + str(dt.datetime.now().strftime('%y%m%d_%H%M%S')) + ".xlsx")
print(df_step_1.shape)
df_step_1

# 여기서부터 다시

In [ ]:
# 중복 제거 다시 묻기
# now = dt.datetime.now().strftime('%y%m%d_%H%M%S')    
chk_unique()
if yes_or_no('파일을 업로드하여 중복검사를 재실행 하시겠습니까?'):
    
    
    ## 엑셀 READ한 후 중복검사 다시!
#     sheet_name = "수정이력_220925"
    df_step_1 = pd.read_excel(input_path, sheet_name=sheet_name, header=0)
    df_step_1
    
    file_name = 'df_step_1_re' + "_" + str(dt.datetime.now().strftime('%y%m%d_%H%M%S') + ".xlsx")
    
    chk_unique()
    
    df_step_1.to_excel(df_step_1, input_path + "df_step_1" + ".xlsx")
    print('[엑셀 파일을 생성하였습니다]: ' + file_name )
else:
    print('[진행하겠습니다]')
# df_step_1_re.head()

In [ ]:
df_step_1.loc[24].notna()

In [ ]:
tmp_col = ['stwd_kor', 'num_kor', 'stwd_eng', 'num_eng']
notna_list = []
df_step_1 = df_step_1[tmp_col]
for i in range(len(df_step_1TT)):
    # 하나라도 값이 있다면 False, 모두 null일경우 True
    if df_step_1.loc[i].isna().all() == False:
        notna_list.append(i)
notna_list
df_step_1 = df_step_1.loc[notna_list]
print(df_step_1.shape)
df_step_1

In [ ]:
# df_step_1 = df_step_1[['index', 'stwd_kor', 'stwd_eng', 'num_kor', 'num_eng']]

# # unique 뽑기 & null 값 제거
df_step_uniq = df_step_1.dropna(axis = 0)
df_step_uniq
# df_step_uniq = df_step_uniq.sort_values(['stwd_kor', 'stwd_eng'])
# print(df_step_uniq.shape)

# df_step_uniq = df_step_uniq.merge(input_test, left_on='index', right_on='No', how='left')
# print(df_step_uniq.shape)

# df_step_uniq.tail(500)

In [ ]:
df_step_1.dropna(axis = 0).isna()

In [ ]:
df_step_1TT = df_step_1[]

In [ ]:
df_step_1.shape

In [ ]:
stwd_total_cnt

In [ ]:
df_step_1TT.loc[100].isna().all()

In [ ]:
df_step_1TT

In [ ]:
df_step_1TT

In [ ]:
len(notna_list)

In [ ]:
df_step_1TT.loc[13639].isna().all()

In [ ]:
df_step_1[df_step_1.notna()]

In [ ]:
# 중복제거 후 다시 합쳐서 검사(1안)

# 한글 중복제거
col_stwd_kor = ['stwd_kor', 'num_kor']
unique_kor = stwd_total['stwd_kor'].drop_duplicates()
stwd_kor_unique = stwd_total.loc[unique_kor.index][col_stwd_kor]
print("한글명중복제거:"+ str(stwd_kor_unique.shape))
# stwd_kor_unique

# 영문 중복제거
col_stwd_eng = ['stwd_eng', 'num_eng']
unique_eng = stwd_total['stwd_eng'].drop_duplicates()
stwd_eng_unique = stwd_total.loc[unique_eng.index][col_stwd_eng]
print("영문명중복제거:"+ str(stwd_eng_unique.shape))
# stwd_eng_unique.tail(100)

# 한글+영문 일렬 세우기
df_step_1 = pd.DataFrame(stwd_total['index'])
df_step_1 = df_step_1.merge(
    stwd_kor_unique,
    left_index = True,
    right_index = True,
    how = 'left'
).merge(
    stwd_eng_unique,
    left_index = True,
    right_index = True,
    how = 'left'
)
# df_step_1 = df_step_1[['index', 'stwd_kor', 'stwd_eng', 'num_kor', 'num_eng']]

# # unique 뽑기 & null 값 제거
df_step_uniq = df_step_1.dropna(axis = 0)
df_step_uniq
# df_step_uniq = df_step_uniq.sort_values(['stwd_kor', 'stwd_eng'])
# print(df_step_uniq.shape)

# df_step_uniq = df_step_uniq.merge(input_test, left_on='index', right_on='No', how='left')
# print(df_step_uniq.shape)

# df_step_uniq.tail(500)

In [ ]:
df_step_1.dropna(axis = 0)

In [ ]:
print(df_step_uniq.shape)
print(df_step_uniq.shape)
print(df_step_1.shape)

In [ ]:
df_step_uniq.to_excel(input_path + "220928.xlsx")

# 여기까지

In [ ]:
## 파일 생성 -> 중복 없어질때까지 n회 반복

## step1.1. 끝
일렬 나열 및 단순 중복 제거

## step1.2. 시작
스텝 1.2. 는 중복제거 한 파일을 ID를 기준으로 다시 중복제거 한 후, 재점검하여, 아닌 것 같은 경우는 초기 input 파일(원본)처럼 만듦

In [ ]:
stwd_total

In [ ]:
kor_emti_chk()

In [ ]:
df_lower_kor

In [ ]:
pd.to_numeric(df_step_raw1['id_uniq_chk{}'.format(i)])

In [ ]:
# stwd_kor_unique = stwd_total.iloc[stwd_kor_unique.index]
# stwd_eng_unique = stwd_total.iloc[stwd_eng_unique.index]
stwd_eng_unique

In [ ]:
stwd_total['stwd_eng'][7289]

In [ ]:
stwd_total['stwd_eng'].drop_duplicates()

In [ ]:
# id 유니크 체크
# id 컬럼 만들기
stwd_total['id'] = stwd_total['stwd_kor'] + stwd_total['stwd_eng']

# uniq 항목 체크하기
stwd_unique_list = stwd_total['id'].drop_duplicates()
stwd_unique = stwd_total.loc[stwd_unique_list.index]
stwd_total['uniq_chk'] = ''
stwd_total.loc[stwd_unique_list.index, 'uniq_chk'] = 1
stwd_total

In [ ]:
# 컬럼수만큼 테이블 만들고, 유니크 체그(한글명 id로만)
df_step_raw1 = df_index
for i in range(col_cnt):
    globals()['stwd_kor_uinq{}'.format(i)] = stwd_total[stwd_total['num_kor'] == 'num_kor{}'.format(i)]
    kor_list = ['index', 'stwd_kor', 'num_kor', 'dupl_list_kor', 'uniq_chk', 'id']
    globals()['stwd_kor_uinq{}'.format(i)] = globals()['stwd_kor_uinq{}'.format(i)][kor_list]
    globals()['stwd_kor_uinq{}'.format(i)].columns = [
        'index', 
        'stwd_kor{}'.format(i), 
        'num_kor{}'.format(i), 
        'dupl_list_kor{}'.format(i),
        'id_uniq_chk{}'.format(i),
        'id{}'.format(i)
    ]
    globals()['stwd_eng_uinq{}'.format(i)] = stwd_total[stwd_total['num_eng'] == 'num_eng{}'.format(i)]
    eng_list = ['index', 'stwd_eng', 'num_eng', 'dupl_list_eng']
    globals()['stwd_eng_uinq{}'.format(i)] = globals()['stwd_eng_uinq{}'.format(i)][eng_list]
    globals()['stwd_eng_uinq{}'.format(i)].columns = [
        'index', 
        'stwd_eng{}'.format(i), 
        'num_eng{}'.format(i), 
        'dupl_list_eng{}'.format(i)
    ]
    # 한글,영문 통합하여 원본데이터 형태로
    df_step_raw1 = df_step_raw1.merge(
        globals()['stwd_kor_uinq{}'.format(i)], 
        on = 'index',
        how = 'left'
    ).merge(
        globals()['stwd_eng_uinq{}'.format(i)], 
        on ='index',
        how = 'left'
    )
    
# 각 row의 unique(id) 반복 횟수 적기 
id_uniq_chk_sum = 0
for i in range(col_cnt):
    globals()['id_uniq_chk{}'.format(i)] = pd.to_numeric(df_step_raw1['id_uniq_chk{}'.format(i)])
    id_uniq_chk_sum = id_uniq_chk_sum + globals()['id_uniq_chk{}'.format(i)].fillna(0)
id_uniq_chk_sum = pd.DataFrame(id_uniq_chk_sum, columns = ['id_uniq_chk_sum'])

# 계산값 df에 추가하기
df_step_raw1 = df_step_raw1.merge(
    id_uniq_chk_sum,
    left_index = True,
    right_index = True,
    how = 'left'
)

df_step_raw1

In [ ]:
df_step_raw1[tmp_col_list]

In [ ]:
# null 제거
df_step_1 = df_step_raw1[df_step_raw1['stwd_kor0'].notna()]

# 빈칸 제거
df_step_1 = df_step_1.loc[df_step_1['stwd_kor0'] != ""]

# 필요 컬럼 추리기
tmp_col_list = ['index', 'id_uniq_chk_sum']
for i in range(col_cnt):
    tmp_col_list.append('stwd_kor{}'.format(i))
    tmp_col_list.append('stwd_eng{}'.format(i))
    tmp_col_list.append('id_uniq_chk{}'.format(i))
    tmp_col_list.append('id{}'.format(i))
df_step_1 = df_step_1[tmp_col_list]

# row의 id 반복 횟수 적기(1 이상) 
df_step_1 = df_step_1.loc[df_step_1['id_uniq_chk_sum'] >= 1]

# 순서 정리
df_step_1 = df_step_1.sort_values(['stwd_kor0', 'stwd_eng0'])

print('카운트_전 :'+ str(df_step_raw1.shape))
print('카운트_후 :'+ str(df_step_1.shape))
# df_step_1.to_excel(input_path + "1step안_완.xlsx")
df_step_1.to_excel(input_path + "1step안_완Real.xlsx")
df_step_1.head(500)

In [ ]:

# 계산값 df에 추가하기
df_step_1 = df_step_1.merge(
    id_uniq_chk_sum,
    left_index = True,
    right_index = True,
    how = 'left'
)
df_step_1

In [ ]:
# 그냥 다시 합치기(한/영)
df_exam_raw1 = df_index

for i in range(col_cnt):
    globals()['stwd_kor_uni{}'.format(i)] = stwd_total[stwd_total['num_kor'] == 'num_kor{}'.format(i)]
    kor_list = ['index', 'stwd_kor', 'num_kor', 'dupl_list_kor']
    globals()['stwd_kor_uni{}'.format(i)] = globals()['stwd_kor_uni{}'.format(i)][kor_list]
    globals()['stwd_kor_uni{}'.format(i)].columns = [
        'index', 'stwd_kor{}'.format(i), 
        'num_kor{}'.format(i), 
        'dupl_list_kor{}'.format(i) 
    ]
    globals()['stwd_eng_uni{}'.format(i)] = stwd_total[stwd_total['num_eng'] == 'num_eng{}'.format(i)]
    eng_list = ['index', 'stwd_eng', 'num_eng', 'dupl_list_eng']
    globals()['stwd_eng_uni{}'.format(i)] = globals()['stwd_eng_uni{}'.format(i)][eng_list]
    globals()['stwd_eng_uni{}'.format(i)].columns = [
        'index', 'stwd_eng{}'.format(i), 
        'num_eng{}'.format(i), 
        'dupl_list_eng{}'.format(i) 
    ]
    df_exam_raw1 = df_exam_raw1.merge(
        globals()['stwd_kor_uni{}'.format(i)], 
        on = 'index',
        how = 'left'
    ).merge(
        globals()['stwd_eng_uni{}'.format(i)], 
        on ='index',
        how = 'left'
    )
    

df_exam_raw1

In [ ]:

#     log = stwd_kor_unique[stwd_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
#     print('===========================================================================')
#     print(log)
    df_exam_raw1 = df_exam_raw1.merge(
        globals()['stwd_kor_uni{}'.format(i)], 
        on = 'index',
        how = 'left'
    ).merge(
        globals()['stwd_eng_uni{}'.format(i)], 
        on ='index',
        how = 'left'
    )

df_exam_1 = df_exam_raw1.sort_values(['index', 'stwd_kor0'])
print(df_exam_1.shape)
df_exam_raw1.tail(50)
# df_exam_raw1.head(500)

In [ ]:
stwd_unique_list.index

In [ ]:
# (일렬)id 유니크 만 탐색
stwd_unique_list = stwd_total['id'].drop_duplicates()
stwd_unique = stwd_total.loc[stwd_unique_list.index]
a = stwd_total.iloc[stwd_unique_list.index]
a

In [ ]:
stwd_unique

In [ ]:
# 우선 그대로 원복하고, index list 만들어서 조회만..?
stwd_total['id'] = stwd_total['stwd_kor'] + stwd_total['stwd_eng']
stwd_unique_list = stwd_total['id'].drop_duplicates()
stwd_unique = stwd_total.loc[stwd_unique_list.index]
print(stwd_unique.shape)
stwd_unique
stwd_kor_unique = stwd_unique[['index', 'stwd_kor', 'num_kor', 'dupl_list_kor']]
stwd_eng_unique = stwd_unique[['index', 'stwd_eng', 'num_eng', 'dupl_list_eng']]
stwd_kor_unique

In [ ]:
# 다시 합치기(한/영)
df_exam_raw1 = a

for i in range(col_cnt):
    globals()['stwd_kor_uni{}'.format(i)] = stwd_kor_unique[stwd_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
    globals()['stwd_kor_uni{}'.format(i)].columns = [
        'index', 'stwd_kor{}'.format(i), 
        'num_kor{}'.format(i), 
        'dupl_list_kor{}'.format(i) 
    ]
    globals()['stwd_eng_uni{}'.format(i)] = stwd_eng_unique[stwd_eng_unique['num_eng'] == 'num_eng{}'.format(i)]
    globals()['stwd_eng_uni{}'.format(i)].columns = [
        'index', 'stwd_eng{}'.format(i), 
        'num_eng{}'.format(i), 
        'dupl_list_eng{}'.format(i) 
    ]
#     log = stwd_kor_unique[stwd_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
#     print('===========================================================================')
#     print(log)
    df_exam_raw1 = df_exam_raw1.merge(
        globals()['stwd_kor_uni{}'.format(i)], 
        on = 'index',
        how = 'left'
    ).merge(
        globals()['stwd_eng_uni{}'.format(i)], 
        on ='index',
        how = 'left'
    )

df_exam_1 = df_exam_raw1.sort_values(['index', 'stwd_kor0'])
print(df_exam_1.shape)
df_exam_raw1.tail(50)
# df_exam_raw1.head(500)

In [ ]:
a.to_excel(input_path + "3안.xlsx")

In [ ]:
# [1안] 중복제거(새로운 id 셍상)
stwd_total['id'] = stwd_total['stwd_kor'] + stwd_total['stwd_eng']
stwd_unique_list = stwd_total['id'].drop_duplicates()
stwd_unique = stwd_total.loc[stwd_unique_list.index]
print(stwd_unique.shape)
stwd_unique
stwd_kor_unique = stwd_unique[['index', 'stwd_kor', 'num_kor', 'dupl_list_kor']]
stwd_eng_unique = stwd_unique[['index', 'stwd_eng', 'num_eng', 'dupl_list_eng']]
stwd_kor_unique

In [ ]:
# 다시 합치기(한/영)
df_exam_raw1 = df_index

for i in range(col_cnt):
    globals()['stwd_kor_uni{}'.format(i)] = stwd_kor_unique[stwd_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
    globals()['stwd_kor_uni{}'.format(i)].columns = [
        'index', 'stwd_kor{}'.format(i), 
        'num_kor{}'.format(i), 
        'dupl_list_kor{}'.format(i) 
    ]
    globals()['stwd_eng_uni{}'.format(i)] = stwd_eng_unique[stwd_eng_unique['num_eng'] == 'num_eng{}'.format(i)]
    globals()['stwd_eng_uni{}'.format(i)].columns = [
        'index', 'stwd_eng{}'.format(i), 
        'num_eng{}'.format(i), 
        'dupl_list_eng{}'.format(i) 
    ]
#     log = stwd_kor_unique[stwd_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
#     print('===========================================================================')
#     print(log)
    df_exam_raw1 = df_exam_raw1.merge(
        globals()['stwd_kor_uni{}'.format(i)], 
        on = 'index',
        how = 'left'
    ).merge(
        globals()['stwd_eng_uni{}'.format(i)], 
        on ='index',
        how = 'left'
    )

df_exam_1 = df_exam_raw1.sort_values(['index', 'stwd_kor0'])
print(df_exam_1.shape)
df_exam_raw1.tail(50)
# df_exam_raw1.head(500)

In [ ]:
avg_avg_kor

# sdfsㄹ

In [ ]:
total_cnt = avg_avg_kor
null_list = []
for i in range(total_cnt):    
    # row 기준 널 체크(값이 한개라도 있을 경우 포함)
    if df_exam_1.iloc[i].notna().sum() > 1:
        null_list.append(i)
        
#         print(i)
df_exam_1 = df_exam_1.loc[null_list]
df_exam_1.to_excel(input_path + "1안.xlsx")
df_exam_1

In [ ]:
# df_id = pd.DataFrame(stwd_total['id'])
# df_exam_1 = df_exam_1.merge(df_id, left_index=True, right_index=True, how='left').tail()

In [ ]:
# # null 제거
# df_exam_1 = df_exam_raw1[df_exam_raw1['stwd_kor0'].notna()]

# # 빈칸 제거
# df_exam_1 = df_exam_1.loc[df_exam_1['stwd_kor0'] != ""]

# 필요 컬럼 추리기
tmp_col_list = ['index']
for i in range(col_cnt):
    tmp_col_list.append('stwd_kor{}'.format(i))
    tmp_col_list.append('stwd_eng{}'.format(i))
tmp_col_list

df_exam_1 = df_exam_1[tmp_col_list]
# df_exam_1 = pd.concat([df_exam_1, df_id] ,axis=1)
# id_unique_list = df_id['id'].drop_duplicates()
# df_exam_1 = df_exam_1.loc[id_unique_list.index]
print('2안과 카운트 비교:'+ str(df_exam_1.shape))
df_exam_1.to_excel(input_path + "1안.xlsx")
df_exam_1.head()

In [ ]:
re.sub('[A-Z0-9가-힣+]', '', stwd_total['stwd_kor'][i])

In [ ]:
# 2안: 각각 중복제거 후 다시 합쳐서 검사
# 한글 중복제거
col_stwd_kor = ['index', 'stwd_kor', 'num_kor', 'dupl_list_kor']
unique_kor = stwd_total['stwd_kor'].drop_duplicates()
stwd_kor_unique = stwd_total.loc[unique_kor.index][col_stwd_kor]
print(stwd_kor_unique.shape)
stwd_kor_unique

In [ ]:
# 2안: 각각 중복제거 후 다시 합쳐서 검사
# 한글 중복제거
col_stwd_kor = ['index', 'stwd_kor', 'num_kor', 'dupl_list_kor']
unique_kor = stwd_total['stwd_kor'].drop_duplicates()
stwd_kor_unique = stwd_total.loc[unique_kor.index][col_stwd_kor]
print(stwd_kor_unique.shape)
stwd_kor_unique

# 영문 중복제거
col_stwd_eng = ['index', 'stwd_eng', 'num_eng', 'dupl_list_eng']
unique_eng = stwd_total['stwd_eng'].drop_duplicates()
stwd_eng_unique = stwd_total.loc[unique_eng.index][col_stwd_eng]
print(stwd_eng_unique.shape)
stwd_eng_unique

# 다시 합치기(한/영)
df_exam_raw1 = df_index

for i in range(col_cnt):
    globals()['stwd_kor_uni{}'.format(i)] = stwd_kor_unique[stwd_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
    globals()['stwd_kor_uni{}'.format(i)].columns = [
        'index', 'stwd_kor{}'.format(i), 
        'num_kor{}'.format(i), 
        'dupl_list_kor{}'.format(i) 
    ]
    globals()['stwd_eng_uni{}'.format(i)] = stwd_eng_unique[stwd_eng_unique['num_eng'] == 'num_eng{}'.format(i)]
    globals()['stwd_eng_uni{}'.format(i)].columns = [
        'index', 'stwd_eng{}'.format(i), 
        'num_eng{}'.format(i), 
        'dupl_list_eng{}'.format(i) 
    ]
#     log = stwd_kor_unique[stwd_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
#     print('===========================================================================')
#     print(log)
    df_exam_raw1 = df_exam_raw1.merge(
        globals()['stwd_kor_uni{}'.format(i)], 
        on = 'index',
        how = 'left'
    ).merge(
        globals()['stwd_eng_uni{}'.format(i)], 
        on ='index',
        how = 'left'
    )

print(df_exam_raw1.shape)
df_exam_raw1.head()

# null 제거
df_exam_1 = df_exam_1[df_exam_1.notna()]

# 빈칸 제거
df_exam_1 = df_exam_1.loc[df_exam_1['stwd_kor0'] != ""]

# 필요 컬럼 추리기
tmp_col_list = ['index']
for i in range(col_cnt):
    tmp_col_list.append('stwd_kor{}'.format(i))
    tmp_col_list.append('stwd_eng{}'.format(i))
tmp_col_list

df_exam_1 = df_exam_1[tmp_col_list]
print('1안과 카운트 비교:'+ str(df_exam_1.shape))
df_exam_1.to_excel(input_path + "2안.xlsx")
df_exam_1.head()

In [ ]:
## df_exam_1 와 원본 붙이기!!

In [ ]:
unique_kor

In [ ]:
df_exam_1.to_excel(input_path + "df_exam_1.xlsx")
df_exam_1.to_excel(input_path + "df_exam_1.xlsx")
stwd_total.to_excel(input_path + "stwd_total.xlsx")

In [ ]:
STOP!!!!!!!!!!

In [ ]:
stwd_total

In [ ]:
# 1차 검토
# 유니크(한 * 영) 데이터 뽑아 엑셀 생성
# 수정후 total 데이터 뽑아 엑셀 생성

In [ ]:
stwd_total_kor_unique

In [ ]:
stwd_total_kor_unique[stwd_total_kor_unique['num_kor'] == 'num_kor{}'.format(i)]

In [ ]:
tt = stwd_total_kor_unique[stwd_total_kor_unique['num_kor'] == 'num_kor{}'.format(0)]
tt['stwd_kor']
tt

In [ ]:
for i in range(kor_firts_cnt):
#     a = pd.DataFrame()
    globals()['stwd_kor_uni{}'.format(i)] = stwd_total_kor_unique[stwd_total_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
    print(i)

In [ ]:
ba = df_index.merge(globals()['stwd_kor_uni{}'.format(0)], left_on = 'index', right_on = 'index', how = 'left')
ba

In [ ]:
# 다시 합치기
df_index_tmp = df_index

for i in range(col_cnt):
    a = stwd_total_kor_unique[stwd_total_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
    globals()['stwd_kor_uni{}'.format(i)] = stwd_total_kor_unique[stwd_total_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
    globals()['stwd_kor_uni{}'.format(i)].columns = ['index', 'stwd_kor{}'.format(i), 'num_kor{}'.format(i), 'dupl_list_kor{}'.format(i)]
#     tmp['num_kor{}'.format(i)] = a['stwd_kor']
    aa = a.merge(globals()['stwd_kor_uni{}'.format(i)], left_on = 'index', right_on = 'index', how = 'left')
    print('===========================================================================')
    print(a)
    df_index_tmp = df_index_tmp.merge(
        globals()['stwd_kor_uni{}'.format(i)], 
        left_on ='index',
        right_on = 'index',
        how = 'left'
    )


df_index_tmp

In [ ]:
df_index_tmp

In [ ]:
df_index_tmp[df_index_tmp['stwd_kor{}'.format(0)].isna()]

In [ ]:
# null제거
for i in range(col_cnt):
    df_index_tmp['stwd_kor{}'.format(i)] = df_index_tmp['stwd_kor{}'.format(i)].fillna("")
    df_index_tmp['num_kor{}'.format(i)] = df_index_tmp['num_kor{}'.format(i)].fillna("")
    df_index_tmp['dupl_list_kor{}'.format(i)] = df_index_tmp['dupl_list_kor{}'.format(i)].fillna("")

In [ ]:
    
# null값 수정
for i in range(col_cnt):
    df_index_tmp['stwd_kor{}'.format(i)] = df_index_tmp['stwd_kor{}'.format(i)].fillna("")
    df_index_tmp['num_kor{}'.format(i)] = df_index_tmp['num_kor{}'.format(i)].fillna("")
    df_index_tmp['dupl_list_kor{}'.format(i)] = df_index_tmp['dupl_list_kor{}'.format(i)].fillna("")

In [ ]:
df_index_tmp.iloc[:,30]

In [ ]:
df_index_tmp['stwd_kor{}'.format(1)].fillna("")

In [ ]:

    
    
    
    
#     input_split_kor["num_kor{}".format(i)] = "num_kor{}".format(i)
#     globals()["stwd_kor{}".format(i)] = pd.concat(
#             [
#             df_index.fillna(""), 
#             pd.DataFrame(input_split_kor["stwd_kor{}".format(i)]).fillna(""),
#             pd.DataFrame(input_split_kor["num_kor{}".format(i)]).fillna(""),
#             globals()["dupl_list_kor{}".format(i)].fillna("")
#             ],

In [ ]:
df_index_tmp = df_index
df_index_tmp

In [ ]:
for i in range(kor_firts_cnt):
    a = stwd_total_kor_unique[stwd_total_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
    globals()['stwd_kor_uni{}'.format(i)] = stwd_total_kor_unique[stwd_total_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
    globals()['stwd_kor_uni{}'.format(i)].columns = ['index', 'stwd_kor{}'.format(i), 'num_kor{}'.format(i), 'dupl_list_kor{}'.format(i)]
#     tmp['num_kor{}'.format(i)] = a['stwd_kor']
    aa = a.merge(globals()['stwd_kor_uni{}'.format(i)], left_on = 'index', right_on = 'index', how = 'left')
    print('===========================================================================')
    print(a)
    df_index_tmp = df_index_tmp.merge(
        globals()['stwd_kor_uni{}'.format(i)], 
        left_on ='index',
        right_on = 'index',
        how = 'left'
    )
df_index_tmp

In [ ]:
df_index_tmp.columns

In [ ]:
tmp = pd.DataFrame()
for i in range(kor_firts_cnt):
#     a = pd.DataFrame()
    a = stwd_total_kor_unique[stwd_total_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
    globals()['stwd_kor_uni{}'.format(i)] = stwd_total_kor_unique[stwd_total_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
#     tmp['num_kor{}'.format(i)] = a['stwd_kor']
    tmp = df_index.merge(
        globals()['stwd_kor_uni{}'.format(i)], 
        left_on ='index',
        right_on = 'index',
        how = 'left'
    )
    print(i)
    print('===========================================================================')
    print(tmp)
tmp

In [ ]:
stwd_total_kor_unique[stwd_total_kor_unique['num_kor'] == 'num_kor0']

In [ ]:
stwd_total_kor_unique.loc[stwd_total_kor_unique['num_kor'] == 'num_kor0', 'num_kor']

In [ ]:
unique_stwd_kor['stwd_kor'].drop_duplicates()

In [ ]:
pd.DataFrame(unique_stwd_kor['stwd_kor'].drop_duplicates())

In [ ]:
# 특수기호 검사 : 한, 영
# 소문자 검사 : 한, 영
# 스페이스 제거 : 언제나
input_test['용어명 분리'] = input_test['용어명 분리'].str.replace(" ", "")

# 참고

In [ ]:
############ num_kor(n) / num_eng(n) 기준으로 테이블 분리
############ index 기준으로 left join하여 원상복구

In [ ]:
############## 이거 참고
# db 조건 조회
print(len(stwd_eng7.loc[stwd_eng7['stwd_eng7'] != "", 'stwd_eng7']))
# 특수기호 제거
# for i in range(len(input_test['영문약어명'])):
#     tmp = input_test['영문약어명'][i].translate(str.maketrans('', '', string.punctuation))
#     print(tmp)
print(string.punctuation)

In [ ]:
# # 특수문자 제거
# for i in range(len(input_test['영문약어명'])):
#     tmp = input_test['영문약어명'][i].translate(str.maketrans('', '', string.punctuation))
#     i += i
#     print(tmp)
# i

In [ ]:
# # -*- coding: utf-8 -*-
# import sys
# import re

# def isHangul(text):
#     #Check the Python Version
#     pyVer3 =  sys.version_info >= (3, 0)

#     if pyVer3 : # for Ver 3 or later
#         encText = text
#     else: # for Ver 2.x
#         if type(text) is not unicode:
#             encText = text.decode('utf-8')
#         else:
#             encText = text

#     hanCount = len(re.findall(u'[\u3130-\u318F\uAC00-\uD7A3]+', encText))
#     return hanCount > 0

# 한글 영문 추리기1
# if __name__ == '__main__':
#     han = '한글'
#     han2 = u'한글'
#     input = 'English1234'  #utf-8
#     input2 = u'English1234' #unicode
#     #(major_ver, minor_ver) = (sys.version_info).split(',')
#     print(han + " is " + str(isHangul(han)))
#     print(han2 + " is " + str(isHangul(han2)))
#     print(input + " is " + str(isHangul(input)))
#     print(input2 + " is " + str(isHangul(input2)))

# 한글 영문 추리기2
# i = 23
# print(stwd_total['stwd_eng'][i])
# print(re.findall(u'[\u3130-\u318F\uAC00-\uD7A3]+', stwd_total['stwd_eng'][i]))
# print(re.findall('[A-Za-z]', stwd_total['stwd_eng'][i]))

In [ ]:
# # 영문명에 한글명 포함되었는가 탐색\
        
# # 한글 영어 최종 검색
# print('[자동 처리 시작합니다]')
# chk_list = []
# stwd_total['stwd_cor_kor'] = ''
# for i in range(len(stwd_total)):
#     cor_kor = re.findall('[A-Z0-9가-힣+]', stwd_total['stwd_kor'][i])
#     chk_kor = len(cor_kor) == len(list(stwd_total['stwd_kor'][i]))
   
#     if bool(chk_kor) == False:
#         print("-----------------------------------------------------------------|")
#         print('index: ' + str(i))
#         print(stwd_total['stwd_kor'][i] + " -> " + str(''.join(cor_kor)))
#         chk_list.append(i)
#     stwd_total['stwd_cor_kor'] = re.sub('[A-Z0-9가-힣+]', '', stwd_total['stwd_kor'][i])

    
# #     stwd_total.loc[i,'stwd_kor_chk'] = cor_kor
# stwd_total_manu1 = stwd_total.iloc[chk_list]
# print('[자동 처리 완료하였습니다]')
# print("chk_list: "+ str(len(chk_list)))
# stwd_total_manu1

# # 특수기호 제거

# for i in range(stwd_total_cnt):
#     stwd_total.loc[i, 'stwd_kor'] =  stwd_total['stwd_kor'][i].translate(str.maketrans('', '', string.punctuation))
# #     stwd_total['stwd_kor'][i] = stwd_total['stwd_kor'][i].translate(str.maketrans('', '', string.punctuation)) # 안됨!!!
#     cnt += i
# print('[test] 적용 후: ' + str(stwd_total.loc[0, 'stwd_kor']))

In [ ]:
# #####################################################################
# # 한글 소문자 탐색 
# test = 'test'
# stwd_total.loc[2, 'stwd_kor'] = stwd_total.loc[2, 'stwd_kor'] + test
# print('[test] 적용 전(가짜): ' + stwd_total.loc[2, 'stwd_kor'])
# df_lower_kor = pd.DataFrame(columns = stwd_total.columns)
# for i in range(stwd_total_cnt):
#     if stwd_total['stwd_kor'][i].islower():
#         tmp = pd.DataFrame(stwd_total.iloc[i,:]).transpose()
#         df_lower_kor = pd.concat([df_lower_kor, tmp], axis=0)
# stwd_total['stwd_kor_old'] = stwd_total['stwd_kor']
# stwd_total['stwd_kor'] = stwd_total['stwd_kor'].str.upper()

# # 적용 후 결과값
# print('[test] 적용 후(대문자): ' + stwd_total.loc[2, 'stwd_kor'])
# stwd_total.loc[2, 'stwd_kor'] = stwd_total.loc[2, 'stwd_kor'].strip(test.upper())
# print('[test] 복구: 개시')
# print('변경된 값: ' + str(len(df_lower_kor)) + '개')
# stwd_total.head()

# # 영문 소문자 탐색 
# print('[test] 적용 전(소문자): ' + stwd_total.loc[2, 'stwd_eng'])
# df_lower_eng = pd.DataFrame(columns = stwd_total.columns)
# for i in range(stwd_total_cnt):
#     if stwd_total['stwd_eng'][i].islower():
#         tmp = pd.DataFrame(stwd_total.iloc[i,:]).transpose()
#         df_lower_eng = pd.concat([df_lower_eng, tmp], axis=0)
# stwd_total['stwd_eng_old'] = stwd_total['stwd_eng']
# stwd_total['stwd_eng'] = stwd_total['stwd_eng'].str.upper()

# # 적용 후 결과값
# print('[test] 적용 후(대문자): ' + stwd_total.loc[2, 'stwd_eng'])
# print('변경된 값: ' + str(len(df_lower_eng)) + '개')
# stwd_total.head()

In [ ]:
# left join
for i in range(name_cnt):
    globals()['stwd_total{}'.format(i)] = pd.merge(
        globals()['stwd_kor{}'.format(i)],
        globals()['stwd_eng{}'.format(i)],
        on = 'index',
        how = 'left'
    )

# 카운트 일치 여부 점검
index_cnt = len(df_index['index'])
if index_cnt != len(stwd_total0):
    print("index 와 joined_date count불일치")
else:
    print("count 일치")
stwd_total5

In [ ]:
# merge
for i in range(name_cnt):
    globals()['stwd_total{}'.format(i)] = pd.concat(
        [
        globals()['stwd_kor{}'.format(i)],
        globals()['stwd_eng{}'.format(i)]
        ],
        axis = 1        
    )
    print(i)
# print(name_cnt)
# print(name_cnt_diff_list)


stwd_total1

In [ ]:
for i in list(set(range(name_cnt)) - set(range(name_cnt_diff))):
    print(i)

In [ ]:
list(set(range(name_cnt_kor)) - set(range(name_cnt_eng)))

In [ ]:
input_split_eng

In [ ]:
input_split_eng['stwd_eng6'] = None
input_split_eng['stwd_eng6']

In [ ]:
input_split_eng['stwd_eng6']

In [ ]:
# 한글/영문 컬럼 수 비교하기
name_cnt_kor = len(name_list_kor)
name_cnt_eng = len(name_list_eng)

if name_cnt_kor == name_cnt_eng:
    name_cnt = name_cnt_kor
    name_cnt_diff_list = None
elif name_cnt_kor > name_cnt_eng:
    name_cnt = name_cnt_eng
    name_cnt_diff_list = list(set(range(name_cnt_kor)) - set(range(name_cnt_eng)))
    for i in name_cnt_diff_list:
        input_split_eng['stwd_eng{}'.format(i)] = None
        input_split_eng['num_eng{}'.format(i)] = None
        globals()['stwd_eng{}'.format(i)] = pd.concat(
            [
                df_index,
                pd.DataFrame(input_split_eng['stwd_eng{}'.format(i)]),
                pd.DataFrame(input_split_eng["num_eng{}".format(i)])
            ],
            axis = 1
        )
        
        
        
elif name_cnt_kor < name_cnt_eng:
    name_cnt = name_cnt_kor
    name_cnt_diff_list = list(set(range(name_cnt_eng)) - set(range(name_cnt_kor)))
    for i in name_cnt_diff_list:
        input_split_kor['stwd_kor{}'.format(i)] = None
        input_split_kor['num_kor{}'.format(i)] = None
        globals()['stwd_kor{}'.format(i)] = pd.concat(
            [
                df_index,
                pd.DataFrame(input_split_kor['stwd_kor{}'.format(i)]),
                pd.DataFrame(input_split_kor["num_kor{}".format(i)])
            ],
            axis = 1
        )
        

stwd_eng7

In [ ]:
stwd_eng6

In [ ]:
# 한글/영문 컬럼 수 비교하기
name_cnt_kor = len(name_list)
name_cnt_eng = len(name_list_eng)

if name_cnt_kor == name_cnt_eng:
    name_cnt = name_cnt_kor
    name_cnt_diff_list = None
elif name_cnt_kor > name_cnt_eng:
    name_cnt = name_cnt_eng
    name_cnt_diff_list = list(set(range(name_cnt_kor)) - set(range(name_cnt_eng)))
    for i in name_cnt_diff_list:
        globals()['stwd_eng{}'.format(i)] = None
elif name_cnt_kor < name_cnt_eng:
    name_cnt = name_cnt
    name_cnt_diff_list = list(set(range(name_cnt_eng)) - set(range(name_cnt_kor)))
    
    

    
    
for i in range(name_cnt):
    globals()['stwd_total{}'.format(i)] = pd.concat(
        [
        globals()['stwd{}'.format(i)],
        globals()['stwd_eng{}'.format(i)]
        ],
        axis = 1        
    )
    print(i)
# print(name_cnt)
# print(name_cnt_diff_list)

In [ ]:
# 리스트 - 리스트
list1 = [1,2]
list2 = [1,2,3]
list(set(list2) - set(list1))
list(set(list1) - set(list2))
list(set(list1).difference(set(list2)))
list(set(range(10)) - set(range(2)))

In [ ]:
list(set(range(10)) - set(range(2)))

In [ ]:
list(set(range(2)) - set(range(10)))

In [ ]:
# 용어명 분리
input_test['용어명 분리'] = input_test['용어명 분리'].str.replace(" ", "")
input_split = pd.DataFrame(input_test['용어명 분리'].str.split('_').tolist())
name_list = []
for i in range(len(input_split.columns)):
    name_list.append("stwd{}".format(i))
print(name_list)
# 컬럼명 만들기
input_split = pd.DataFrame(input_test['용어명 분리'].str.split('_').tolist(), columns = name_list)
# 인덱스 컬럼 추가
df_index = pd.DataFrame(input_test['No'])
df_index.columns = ['index']
input_split= pd.concat([input_split, df_index], axis = 1)
print(input_split.shape)
input_split.head(5)

In [ ]:
# 영문명 분리
input_test['영문약어명'] = input_test['영문약어명'].str.replace(" ", "")
input_split_eng = pd.DataFrame(input_test['영문약어명'].str.split('_').tolist())
name_list_eng = []
for i in range(len(input_split_eng.columns)):
    name_list_eng.append("stwd_eng{}".format(i))
print(name_list_eng)
# 컬럼명 만들기
input_split_eng = pd.DataFrame(input_test['영문약어명'].str.split('_').tolist(), columns = name_list_eng)
# 인덱스 컬럼 추가
# df_index = pd.DataFrame(input_test['No'])
# df_index.columns = ['index']
# input_split_eng= pd.concat([input_split_eng, df_index], axis = 1)
print(input_split_eng.shape)
input_split_eng.head(5)

In [ ]:
name_list = []
for i in range(len(input_split_eng.columns)):
    name_list_eng.append("stwd_eng{}".format(i))

In [ ]:
if len(name_list) == len(name_list_eng):
    name_list_cnt = len(name_list)
elif len(name_list) > len(name_list_eng):
    name_list_cnt = len(name_list)
elif len(name_list) < len(name_list_eng):
    name_list_cnt = len(name_list_eng)
    
for i in range(name_list_cnt):
    print(i)

In [ ]:
if len(name_list) == len(name_list_eng):
    print(1)
elif len(name_list) > len(name_list_eng):
    print(2)    
elif len(name_list) < len(name_list_eng):
    print(3)

In [ ]:
len(name_list_eng)

In [ ]:
len(name_list)

In [ ]:
# 용어명 분리
input_test['용어명 분리'] = input_test['용어명 분리'].str.replace(" ", "")
input_split = pd.DataFrame(input_test['용어명 분리'].str.split('_').tolist())
name_list = []
for i in range(len(input_split.columns)):
    name_list.append("stwd{}".format(i))
print(name_list)
# 컬럼명 만들기
input_split = pd.DataFrame(input_test['용어명 분리'].str.split('_').tolist(), columns = name_list)
print(input_split.shape)
input_split.head(5)

In [ ]:
# 단어별 개수 세기(네이밍 컬럼)
dupl_list = []
dupl_cnt = []
for i in range(len(input_split.columns)):
    globals()["dupl_list{}".format(i)] = []
    for j in range(len(input_split["stwd{}".format(i)])):
        dupl_cnt = input_split["stwd{}".format(i)].to_list().count(input_split["stwd{}".format(i)][j])
        globals()["dupl_list{}".format(i)].append(dupl_cnt)
# df_dupl 힌즐 세우기
df_dupl = pd.DataFrame()
for i in range(len(input_split.columns)):
    globals()["dupl_list{}".format(i)]
    df_dupl = pd.concat([df_dupl, pd.DataFrame(globals()["dupl_list{}".format(i)])], axis = 0)
df_dupl.columns = ['dupl']
df_dupl

In [ ]:
# df_index 한줄 세우기
# df_index = pd.DataFrame(input_test['No'])
df_index = pd.DataFrame()
for i in range(len(input_split.columns)):
#     globals()["df_index{}".format(i)] = pd.DataFrame(input_test['No'])
    df_index = pd.concat([df_index, pd.DataFrame(input_test['No'])])
df_index.columns = ['index']
df_index

In [ ]:
# df_stwd 힌즐 세우기
df_stwd = pd.DataFrame()
for i in range(len(input_split.columns)):
    globals()["df_stwd{}".format(i)] = input_split["stwd{}".format(i)]
    df_stwd = pd.concat([df_stwd, globals()["df_stwd{}".format(i)]])
df_stwd.columns = ['stwd']
df_stwd

In [ ]:
# df_chk
df_chk = pd.concat([df_stwd, df_index], axis=1).reset_index() # 인덱스 초기화
df_chk = df_chk[['stwd', 'index']]
print(df_chk.shape)
df_chk.tail(5)

In [ ]:
### 한글 단어 분리

In [ ]:
# 영문명 분리
input_test['영문약어명'] = input_test['영문약어명'].str.replace(" ", "")
input_split_eng = pd.DataFrame(input_test['영문약어명'].str.split('_').tolist())
name_list = []
for i in range(len(input_split_eng.columns)):
    name_list.append("stwd_eng{}".format(i))
print(name_list)
# 컬럼명 만들기
input_split_eng = pd.DataFrame(input_test['영문약어명'].str.split('_').tolist(), columns = name_list)
print(input_split_eng.shape)
input_split_eng.head(5)

In [ ]:
# df_index 한줄 세우기
df_index_eng = pd.DataFrame()
for i in range(len(input_split_eng.columns)):
    df_index_eng = pd.concat([df_index_eng, pd.DataFrame(input_test['No'])])
df_index_eng.columns = ['index']
df_index_eng

In [ ]:
# df_stwd_eng 힌즐 세우기
df_stwd_eng = pd.DataFrame()
for i in range(len(input_split_eng.columns)):
    globals()["df_stwd_eng{}".format(i)] = input_split_eng["stwd_eng{}".format(i)]
    df_stwd_eng = pd.concat([df_stwd_eng, globals()["df_stwd_eng{}".format(i)]])
df_stwd_eng.columns = ['stwd_eng']
df_stwd_eng

In [ ]:
# df_chk_eng
df_chk_eng = pd.concat([df_stwd_eng, df_index_eng], axis=1).reset_index() # 인덱스 초기화
df_chk_eng = df_chk_eng[['stwd_eng', 'index']]
print(df_chk_eng.shape)
df_chk_eng.tail(5)

In [ ]:
### 영문 단어 분리

In [ ]:
df_chk.merge(df_chk_eng, on='index'

In [ ]:
# df_chk_uni
df_chk_uni = df_chk[df_chk['stwd'].duplicated()==False].reset_index()
df_chk_uni = df_chk_uni[['stwd', 'index']]
df_chk_uni.tail(5)

In [ ]:
# unique 단어 개수 세기
dupl_list = []
dupl_cnt = []
for i in range(len(df_chk_uni["stwd"])):
    dupl_cnt = df_chk_uni["stwd"].to_list().count(df_chk_uni["stwd"][i])
    dupl_list.append(dupl_cnt)

len(dupl_list)

In [ ]:
# 횟수 병합
df_chk_uni = pd.concat([df_chk_uni, pd.DataFrame(dupl_list)], axis = 1)
df_chk_uni.columns = ['stwd', 'index', 'dupl_cnt']
print(df_chk_uni[df_chk_uni['dupl_cnt'] != 1])
print(df_chk_uni[df_chk_uni['dupl_cnt'] == None])
df_chk_uni.tail(5)

In [ ]:
# 점검 , 변환
# ab['dupl_cnt'].info()
# ab['dupl_cnt'].astype(int)

In [ ]:
# df_chk_uni
df_chk_dupl = df_chk[df_chk['stwd'].duplicated()].reset_index()
df_chk_dupl = df_chk_dupl[['stwd', 'index']]
df_chk_dupl.tail(5)

In [ ]:
# dupl 단어 개수 세기
dupl_list = []
dupl_cnt = []
for i in range(len(df_chk_dupl["stwd"])):
    dupl_cnt = df_chk_dupl["stwd"].to_list().count(df_chk_dupl["stwd"][i])
    dupl_list.append(dupl_cnt)

len(dupl_list)

In [ ]:
# 횟수 병합
df_chk_dupl = pd.concat([df_chk_dupl, pd.DataFrame(dupl_list)], axis = 1)
df_chk_dupl.columns = ['stwd', 'index', 'dupl_cnt']
print(df_chk_dupl[df_chk_dupl['dupl_cnt'] == 1])
print(df_chk_dupl[df_chk_dupl['dupl_cnt'] == None])
df_chk_dupl.tail(5)

In [ ]:
df_chk_dupl[df_chk_dupl['stwd'] == '매수']

In [ ]:
cc = df_chk_dupl.merge(input_test, left_on = 'index', right_on = 'No', how='left')
cc = cc[cc['stwd'].duplicated()==False]
print(cc.shape)
cc.head(3)

In [ ]:
df_chk_dupl.to_excel(input_path+"dsfadas.xlsx")

In [ ]:
cc = df_chk_dupl['stwd'].drop_duplicates()
(cc.shape)
cc

In [ ]:
cc.to_excel(input_path+"cccccccccccc.xlsx")

In [ ]:
df_chk_dupl['stwd'].drop_duplicates()

In [ ]:
ccc = df_chk_dupl.merge(input_test, left_on = 'index', right_on = 'No', how='left')
ccc = ccc[ccc['stwd'].duplicated()]
print(ccc.shape)
ccc.head(3)

In [ ]:
ccc.to_excel(input_path+"cccccccccc3cc.xlsx")

In [ ]:
a[a['stwd'].duplicated()]

In [ ]:
a[pd.DataFrame(a['stwd']).duplicated(keep='first')]

In [ ]:
a['stwd'].drop_duplicates()

In [ ]:
a = pd.concat([df_stwd, df_dupl, df_index], axis=1)
a

In [ ]:
tOK = a.loc[a['dupl'] == 1]
# tOK['stwd'].dropna()
tOK[tOK['stwd'] == '검토']
tOK
tNO = a.loc[a['dupl'] > 1]
# tNO['stwd'].dropna()
tNO[tNO['stwd'] == '검토']
tNO

In [ ]:
tOK['stwd'].drop_duplicates()

In [ ]:
print(368 + 412)
tNO['stwd'].drop_duplicates()

In [ ]:
a['stwd'].drop_duplicates()

In [ ]:
t2['stwd'].drop_duplicates()

In [ ]:
a.to_excel(input_path+"\\dfdf.xlsx")

In [ ]:
tOK.to_excel(input_path+"\\dfdfOK.xlsx")

In [ ]:
tNO.to_excel(input_path+"\\dfdfNO.xlsx")

In [ ]:
tNO['stwd'].drop_duplicates().to_excel(input_path+"\\dfdfNO_DUP.xlsx")

In [ ]:
t2['stwd'].drop_duplicates().tail(30)

In [ ]:
# t2 = a[a['stwd'].duplicated(keep='first')]
t2 = a[a['stwd'].duplicated(False)]
t2[t2['stwd'] == '검토']
# t2['stwd'].dropna()
t2

In [ ]:
t2.drop_

In [ ]:
a[a['stwd'] == '검토']

In [ ]:
a.head(20)

In [ ]:
a['stwd'].duplicated(keep='first').head(20)
# t#['stwd'].dropna()
# t3[t3['stwd'] == '검토']

In [ ]:
# # concat 을 위한 DataFame 묶기 (o 시리즈여야 한곳에 정렬됨! 데이터 프레임 안됨)
# for i in range(len(input_split.columns)):
#     globals()["df_stwd{}".format(i)] = ["duple_list{}".format(i)]
# df_stwd0

In [ ]:
# concat 을 위한 DataFame 묶기 (o 시리즈여야 한곳에 정렬됨! 데이터 프레임 안됨)
for i in range(len(input_split.columns)):
    globals()["df_stwd{}".format(i)] = input_split["stwd{}".format(i)]
df_stwd0

In [ ]:
# df_index 묶기
for i in range(len(input_split.columns)):
    globals()["df_index{}".format(i)] = input_split["stwd{}".format(i)]
df_stwd0

In [ ]:
df_stwd = pd.concat([df_stwd, df_index], axis=1)
df_stwd

In [ ]:
pd.concat([input_split, pd.DataFrame(input_test['No'])], axis=1)

In [ ]:
# df_stwd.tail(500)

In [ ]:
list = []
for i in range(len(input_split.columns)):
    df = pd.concat([globals()["df_stwd{}".format(i)]])
df

In [ ]:
df = pd.DataFrame()
for i in range(len(input_split.columns)):
    df = pd.concat([df, globals()["df_stwd_df{}".format(i)]])
df

In [ ]:
df

In [ ]:
df_dupl_cnt = pd.DataFrame()
for in in range(len(input_split.coulmns):
    df_dupl_cnt = pd.concat([df, globals()["df{}".format(i)]])

In [ ]:
dupl_list0

In [ ]:
# 컬럼 재정렬
list = []
for i in range(len(input_split.columns)):
    input_split.loc[:,"dupl_cnt{}".format(i)] = globals()["dupl_list{}".format(i)]
    list.append("stwd{}".format(i))
    list.append("dupl_cnt{}".format(i))
input_split = input_split[list]
input_split

In [ ]:
df_stwd = pd.DataFrame()
for i in range(len(input_split.columns)):
    df_stwd = pd.concat([df, globals()["df{}".format(i)]])
df_stwd

In [ ]:
pd.DataFrame

In [ ]:
type(input_split["stwd{}".format(0)])

In [ ]:
a = pd.Series
a

In [ ]:
a

In [ ]:
for i in range(len(input_split.columns)):
    globals()["df{}".format(i)] = input_split["stwd{}".format(i)]
    list.append('df{}'.format(i))
list

In [ ]:
df = pd.DataFrame()
for i in range(len(input_split.columns)):
    globals()["df{}".format(i)] = pd.DataFrame(input_split["stwd{}".format(i)])
#     list.append('df{}'.format(i))
# list

In [ ]:
list = []
for i in range(len(input_split.columns)):
    list.append("df{}".format(i))
list

In [ ]:
df = pd.DataFrame()
for i in range(len(input_split.columns)):
    df = pd.concat([df, globals()["df{}".format(i)]])
df

In [ ]:
concat([df0, df0,df0,df0,df0,df0,df0,df0,])

In [ ]:
list = ",".join(list)
list
list[5]

In [ ]:
",".join(list[0])

In [ ]:
df = pd.DataFrame()
for i in range(len(input_split.columns)):
    ccc = pd.concat(df, ",".join(list[i]))
df = pd.DataFrame()
df = pd.concat([df, df0])

In [ ]:
df = pd.DataFrame()
df = pd.concat([df, df0])

In [ ]:
",".join(list)

In [ ]:
list = ",".join(list)
list

In [ ]:
list

In [ ]:
df0

In [ ]:
list = [df0, df1, df2, df3, df4, df5]
pd.concat(list)

In [ ]:
pd.concat([df0, df1, df2, df3, df4, df5])

In [ ]:
input_split

In [ ]:
stwd_list

In [ ]:
stwd_list = input_split.columns.to_list()
for i in range(len(input_split.columns)):
    duplicated = pd.concat(stwd_list, ignore_index=True)

In [ ]:
stwd_list = input_split.columns.to_list()
pd.concat(pd.DataFrame(input_split[stwd_list]), ignore_index = True)

In [ ]:
list = []
for i in range(len(input_split.columns)):
    globals()["df{}".format(i)] = input_split["stwd{}".format(i)]
    list.append(globals()["df{}".format(i)])

In [ ]:
pd.DataFrame(list)

In [ ]:
pd.DataFrame(input_split["stwd1"])

In [ ]:
input_split["stwd0"]

In [ ]:
pd.concat(pd.DataFrame(input_split["stwd0"]), pd.DataFrame(input_split["stwd1"]))

In [ ]:
df0
list

In [ ]:
globals("df0")

In [ ]:
pd.concat([df0, df1])

In [ ]:
pd.concat([df0, df1])

In [ ]:
for i in range(len(input_split.columns)):
#     pd.concat(globllist[i])
    print(list[i])

In [ ]:
for i in range(len(input_split.columns)):
#     pd.concat(["df{}".format(i)])
#     pd.concat("df{}".format(i))
    pd.concat(list)  
#     print("df{}".format(i))

In [ ]:
for i in range(len(input_split.columns)):
    print("df{}".format(i))

In [ ]:
for i in range(len(input_split.columns)):
    globals()["df{}".format(i)] = pd.DataFrame(globals()["df{}".format(i)])

In [ ]:
list = []
for i in range(len(input_split.columns)):
    list.append("df{}".format(i))

In [ ]:
df1

In [ ]:
pd.concat(list, axis=1 )
#           ignore_index=True)

In [ ]:
for i in range(len(input_split.columns)):
    pd.concat(globals()["df{}".format(i)])

In [ ]:
pd.concat([df0, df1])

In [ ]:
stwd_list = input_split.columns.to_list()
for i in range(len(input_split.columns)):
    pd.concat(pd.DataFrame(input_split["stwd{}".format(i)]))
list

In [ ]:
input_split["stwd0"]

In [ ]:
pd.DataFrame(input_split["stwd{}".format(0)])

In [ ]:
cc = pd.DataFrame(input_split["stwd{}".format(i)])

In [ ]:
aa = pd.DataFrame
for i in range(len(input_split.columns)):
    aa = aa.append(cc)
aa

In [ ]:
for i in range(len(input_split.columns)):
    a = pd.concat([input_split[list[i]]])
a

In [ ]:
a

In [ ]:
pd.concat(list)

In [ ]:
for i in range(len(input_split.columns)):
    pd.concat([globals["input_split{}".format(i)]])

In [ ]:
# 컬럼 재정렬
list = []
for i in range(len(input_split.columns)):
    input_split.loc[:,"dupl_cnt{}".format(i)] = globals()["dupl_list{}".format(i)]
    list.append("stwd{}".format(i))
    list.append("dupl_cnt{}".format(i))
input_split = input_split[list]
input_split

In [ ]:
input_split.columns

In [ ]:
for i in range(int(len(input_split.columns)/2)):
    aaa= pd.concat(["stwd{}".format(i)])
aaa

In [ ]:
input_split[0]

In [ ]:
input_split[0]

In [ ]:
input_split[0].count("가입")

In [ ]:
dupl_list =[]
dupl_list

In [ ]:
len(input_split.columns)

In [ ]:
input_split[0].to_list().count(input_split[0][11])

In [ ]:
globals()["stwd{}".format(i)]

In [ ]:
for i in range(len(input_split.columns)):
    globals()["dupl_list{}".format(i)] = []

In [ ]:
input_split[0].to_list().count(input_split[0][3])

In [ ]:
# 성공
dupl_list = []
dupl_cnt = []


for i in range(len(input_split.columns)):
    globals()["dupl_list{}".format(i)] = []
    for j in range(len(input_split[i])):
        dupl_cnt = input_split[i].to_list().count(input_split[i][j])
        globals()["dupl_list{}".format(i)].append(dupl_cnt)
#         print(dupl_cnt)
#         print("dupl_list{}".format(i))

In [ ]:
for i in range(len(input_split.columns)):
    input_split.loc[:,"dupl_cnt{}".format(i)] = globals()["dupl_list{}".format(i)]

In [ ]:
input_split["dupl_cnt0"]

In [ ]:
# input_split
input_split[input_split["dupl_cnt0"] >= 2][["dupl_cnt0","dupl_cnt1",0]]

In [ ]:
input_split.loc[:,"dupl_cnt1"] = dupl_list1

In [ ]:
input_split

In [ ]:
for i in range(len(input_split.columns)):
    print(globals()["dupl_list{}".format(i)])

In [ ]:
a= input_split.assign(dd =  dupl_list3)
# df.insert(3,"city",['Lahore','Dehli','New York'],True)
a

In [ ]:
input_split.insert(8,"dd",dupl_list3,True)
input_split

In [ ]:
input_split[2].to_list().count('역')

In [ ]:
input_split[0].to_list()

In [ ]:
dupl_list3

In [ ]:
input_split.insert(8,"dd",dupl_list3,True)

In [ ]:
input_split

In [ ]:
pd.DataFrame(input_split[3].to_list(), dupl_list3)

In [ ]:
print(len(dupl_list))
dupl_list

In [ ]:
# type(input_split[0])
input_split[0].to_list().count('가입')

In [ ]:
# 성공
b = []
for i in range(len(input_split[0])):
    a = 0
    for j in input_split[0]:
        b.append(a)
        if input_split[0][i] == j:
            a += 1
            print(input_split[0][i] +"&&"+j+"_중복")
           
            print(a)

In [ ]:
len(b)

In [ ]:
# 성공
a = 0
for i in range(len(input_split[0])):
    for j in input_split[0]:
        if input_split[0][i] == j:
            print(input_split[0][i] +"&&"+j+"_중복")
            a += 1
            print(a)

In [ ]:
# 성공
a =0
for i in input_split[0]:
    for j in input_split[0].unique():#중복 
        if i == j:
            print(i +"&&"+j+"_중복")
            a += 1
            print(a)
#         else:
#             print(i+j)
    
    
    
#     if i == '가입':
#         print(i+"_성공")
#     else:
#         print(i)

In [ ]:
for i in input_split[0]:
    if i == '가입':
        print(i+"_성공")
    else:
        print(i)

In [ ]:
input_split[0].str == "가입"

In [ ]:
for i in a
    input_split[0] == i

In [ ]:
input_split[0]

In [ ]:
a = input_split[0].unique()
a

In [ ]:
len(input_split.columns)

In [ ]:
input_processing = pd.concat([input_split, input_test])
print(input_processing.columns)
input_processing.head(5)

In [ ]:
input_process["No"]

In [ ]:
# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : row[10])
# # stwd1

In [ ]:
aa = pd.DataFrame(input_test['용어명 분리'].str.split('_').tolist(), columns = ['a' ,'b', 'c', 'd','a' ,'b', 'c', 'd'])
aa

In [ ]:
aaa = pd.DataFrame(input_test['용어명 분리'].str.split('_').tolist())
aaa

In [ ]:
aaa[1]

In [ ]:
aaa.columns

In [ ]:
aa['a']

In [ ]:
aa.columns

In [ ]:
for i in range(len()):
    aa = pd.DataFrame(input_test['용어명 분리'].str.split('_').tolist(), columns = globals()["stwd{}".format(i)])
    aa

In [ ]:

try:    
    for i in range(10):
         globals()["stwd{}".format(i)] = pd.DataFrame({"stwd{}".format(i) : []})
except:
    pass
# print(stwd0)

    
        
    
# pd.DataFrame({"stwd0" : []})

In [ ]:
print(input_test['용어명 분리'].str.split('_', maxsplit=1))

In [ ]:
# try:
for i in range(10):
    globals()["stwd{}".format(i)] = input_test['용어명 분리'].str.split('_').map(lambda row : row[i])

input_test['용어명 분리'].str.split('_').map(lambda row : row[0])

In [ ]:
pd.DataFrame(input_test['용어명 분리'].str.split('_'))

In [ ]:
input_test['용어명 분리'].str.split('_').tolist()

In [ ]:
aa = pd.DataFrame(input_test['용어명 분리'].str.split('_').tolist(), columns = ['a' ,'b', 'c', 'd','a' ,'b', 'c', 'd'])
aa

In [ ]:
input_test['용어명 분리'].str.split('_').map(lambda x:x[-1])

In [ ]:
a= pd.DataFrame(input_test['용어명 분리'].str.split('_'))
a

In [ ]:
a.str.get(0)

In [ ]:
input_test['용어명 분리'].str.split('_')[0][0]

In [ ]:
input_test['용어명 분리'].str.split('_').map(lambda row : row[-1])

In [ ]:
stwd

In [ ]:
stwd2

In [ ]:
# i = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
    
#     globals()["stwd{}".format(i)] = input_test['용어명 분리'].str.split('_', maxsplit = -1).map(lambda row : row[i])

# stwd0
# stwd1

# stwd0 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[0]))
# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd2 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd3 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd4 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd5 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd6 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd7 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd8 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd9 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
try:
    stwd10 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[10]))
except:
    pass

In [ ]:
# i = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
num = 10
for i in range(10):
#     if input_test['용어명 분리'].str.split("_").map(lambda row : row[i]) 
    
    globals()["stwd{}".format(i)] = input_test['용어명 분리'].str.split('_', maxsplit = -1).map(lambda row : row[i])

stwd0
# stwd1


# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))

In [ ]:
stwd1

In [ ]:
input_f = os.path.join(os.getcwd(), "input")
print(input_f)
# pd.read_excel(input_f+"test.xlsx", sheet_name="input_test", header=0)
sheet_name = "input_test"
pd.read_excel("C:/test.xlsx", sheet_name=sheet_name, header=0)

# current_path = os.path.dirname(input_f)
# input_f = os.path.join(current_path, "input")
print()
# current_path = os.path.dirname()
# print(current_path)
print(os.getcwd())

In [ ]:
print(os.getcwd())
# print(sys.argv[0])
print(os.path.dirname(os.path.realpath('__file__')))