In [58]:
import pandas as pd
import numpy as np
import os
import string
import sys
import re
import datetime as dt
# now = dt.datetime.now().strftime('%y%m%d_%H%M%S')
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

# 진행 여부 함수
def yes_or_no(question):
    while "the answer is invalid":
        reply = str(input(question+' (y/n): ')).lower().strip()
        if reply[0] == 'y':
            return True
        if reply[0] == 'n':
            return False
        else:
            print("실패: 'y' 혹은 'n' 를 입력해 주세요")

# 1. 파일 불러오기

In [332]:
# 파일 불러오기
sheet_name = "input_test"
input_path = os.path.join(os.getcwd(), "input\\")
output_path = os.path.join(os.getcwd(), "output\\")
# input_test = pd.read_excel(input_path+"test_emoti_dup_korDup.xlsx", sheet_name=sheet_name, header=0)
input_test = pd.read_excel(input_path+"test_emoti_dup_korDup.xlsx", sheet_name=sheet_name, header=0)
# null 제거
for i in range(len(input_test.columns)):
    input_test[input_test.columns[i]] = input_test[input_test.columns[i]].fillna("")
print(input_test.shape)
input_test.head(5)

(1364, 14)

,No,용어명,용어명 분리,용어설명,영문명,영문약어명,도메인명,데이터타입,데이터길이,소수점이하,생성일(제정일),범정부표준여부,정보시스템(DB),관련필드/용어
0,1,가입일자,가입tds_일자,"조직이나 단체 따위에 들어가거나, 서비스를 제공하는 상품 따위를 신청한 날짜를 연월...",,TEST!!!,연월일C8,CHAR,8,,2020-08-13,범정부표준,,
1,2,개설일자,개설_일자,설비나 제도 따위를 새로 마련하고 그에 관한 일을 처음 시작한 날짜를 연월일로 표현,,$^$^dasd,연월일C8,CHAR,8,,2020-08-13,범정부표준,,
2,3,개시일자,개시_일자,시장을 처음 열어 물건의 매매를 시작한 날짜를 연월일로 표현,,asdf,연월일C8,CHAR,8,,2020-08-13,범정부표준,,
3,4,개업일자,개업_일자,영업을 처음 시작한 날짜를 연월일로 표현,,$^$^dasd,연월일C8,CHAR,8,,2020-08-13,범정부표준,,
4,5,개인정보 동의여부,개인_정보_동의_여부,특정 개인을 식별하거나 유추해 낼 수 있는 모든 정보를 공동 이용하도록 허락할지 참...,,sdf_dsfd_df,여부C1,CHAR,1,,2020-08-13,범정부표준,,

# 2. 용어 분리

In [60]:
# 인덱스 컬럼 초기화
df_index = pd.DataFrame(input_test['No'])
df_index.columns = ['index']

In [61]:
# 용어명 분리

# 용어명 분리
input_split_kor = pd.DataFrame(input_test['용어명 분리'].str.split('_').tolist()).fillna("")

# 영문명 없을 경우 대비하여 cnt 집계
kor_firts_cnt = len(input_split_kor.columns)

# 컬럼명 입력
col_list_kor = []
for i in range(len(input_split_kor.columns)):
    col_list_kor.append("stwd_kor{}".format(i))
input_split_kor.columns = col_list_kor

# 한글 개수 세기
dupl_list_kor = []
dupl_cnt_kor = []
for i in range(kor_firts_cnt):
    globals()["dupl_list_kor{}".format(i)] = []
    for j in range(len(input_split_kor["stwd_kor{}".format(i)])):
        dupl_list_kor = input_split_kor["stwd_kor{}".format(i)].to_list().count(input_split_kor["stwd_kor{}".format(i)][j])
        globals()["dupl_list_kor{}".format(i)].append(dupl_list_kor)
for i in range(kor_firts_cnt):
    globals()["dupl_list_kor{}".format(i)] = pd.concat([pd.DataFrame(globals()["dupl_list_kor{}".format(i)])], axis = 0)
    globals()["dupl_list_kor{}".format(i)].columns = ["dupl_list_kor{}".format(i)]
    
# 컬럼명,index, 단어위치 추가
for i in range(len(input_split_kor.columns)):
    input_split_kor["num_kor{}".format(i)] = "num_kor{}".format(i)
    globals()["stwd_kor{}".format(i)] = pd.concat(
            [
            df_index.fillna(""), 
            pd.DataFrame(input_split_kor["stwd_kor{}".format(i)]).fillna(""),
            pd.DataFrame(input_split_kor["num_kor{}".format(i)]).fillna(""),
            globals()["dupl_list_kor{}".format(i)].fillna("")
            ], 
            axis=1)
print(col_list_kor)
print(kor_firts_cnt)
# stwd_kor9
# dupl_list_kor0

['stwd_kor0', 'stwd_kor1', 'stwd_kor2', 'stwd_kor3', 'stwd_kor4', 'stwd_kor5', 'stwd_kor6', 'stwd_kor7', 'stwd_kor8', 'stwd_kor9']
10

In [62]:
# 영문명 분리

# 영문명이 하나라도 입력돼 있을 경우
if len(input_test['영문약어명']) > 0:
    print("영문명 컬럼 수 1개 이상:"+str((input_test['영문약어명']=="").sum()))

    # 영문명 분리
    input_split_eng = pd.DataFrame(input_test['영문약어명'].str.split('_').tolist()).fillna("")
    
    # 영문명 컬럼 수
    eng_firts_cnt = len(input_split_eng.columns)
    
    # 컬럼명 입력
    col_list_eng = []
    for i in range(len(input_split_eng.columns)):
        col_list_eng.append("stwd_eng{}".format(i))
    input_split_eng.columns = col_list_eng
    
    # 영문 개수 세기
    dupl_list_eng = []
    dupl_cnt_eng = []
    for i in range(eng_firts_cnt):
        globals()["dupl_list_eng{}".format(i)] = []
        for j in range(len(input_split_eng["stwd_eng{}".format(i)])):
            dupl_list_eng = input_split_eng["stwd_eng{}".format(i)].to_list().count(input_split_eng["stwd_eng{}".format(i)][j])
            globals()["dupl_list_eng{}".format(i)].append(dupl_list_eng)
    for i in range(eng_firts_cnt):
        globals()["dupl_list_eng{}".format(i)] = pd.concat([pd.DataFrame(globals()["dupl_list_eng{}".format(i)])], axis = 0)
        globals()["dupl_list_eng{}".format(i)].columns = ["dupl_list_eng{}".format(i)]
        
    # 컬럼명,index, 단어위치 추가
    for i in range(eng_firts_cnt):
        input_split_eng["num_eng{}".format(i)] = "num_eng{}".format(i)
        globals()["stwd_eng{}".format(i)] = pd.concat(
                [
                df_index.fillna(""), 
                pd.DataFrame(input_split_eng["stwd_eng{}".format(i)].fillna("")),
                pd.DataFrame(input_split_eng["num_eng{}".format(i)].fillna("")),
                globals()["dupl_list_eng{}".format(i)].fillna("")
                ], 
                axis=1)
        
# 영문명이 없을 경우
elif len(input_test['영문약어명']) == 0:
    print("영문명 컬럼 수 0개:"+str((input_test['영문약어명']=="").sum()))
    
    col_list_eng = []
    for i in range(kor_firts_cnt):
        globals()["stwd_eng{}".format(i)] = pd.DataFrame(columns = ["stwd_eng{}".format(i)])
        globals()["num_eng{}".format(i)] = pd.DataFrame(columns = ["num_eng{}".format(i)])
        globals()["dupl_list_eng{}".format(i)] = pd.DataFrame(columns = ["dupl_list_eng{}".format(i)])
        globals()["stwd_eng{}".format(i)] = pd.concat(
            [
                df_index.fillna(""), 
                globals()["stwd_eng{}".format(i)].fillna(""),
                globals()["num_eng{}".format(i)].fillna(""),
                globals()["dupl_list_eng{}".format(i)].fillna(""),
            ]
            , axis = 1
        )
        globals()["stwd_eng{}".format(i)]["num_eng{}".format(i)] = "num_eng{}".format(i)
        globals()["stwd_eng{}".format(i)]["dupl_list_eng{}".format(i)] = len(globals()["stwd_eng{}".format(i)])
        col_list_eng.append("stwd_eng{}".format(i))
        
else:
    print("한글컬럼, 영문커럼 예외 사항")

# 컬럼수 일치 점검
col_cnt_kor = len(col_list_kor)
col_cnt_eng = len(col_list_eng)
if len(col_list_kor) == len(col_list_eng):
    print("한글컬럼수와 영문컬럼수 일치")
    print("kor:" + str(col_cnt_kor) + " vs eng:" + str(col_cnt_eng))
else:
    print("한글컬럼수와 영문컬럼수 불일치")
    print("kor:" + str(col_cnt_kor) + " vs eng:" + str(col_cnt_eng))                                                       
print(col_list_eng)
stwd_eng0

영문명 컬럼 수 1개 이상:1336
한글컬럼수와 영문컬럼수 불일치
kor:10 vs eng:6
['stwd_eng0', 'stwd_eng1', 'stwd_eng2', 'stwd_eng3', 'stwd_eng4', 'stwd_eng5']

      index stwd_eng0  num_eng0  dupl_list_eng0
0         1   TEST!!!  num_eng0               1
1         2  $^$^dasd  num_eng0               3
2         3      asdf  num_eng0               1
3         4  $^$^dasd  num_eng0               3
4         5       sdf  num_eng0               1
...     ...       ...       ...             ...
1359   1360            num_eng0            1336
1360   1361            num_eng0            1336
1361   1362            num_eng0            1336
1362   1363            num_eng0            1336
1363   1364            num_eng0            1336

[1364 rows x 4 columns]

In [63]:
# 한글/영문 컬럼 수 일치시키기

# 한글컬럼과 영문컬럼 수 일치할 경우
if col_cnt_kor == col_cnt_eng:
    col_cnt = col_cnt_kor
    col_cnt_diff_list = None
    col_cnt_diff = None
    print('한글컬럼과 영문컬럼 수 일치')
    print("kor:" + str(col_cnt_kor) + " vs eng:" + str(col_cnt_eng))
    print("컬럼수 일치작업 후:" + str(col_cnt))  
    
# 한글컬럼이 더 많을 경우
elif col_cnt_kor > col_cnt_eng:
    col_cnt = col_cnt_kor
    col_cnt_diff_list = list(set(range(col_cnt_kor)) - set(range(col_cnt_eng)))
    col_cnt_diff = len(col_cnt_diff_list)
    for i in col_cnt_diff_list:
        input_split_eng['stwd_eng{}'.format(i)] = None
        input_split_eng['num_eng{}'.format(i)] = None
        input_split_eng['dupl_list_eng{}'.format(i)] = None
        globals()['stwd_eng{}'.format(i)] = pd.concat(
            [
                df_index,
                pd.DataFrame(input_split_eng['stwd_eng{}'.format(i)].fillna("")),
                pd.DataFrame(input_split_eng["num_eng{}".format(i)].fillna("")),
                pd.DataFrame(input_split_eng["dupl_list_eng{}".format(i)].fillna(""))
            ],
            axis = 1
        )
    print('한글컬럼이 더 많은 싱태')
    print("kor:" + str(col_cnt_kor) + " vs eng:" + str(col_cnt_eng))
    print("컬럼수 일치작업 후:" + str(col_cnt))  

# 영문컬럼이 더 많을 경우
elif col_cnt_kor < col_cnt_eng:
    col_cnt = col_cnt_eng
    col_cnt_diff_list = list(set(range(col_cnt_eng)) - set(range(col_cnt_kor)))
    col_cnt_diff = len(col_cnt_diff_list)
    for i in col_cnt_diff_list:
        input_split_kor['stwd_kor{}'.format(i)] = None
        input_split_kor['num_kor{}'.format(i)] = None
        input_split_eng['dupl_list_kor{}'.format(i)] = None
        globals()['stwd_kor{}'.format(i)] = pd.concat(
            [
                df_index,
                pd.DataFrame(input_split_kor['stwd_kor{}'.format(i)].fillna("")),
                pd.DataFrame(input_split_kor["num_kor{}".format(i)].fillna("")).
                pd.DataFrame(input_split_eng["dupl_list_kor{}".format(i)].fillna(""))
            ],
            axis = 1
        )
    print('영문컬럼이 더 많은 싱태')       
    print("kor:" + str(col_cnt_kor) + " vs eng:" + str(col_cnt_eng))
    print("컬럼수 일치작업 후:" + str(col_cnt))  
stwd_eng3

한글컬럼이 더 많은 싱태
kor:10 vs eng:6
컬럼수 일치작업 후:10

      index stwd_eng3  num_eng3  dupl_list_eng3
0         1            num_eng3            1362
1         2            num_eng3            1362
2         3            num_eng3            1362
3         4            num_eng3            1362
4         5            num_eng3            1362
...     ...       ...       ...             ...
1359   1360            num_eng3            1362
1360   1361            num_eng3            1362
1361   1362            num_eng3            1362
1362   1363            num_eng3            1362
1363   1364            num_eng3            1362

[1364 rows x 4 columns]

In [64]:
# n x m 정사각형 DafaFrame 점검
for i in range(col_cnt_kor):
    for j in range(len(globals()["stwd_kor{}".format(i)])):
        cnt = (j + 1)
    avg = np.mean(cnt)
avg_avg_kor = round(np.mean(avg), 2)
for i in range(col_cnt_eng):
    for j in range(len(globals()["stwd_kor{}".format(i)])):
        cnt = (j + 1)
    avg = np.mean(cnt)
avg_avg_eng = round(np.mean(avg), 2)
stwd_total_cnt = int(avg_avg_eng)
if avg_avg_kor == avg_avg_eng:
    print("한글 영문 row수 일치: 평균=" + str((avg_avg_kor + avg_avg_eng)/2))
    print("한글평균:" + str(avg_avg_kor) + ", 영문평균:" + str(avg_avg_eng) + ", 최종count:" + str(stwd_total_cnt))
else:
    yes_or_no("한글명과 영문명의 row count가 일치하지 않습니다. 계속 진행하시겠습니까?")
    print("한글 영문 row수 불일치: 평균" + str((avg_avg_kor + avg_avg_eng)/2))
    print("한글평균:" + str(avg_avg_kor) + ", 영문평균:" + str(avg_avg_eng) + ", 최종count:" + str(stwd_total_cnt))

한글 영문 row수 일치: 평균=1364.0
한글평균:1364.0, 영문평균:1364.0, 최종count:1364

In [65]:
# 중복검사를 위한 left join
for i in range(col_cnt):
    globals()['stwd_total{}'.format(i)] = pd.merge(
        globals()['stwd_kor{}'.format(i)],
        globals()['stwd_eng{}'.format(i)],
        on = 'index',
        how = 'left'
    )
print(col_cnt)
# stwd_total9

10

In [66]:
# 일렬 세우기

# unique_stwd 초기화 
stwd_total = pd.DataFrame()

## 컬럼명 바꾸고  concat
for i in range(col_cnt):
    globals()["stwd_total{}".format(i)].columns = [
        'index', 'stwd_kor', 'num_kor', 'dupl_list_kor', 'stwd_eng','num_eng', 'dupl_list_eng'
    ]
    stwd_total = pd.concat([stwd_total, globals()["stwd_total{}".format(i)]], axis = 0, ignore_index = True)
print(stwd_total.shape)
stwd_total

(13640, 7)

,index,stwd_kor,num_kor,dupl_list_kor,stwd_eng,num_eng,dupl_list_eng
0,1,가입tds,num_kor0,1,TEST!!!,num_eng0,1
1,2,개설,num_kor0,1,$^$^dasd,num_eng0,3
2,3,개시,num_kor0,1,asdf,num_eng0,1
3,4,개업,num_kor0,1,$^$^dasd,num_eng0,3
4,5,개인,num_kor0,1,sdf,num_eng0,1
...,...,...,...,...,...,...,...
13635,1360,,num_kor9,1363,,,
13636,1361,,num_kor9,1363,,,
13637,1362,,num_kor9,1363,,,
13638,1363,,num_kor9,1363,,,
13639,1364,,num_kor9,1363,,,

# 3. 이상값 수정

# 한글명에 한글과 영문대문자, 숫자 이외 표시 및 삭제 로직

In [67]:
def emoti_chk(var):
    if var == 'kor':
        # 한글명에 영문 소문자 탐색
        stwd_total = globals()['stwd_total']
        df_lower_kor = pd.DataFrame(columns = stwd_total.columns)        
        stwd_total['kor_lower'] = ''
        stwd_total['kor_ec'] = ''
        kor_chk_list = []
        for i in range(len(stwd_total)):

        #     특수기호 제거
        #     stwd_total.loc[i, 'stwd_kor'] =  stwd_total.loc[i, 'stwd_kor'].translate(str.maketrans('', '', string.punctuation))

            # 영문 소문자 체크 및 기록
            if stwd_total.loc[i, 'stwd_kor'].islower():
                tmp = pd.DataFrame(stwd_total.iloc[i,:]).transpose()
                df_lower_kor = pd.concat([df_lower_kor, tmp], axis=0)
                print("----------------------영문 소문자 체크 및 기록--------------------|")
                print('index: ' + str(i))
                print(stwd_total.loc[i, 'stwd_kor'] + " -> " + str(stwd_total.loc[i, 'stwd_kor'].upper()))
                kor_chk_list.append(i)

                # 영문 변경 이력 저장
                stwd_total.loc[i, 'kor_lower'] = stwd_total.loc[i, 'stwd_kor']      

                # 영문 대문자 변경
                stwd_total.loc[i, 'stwd_kor'] = stwd_total.loc[i, 'stwd_kor'].upper()

            # 영문 대문자, 숫자, 한글만 체크
            cor_kor = re.findall('[A-Z0-9가-힣+]', stwd_total.loc[i, 'stwd_kor'])
            chk_kor = len(cor_kor) == len(list(stwd_total.loc[i, 'stwd_kor']))

            if bool(chk_kor) == False:
                print("-----------------------------특수기호제거----------------------------|")
                print('index: ' + str(i))
                print(stwd_total.loc[i, 'stwd_kor'] + " -> " + str(''.join(cor_kor)))
                kor_chk_list.append(i)

            # 영문대문자, 숫자, 한글 외 변경 이력 저장
            stwd_total.loc[i, 'kor_ec'] = re.sub('[A-Z0-9가-힣+]', '', stwd_total.loc[i, 'stwd_kor'])        

            # 영문대문자, 숫자, 한글 외 자동 삭제
            stwd_total.loc[i, 'stwd_kor'] = ''.join(cor_kor)

        # 변경 이력 저장
        stwd_total['kor_cor_hist'] = ""
        stwd_total['kor_cor_hist'] = stwd_total['kor_lower'] + stwd_total['kor_ec']

        # 적용 후 결과값
        print("====================================한글명 검토====================================|")
        print('소문자 처리: ' + str(len(df_lower_kor)) + '개')
        stwd_total_kor_chk_1 = stwd_total.iloc[kor_chk_list]
        print("나머지 제거: "+ str(len(kor_chk_list)))
        print('[자동 처리 완료하였습니다]')

    elif var == 'eng':
        # 영문명에 영문 소문자 탐색
        stwd_total = globals()['stwd_total']
        df_lower_eng = pd.DataFrame(columns = stwd_total.columns)        
        stwd_total['eng_lower'] = ''
        stwd_total['eng_ec'] = ''
        eng_chk_list = []
        for i in range(len(stwd_total)):

            # 영문 소문자 체크 및 기록
            if stwd_total.loc[i, 'stwd_eng'].islower():
                tmp = pd.DataFrame(stwd_total.iloc[i,:]).transpose()
                df_lower_eng = pd.concat([df_lower_eng, tmp], axis=0)
                print("----------------------영문 소문자 체크 및 기록--------------------|")
                print('index: ' + str(i))
                print(stwd_total.loc[i, 'stwd_eng'] + " -> " + str(stwd_total.loc[i, 'stwd_eng'].upper()))
                eng_chk_list.append(i)

                # 영문 변경 이력 저장
                stwd_total.loc[i, 'eng_lower'] = stwd_total.loc[i, 'stwd_eng']      

                # 영문 대문자 변경
                stwd_total.loc[i, 'stwd_eng'] = stwd_total.loc[i, 'stwd_eng'].upper()

            # 영문 대문자, 숫자, 한글만 체크
            cor_eng = re.findall('[A-Z0-9+]', stwd_total.loc[i, 'stwd_eng'])
            chk_eng = len(cor_eng) == len(list(stwd_total.loc[i, 'stwd_eng']))

            if bool(chk_eng) == False:
                print("-----------------------------특수기호제거----------------------------|")
                print('index: ' + str(i))
                print(stwd_total.loc[i, 'stwd_eng'] + " -> " + str(''.join(cor_eng)))
                eng_chk_list.append(i)

            # 영문대문자, 숫자 외 변경 이력 저장
            stwd_total.loc[i, 'eng_ec'] = re.sub('[A-Z0-9+]', '', stwd_total.loc[i, 'stwd_eng'])        

            # 영문대문자, 숫자 외 자동 삭제
            stwd_total.loc[i, 'stwd_eng'] = ''.join(cor_eng)

        # 변경 이력 저장
        stwd_total['eng_cor_hist'] = ''
        stwd_total['eng_cor_hist'] = stwd_total['eng_lower'] + stwd_total['eng_ec']

        # 적용 후 결과값
        print("====================================영문명 검토====================================|")
        print('소문자 처리: ' + str(len(df_lower_eng)) + '개')
        stwd_total_eng_chk_1 = stwd_total.iloc[eng_chk_list]
        print("나머지 제거: "+ str(len(eng_chk_list)))
        print('[자동 처리 완료하였습니다]')
        
    else:
        print("잘못된 입력입니다( 'kor' / 'eng' )")

In [70]:
# 데이터 검토
ans = yes_or_no("데이터 검토를 실행 하시겠습니까?")
if ans == True:
    emoti_chk('kor')
    emoti_chk('eng')
elif ans == False:
    print("계속 진행하겠습니다")

데이터 검토를 실행 하시겠습니까? (y/n): y
----------------------영문 소문자 체크 및 기록--------------------|
index: 0
가입tds -> 가입TDS
----------------------영문 소문자 체크 및 기록--------------------|
index: 1358
테스트ad -> 테스트AD
-----------------------------특수기호제거----------------------------|
index: 1767
률(계획) -> 률계획
-----------------------------특수기호제거----------------------------|
index: 1869
키-레코드 -> 키레코드
-----------------------------특수기호제거----------------------------|
index: 2277
(계획) -> 계획
-----------------------------특수기호제거----------------------------|
index: 2278
(계획) -> 계획
-----------------------------특수기호제거----------------------------|
index: 3150
(학력) -> 학력
-----------------------------특수기호제거----------------------------|
index: 3151
(학력) -> 학력
-----------------------------특수기호제거----------------------------|
index: 3368
(미화) -> 미화
-----------------------------특수기호제거----------------------------|
index: 3373
(미화) -> 미화
-----------------------------특수기호제거----------------------------|
index: 3510
(%) ->
-----------------------------특수기호제거----------------------------|
index: 3603
(학력) -> 학력
-----------------------------특수기호제거----------------------------|
index: 3604
(학력) -> 학력
-----------------------------특수기호제거----------------------------|
index: 3638
(학력) -> 학력
-----------------------------특수기호제거----------------------------|
index: 3639
(학력) -> 학력
-----------------------------특수기호제거----------------------------|
index: 4775
(계획) -> 계획
-----------------------------특수기호제거----------------------------|
index: 4912
(계획) -> 계획
-----------------------------특수기호제거----------------------------|
index: 4934
(계획) -> 계획
-----------------------------특수기호제거----------------------------|
index: 5146
(空) ->
-----------------------------특수기호제거----------------------------|
index: 5147
(空) ->
-----------------------------특수기호제거----------------------------|
index: 5148
(空) ->
-----------------------------특수기호제거----------------------------|
index: 5149
(空) ->
-----------------------------특수기호제거----------------------------|
index: 5150
(空) ->
-----------------------------특수기호제거----------------------------|
index: 5157
(空) ->
-----------------------------특수기호제거----------------------------|
index: 5158
(空) ->
-----------------------------특수기호제거----------------------------|
index: 5159
(空) ->
-----------------------------특수기호제거----------------------------|
index: 5160
(空) ->
-----------------------------특수기호제거----------------------------|
index: 5161
(空) ->
-----------------------------특수기호제거----------------------------|
index: 6223
(누적) -> 누적
-----------------------------특수기호제거----------------------------|
index: 6224
(최종합계) -> 최종합계
====================================한글명 검토====================================|
소문자 처리: 2개
나머지 제거: 30
[자동 처리 완료하였습니다]
-----------------------------특수기호제거----------------------------|
index: 0
TEST!!! -> TEST
----------------------영문 소문자 체크 및 기록--------------------|
index: 1
$^$^dasd -> $^$^DASD
-----------------------------특수기호제거----------------------------|
index: 1
$^$^DASD -> DASD
----------------------영문 소문자 체크 및 기록--------------------|
index: 2
asdf -> ASDF
----------------------영문 소문자 체크 및 기록--------------------|
index: 3
$^$^dasd -> $^$^DASD
-----------------------------특수기호제거----------------------------|
index: 3
$^$^DASD -> DASD
----------------------영문 소문자 체크 및 기록--------------------|
index: 4
sdf -> SDF
-----------------------------특수기호제거----------------------------|
index: 5
한글 여기 있지롱 ->
----------------------영문 소문자 체크 및 기록--------------------|
index: 6
$^$^dasd -> $^$^DASD
-----------------------------특수기호제거----------------------------|
index: 6
$^$^DASD -> DASD
-----------------------------특수기호제거----------------------------|
index: 7
한글 여기 있지롱 ->
-----------------------------특수기호제거----------------------------|
index: 9
한글여기있지롱 ->
-----------------------------특수기호제거----------------------------|
index: 10
한글여기있지롱 ->
-----------------------------특수기호제거----------------------------|
index: 11
한글eng섞었G -> G
----------------------영문 소문자 체크 및 기록--------------------|
index: 12
asdgsd!!! -> ASDGSD!!!
-----------------------------특수기호제거----------------------------|
index: 12
ASDGSD!!! -> ASDGSD
----------------------영문 소문자 체크 및 기록--------------------|
index: 13
asdgsd!!! -> ASDGSD!!!
-----------------------------특수기호제거----------------------------|
index: 13
ASDGSD!!! -> ASDGSD
----------------------영문 소문자 체크 및 기록--------------------|
index: 14
asdgsd!!! -> ASDGSD!!!
-----------------------------특수기호제거----------------------------|
index: 14
ASDGSD!!! -> ASDGSD
----------------------영문 소문자 체크 및 기록--------------------|
index: 15
asdgsd!!! -> ASDGSD!!!
-----------------------------특수기호제거----------------------------|
index: 15
ASDGSD!!! -> ASDGSD
-----------------------------특수기호제거----------------------------|
index: 16
#@# ->
----------------------영문 소문자 체크 및 기록--------------------|
index: 17
asgdas -> ASGDAS
-----------------------------특수기호제거----------------------------|
index: 19
한글eng섞었G -> G
-----------------------------특수기호제거----------------------------|
index: 22
한글 ->
-----------------------------특수기호제거----------------------------|
index: 23
Y한O -> YO
----------------------영문 소문자 체크 및 기록--------------------|
index: 24
fa -> FA
----------------------영문 소문자 체크 및 기록--------------------|
index: 25
fa -> FA
----------------------영문 소문자 체크 및 기록--------------------|
index: 26
fa -> FA
----------------------영문 소문자 체크 및 기록--------------------|
index: 27
fa -> FA
----------------------영문 소문자 체크 및 기록--------------------|
index: 28
fa -> FA
----------------------영문 소문자 체크 및 기록--------------------|
index: 29
sd@# -> SD@#
-----------------------------특수기호제거----------------------------|
index: 29
SD@# -> SD
----------------------영문 소문자 체크 및 기록--------------------|
index: 1368
dsfd -> DSFD
----------------------영문 소문자 체크 및 기록--------------------|
index: 1372
av -> AV
-----------------------------특수기호제거----------------------------|
index: 1380
#$$# ->
----------------------영문 소문자 체크 및 기록--------------------|
index: 1386
eng -> ENG
----------------------영문 소문자 체크 및 기록--------------------|
index: 1387
go -> GO
----------------------영문 소문자 체크 및 기록--------------------|
index: 1393
@#sdf -> @#SDF
-----------------------------특수기호제거----------------------------|
index: 1393
@#SDF -> SDF
----------------------영문 소문자 체크 및 기록--------------------|
index: 2732
df -> DF
-----------------------------특수기호제거----------------------------|
index: 2750
섞었 ->
-----------------------------특수기호제거----------------------------|
index: 2751
글두 ->
-----------------------------특수기호제거----------------------------|
index: 2757
@TTT -> TTT
----------------------영문 소문자 체크 및 기록--------------------|
index: 4115
g섞 -> G섞
-----------------------------특수기호제거----------------------------|
index: 4115
G섞 -> G
-----------------------------특수기호제거----------------------------|
index: 5479
었G -> G
====================================영문명 검토====================================|
소문자 처리: 23개
나머지 제거: 48
[자동 처리 완료하였습니다]

In [73]:
# 필요 컬럼 추리기
stwd_total['cor_hist'] = stwd_total['kor_cor_hist'] + "/" + stwd_total['eng_cor_hist'] 
tmp_list = ['index', 'stwd_kor', 'num_kor', 'dupl_list_kor', 'stwd_eng', 'num_eng', 'dupl_list_eng', 'cor_hist']
stwd_total = stwd_total[tmp_list]

# 띄어쓰기 제거(다시)
stwd_total['stwd_kor'] = stwd_total['stwd_kor'].str.replace(" ", "")
stwd_total['stwd_eng'] = stwd_total['stwd_eng'].str.replace(" ", "")
print(stwd_total.shape)
stwd_total.head(500)

(13640, 8)

C:\Users\namdd\AppData\Local\Temp\ipykernel_29432\4273801444.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stwd_total['stwd_kor'] = stwd_total['stwd_kor'].str.replace(" ", "")
C:\Users\namdd\AppData\Local\Temp\ipykernel_29432\4273801444.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stwd_total['stwd_eng'] = stwd_total['stwd_eng'].str.replace(" ", "")

,index,stwd_kor,num_kor,dupl_list_kor,stwd_eng,num_eng,dupl_list_eng,cor_hist
0,1,가입TDS,num_kor0,1,TEST,num_eng0,1,가입tds/!!!
1,2,개설,num_kor0,1,DASD,num_eng0,3,/$^$^dasd$^$^
2,3,개시,num_kor0,1,ASDF,num_eng0,1,/asdf
3,4,개업,num_kor0,1,DASD,num_eng0,3,/$^$^dasd$^$^
4,5,개인,num_kor0,1,SDF,num_eng0,1,/sdf
5,6,개정,num_kor0,1,,num_eng0,2,/한글 여기 있지롱
6,7,갱신,num_kor0,1,DASD,num_eng0,3,/$^$^dasd$^$^
7,8,거래,num_kor0,1,,num_eng0,2,/한글 여기 있지롱
8,9,검사,num_kor0,1,DD,num_eng0,1,/
9,10,검증,num_kor0,1,,num_eng0,2,/한글여기있지롱
10,11,검토,num_kor0,3,,num_eng0,2,/한글여기있지롱
11,12,게시,num_kor0,4,G,num_eng0,2,/한글eng섞었
12,13,게시,num_kor0,4,ASDGSD,num_eng0,4,/asdgsd!!!!!!
13,14,게시,num_kor0,4,ASDGSD,num_eng0,4,/asdgsd!!!!!!
14,15,게시,num_kor0,4,ASDGSD,num_eng0,4,/asdgsd!!!!!!
15,16,결재,num_kor0,3,ASDGSD,num_eng0,4,/asdgsd!!!!!!
16,17,결재,num_kor0,3,,num_eng0,1,/#@#
17,18,결재,num_kor0,3,ASGDAS,num_eng0,1,/asgdas
18,19,결정,num_kor0,1,,num_eng0,1336,/
19,20,결제,num_kor0,1,G,num_eng0,2,/한글eng섞었
20,21,계약,num_kor0,7,,num_eng0,1336,/
21,22,계약,num_kor0,7,AAA,num_eng0,1,/
22,23,계약,num_kor0,7,,num_eng0,1,/한글
23,24,계획,num_kor0,2,YO,num_eng0,1,/한
24,25,고시,num_kor0,1,FA,num_eng0,5,/fa
25,26,고지,num_kor0,1,FA,num_eng0,5,/fa
26,27,공개,num_kor0,2,FA,num_eng0,5,/fa
27,28,공개,num_kor0,2,FA,num_eng0,5,/fa
28,29,공고,num_kor0,1,FA,num_eng0,5,/fa
29,30,공사,num_kor0,3,SD,num_eng0,1,/sd@#@#
30,31,공사,num_kor0,3,,num_eng0,1336,/
31,32,공사,num_kor0,3,,num_eng0,1336,/
32,33,공지,num_kor0,1,,num_eng0,1336,/
33,34,관리,num_kor0,6,,num_eng0,1336,/
34,35,관리,num_kor0,6,,num_eng0,1336,/
35,36,관리자,num_kor0,1,,num_eng0,1336,/
36,37,교부,num_kor0,1,,num_eng0,1336,/
37,38,교육,num_kor0,27,,num_eng0,1336,/
38,39,교육,num_kor0,27,,num_eng0,1336,/
39,40,교육,num_kor0,27,,num_eng0,1336,/
40,41,교육,num_kor0,27,,num_eng0,1336,/
41,42,교육,num_kor0,27,,num_eng0,1336,/
42,43,구입,num_kor0,1,,num_eng0,1336,/
43,44,근무,num_kor0,5,,num_eng0,1336,/
44,45,근무,num_kor0,5,,num_eng0,1336,/
45,46,근무,num_kor0,5,,num_eng0,1336,/
46,47,기준,num_kor0,9,,num_eng0,1336,/
47,48,기준,num_kor0,9,,num_eng0,1336,/
48,49,기준,num_kor0,9,,num_eng0,1336,/
49,50,기준,num_kor0,9,,num_eng0,1336,/
50,51,기타,num_kor0,1,,num_eng0,1336,/
51,52,긴급,num_kor0,1,,num_eng0,1336,/
52,53,납부,num_kor0,2,,num_eng0,1336,/
53,54,납부,num_kor0,2,,num_eng0,1336,/
54,55,노출,num_kor0,1,,num_eng0,1336,/
55,56,답변,num_kor0,3,,num_eng0,1336,/
56,57,답변,num_kor0,3,,num_eng0,1336,/
57,58,답변,num_kor0,3,,num_eng0,1336,/
58,59,대상,num_kor0,3,,num_eng0,1336,/
59,60,대상,num_kor0,3,,num_eng0,1336,/
60,61,대표,num_kor0,5,,num_eng0,1336,/
61,62,대표자,num_kor0,5,,num_eng0,1336,/
62,63,대표자,num_kor0,5,,num_eng0,1336,/
63,64,댓글,num_kor0,2,,num_eng0,1336,/
64,65,댓글,num_kor0,2,,num_eng0,1336,/
65,66,동의,num_kor0,1,,num_eng0,1336,/
66,67,등록,num_kor0,9,,num_eng0,1336,/
67,68,등록,num_kor0,9,,num_eng0,1336,/
68,69,등록,num_kor0,9,,num_eng0,1336,/
69,70,등록,num_kor0,9,,num_eng0,1336,/
70,71,등록,num_kor0,9,,num_eng0,1336,/
71,72,등록,num_kor0,9,,num_eng0,1336,/
72,73,등록,num_kor0,9,,num_eng0,1336,/
73,74,로그인,num_kor0,2,,num_eng0,1336,/
74,75,로그인,num_kor0,2,,num_eng0,1336,/
75,76,마감,num_kor0,4,,num_eng0,1336,/
76,77,마감,num_kor0,4,,num_eng0,1336,/
77,78,마감,num_kor0,4,,num_eng0,1336,/
78,79,마감,num_kor0,4,,num_eng0,1336,/
79,80,만기,num_kor0,1,,num_eng0,1336,/
80,81,만료,num_kor0,1,,num_eng0,1336,/
81,82,말소,num_kor0,1,,num_eng0,1336,/
82,83,매입,num_kor0,1,,num_eng0,1336,/
83,84,민원,num_kor0,1,,num_eng0,1336,/
84,85,반납,num_kor0,1,,num_eng0,1336,/
85,86,반려,num_kor0,3,,num_eng0,1336,/
86,87,반려,num_kor0,3,,num_eng0,1336,/
87,88,반려,num_kor0,3,,num_eng0,1336,/
88,89,반송,num_kor0,1,,num_eng0,1336,/
89,90,반영,num_kor0,2,,num_eng0,1336,/
90,91,반영,num_kor0,2,,num_eng0,1336,/
91,92,발급,num_kor0,4,,num_eng0,1336,/
92,93,발급,num_kor0,4,,num_eng0,1336,/
93,94,발급,num_kor0,4,,num_eng0,1336,/
94,95,발급,num_kor0,4,,num_eng0,1336,/
95,96,발생,num_kor0,2,,num_eng0,1336,/
96,97,발생,num_kor0,2,,num_eng0,1336,/
97,98,발송,num_kor0,16,,num_eng0,1336,/
98,99,발송,num_kor0,16,,num_eng0,1336,/
99,100,발송,num_kor0,16,,num_eng0,1336,/
100,101,발행,num_kor0,3,,num_eng0,1336,/
101,102,발행,num_kor0,3,,num_eng0,1336,/
102,103,발행,num_kor0,3,,num_eng0,1336,/
103,104,방문,num_kor0,1,,num_eng0,1336,/
104,105,법인등록,num_kor0,1,,num_eng0,1336,/
105,106,변경,num_kor0,10,,num_eng0,1336,/
106,107,변경,num_kor0,10,,num_eng0,1336,/
107,108,변경,num_kor0,10,,num_eng0,1336,/
108,109,변동,num_kor0,1,,num_eng0,1336,/
109,110,보고,num_kor0,1,,num_eng0,1336,/
110,111,사고,num_kor0,1,,num_eng0,1336,/
111,112,사망,num_kor0,2,,num_eng0,1336,/
112,113,사망,num_kor0,2,,num_eng0,1336,/
113,114,사업,num_kor0,18,,num_eng0,1336,/
114,115,사업,num_kor0,18,,num_eng0,1336,/
115,116,사업,num_kor0,18,,num_eng0,1336,/
116,117,사용,num_kor0,9,,num_eng0,1336,/
117,118,사용,num_kor0,9,,num_eng0,1336,/
118,119,사용,num_kor0,9,,num_eng0,1336,/
119,120,사용,num_kor0,9,,num_eng0,1336,/
120,121,사용,num_kor0,9,,num_eng0,1336,/
121,122,삭제,num_kor0,4,,num_eng0,1336,/
122,123,삭제,num_kor0,4,,num_eng0,1336,/
123,124,삭제,num_kor0,4,,num_eng0,1336,/
124,125,삭제,num_kor0,4,,num_eng0,1336,/
125,126,상담,num_kor0,1,,num_eng0,1336,/
126,127,생년,num_kor0,1,,num_eng0,1336,/
127,128,생성,num_kor0,2,,num_eng0,1336,/
128,129,생성,num_kor0,2,,num_eng0,1336,/
129,130,선정,num_kor0,2,,num_eng0,1336,/
130,131,선정,num_kor0,2,,num_eng0,1336,/
131,132,선택,num_kor0,1,,num_eng0,1336,/
132,133,설립,num_kor0,1,,num_eng0,1336,/
133,134,설정,num_kor0,3,,num_eng0,1336,/
134,135,설치,num_kor0,2,,num_eng0,1336,/
135,136,설치,num_kor0,2,,num_eng0,1336,/
136,137,성공,num_kor0,1,,num_eng0,1336,/
137,138,송신,num_kor0,3,,num_eng0,1336,/
138,139,송신,num_kor0,3,,num_eng0,1336,/
139,140,송신,num_kor0,3,,num_eng0,1336,/
140,141,수납,num_kor0,1,,num_eng0,1336,/
141,142,수령,num_kor0,2,,num_eng0,1336,/
142,143,수료,num_kor0,2,,num_eng0,1336,/
143,144,수신,num_kor0,3,,num_eng0,1336,/
144,145,수신,num_kor0,3,,num_eng0,1336,/
145,146,수신,num_kor0,3,,num_eng0,1336,/
146,147,수정,num_kor0,4,,num_eng0,1336,/
147,148,수정,num_kor0,4,,num_eng0,1336,/
148,149,수정,num_kor0,4,,num_eng0,1336,/
149,150,수정,num_kor0,4,,num_eng0,1336,/
150,151,수집,num_kor0,1,,num_eng0,1336,/
151,152,승인,num_kor0,3,,num_eng0,1336,/
152,153,승인,num_kor0,3,,num_eng0,1336,/
153,154,승인,num_kor0,3,,num_eng0,1336,/
154,155,시작,num_kor0,4,,num_eng0,1336,/
155,156,시작,num_kor0,4,,num_eng0,1336,/
156,157,시작,num_kor0,4,,num_eng0,1336,/
157,158,시작,num_kor0,4,,num_eng0,1336,/
158,159,시행,num_kor0,1,,num_eng0,1336,/
159,160,신고,num_kor0,2,,num_eng0,1336,/
160,161,신고,num_kor0,2,,num_eng0,1336,/
161,162,신규,num_kor0,1,,num_eng0,1336,/
162,163,신청,num_kor0,13,,num_eng0,1336,/
163,164,신청,num_kor0,13,,num_eng0,1336,/
164,165,신청,num_kor0,13,,num_eng0,1336,/
165,166,신청,num_kor0,13,,num_eng0,1336,/
166,167,신청,num_kor0,13,,num_eng0,1336,/
167,168,신청,num_kor0,13,,num_eng0,1336,/
168,169,신청자,num_kor0,1,,num_eng0,1336,/
169,170,실행,num_kor0,3,,num_eng0,1336,/
170,171,심사,num_kor0,1,,num_eng0,1336,/
171,172,심의,num_kor0,1,,num_eng0,1336,/
172,173,여권,num_kor0,1,,num_eng0,1336,/
173,174,연계,num_kor0,4,,num_eng0,1336,/
174,175,연계,num_kor0,4,,num_eng0,1336,/
175,176,연계,num_kor0,4,,num_eng0,1336,/
176,177,연계,num_kor0,4,,num_eng0,1336,/
177,178,예약,num_kor0,7,,num_eng0,1336,/
178,179,예약,num_kor0,7,,num_eng0,1336,/
179,180,오류,num_kor0,1,,num_eng0,1336,/
180,181,완료,num_kor0,2,,num_eng0,1336,/
181,182,완료,num_kor0,2,,num_eng0,1336,/
182,183,외국인,num_kor0,2,,num_eng0,1336,/
183,184,외국인,num_kor0,2,,num_eng0,1336,/
184,185,요청,num_kor0,2,,num_eng0,1336,/
185,186,요청,num_kor0,2,,num_eng0,1336,/
186,187,운영,num_kor0,1,,num_eng0,1336,/
187,188,위촉,num_kor0,1,,num_eng0,1336,/
188,189,유효,num_kor0,4,,num_eng0,1336,/
189,190,유효,num_kor0,4,,num_eng0,1336,/
190,191,유효,num_kor0,4,,num_eng0,1336,/
191,192,유효,num_kor0,4,,num_eng0,1336,/
192,193,응답,num_kor0,1,,num_eng0,1336,/
193,194,의뢰,num_kor0,1,,num_eng0,1336,/
194,195,이관,num_kor0,3,,num_eng0,1336,/
195,196,이관,num_kor0,3,,num_eng0,1336,/
196,197,이관,num_kor0,3,,num_eng0,1336,/
197,198,이동,num_kor0,1,,num_eng0,1336,/
198,199,이메일,num_kor0,3,,num_eng0,1336,/
199,200,이메일,num_kor0,3,,num_eng0,1336,/
200,201,이메일,num_kor0,3,,num_eng0,1336,/
201,202,이의,num_kor0,1,,num_eng0,1336,/
202,203,인수,num_kor0,3,,num_eng0,1336,/
203,204,인증,num_kor0,2,,num_eng0,1336,/
204,205,인증,num_kor0,2,,num_eng0,1336,/
205,206,임시,num_kor0,5,,num_eng0,1336,/
206,207,입고,num_kor0,7,,num_eng0,1336,/
207,208,입국,num_kor0,1,,num_eng0,1336,/
208,209,입금,num_kor0,1,,num_eng0,1336,/
209,210,입력,num_kor0,3,,num_eng0,1336,/
210,211,입력,num_kor0,3,,num_eng0,1336,/
211,212,입력,num_kor0,3,,num_eng0,1336,/
212,213,입사,num_kor0,3,,num_eng0,1336,/
213,214,자격,num_kor0,5,,num_eng0,1336,/
214,215,자료,num_kor0,1,,num_eng0,1336,/
215,216,자택,num_kor0,1,,num_eng0,1336,/
216,217,작성,num_kor0,2,,num_eng0,1336,/
217,218,작성,num_kor0,2,,num_eng0,1336,/
218,219,작업,num_kor0,4,,num_eng0,1336,/
219,220,작업,num_kor0,4,,num_eng0,1336,/
220,221,작업,num_kor0,4,,num_eng0,1336,/
221,222,작업,num_kor0,4,,num_eng0,1336,/
222,223,저장,num_kor0,2,,num_eng0,1336,/
223,224,저장,num_kor0,2,,num_eng0,1336,/
224,225,적용,num_kor0,11,,num_eng0,1336,/
225,226,적용,num_kor0,11,,num_eng0,1336,/
226,227,적용,num_kor0,11,,num_eng0,1336,/
227,228,적용,num_kor0,11,,num_eng0,1336,/
228,229,적용,num_kor0,11,,num_eng0,1336,/
229,230,적용,num_kor0,11,,num_eng0,1336,/
230,231,적용,num_kor0,11,,num_eng0,1336,/
231,232,적용,num_kor0,11,,num_eng0,1336,/
232,233,적용,num_kor0,11,,num_eng0,1336,/
233,234,적합,num_kor0,1,,num_eng0,1336,/
234,235,전송,num_kor0,3,,num_eng0,1336,/
235,236,전송,num_kor0,3,,num_eng0,1336,/
236,237,전송,num_kor0,3,,num_eng0,1336,/
237,238,전입,num_kor0,1,,num_eng0,1336,/
238,239,전화번호,num_kor0,1,,num_eng0,1336,/
239,240,점검,num_kor0,2,,num_eng0,1336,/
240,241,점검,num_kor0,2,,num_eng0,1336,/
241,242,접속,num_kor0,2,,num_eng0,1336,/
242,243,접속,num_kor0,2,,num_eng0,1336,/
243,244,접수,num_kor0,5,,num_eng0,1336,/
244,245,접수,num_kor0,5,,num_eng0,1336,/
245,246,접수,num_kor0,5,,num_eng0,1336,/
246,247,접수,num_kor0,5,,num_eng0,1336,/
247,248,접수,num_kor0,5,,num_eng0,1336,/
248,249,정산,num_kor0,7,,num_eng0,1336,/
249,250,정산,num_kor0,7,,num_eng0,1336,/
250,251,제외,num_kor0,1,,num_eng0,1336,/
251,252,제출,num_kor0,3,,num_eng0,1336,/
252,253,제출,num_kor0,3,,num_eng0,1336,/
253,254,제출,num_kor0,3,,num_eng0,1336,/
254,255,조사,num_kor0,4,,num_eng0,1336,/
255,256,조사,num_kor0,4,,num_eng0,1336,/
256,257,조사,num_kor0,4,,num_eng0,1336,/
257,258,조사,num_kor0,4,,num_eng0,1336,/
258,259,조치,num_kor0,1,,num_eng0,1336,/
259,260,조회,num_kor0,2,,num_eng0,1336,/
260,261,조회,num_kor0,2,,num_eng0,1336,/
261,262,종결,num_kor0,1,,num_eng0,1336,/
262,263,종료,num_kor0,5,,num_eng0,1336,/
263,264,종료,num_kor0,5,,num_eng0,1336,/
264,265,종료,num_kor0,5,,num_eng0,1336,/
265,266,종료,num_kor0,5,,num_eng0,1336,/
266,267,종료,num_kor0,5,,num_eng0,1336,/
267,268,주민등록,num_kor0,1,,num_eng0,1336,/
268,269,준공,num_kor0,1,,num_eng0,1336,/
269,270,중복,num_kor0,1,,num_eng0,1336,/
270,271,지급,num_kor0,3,,num_eng0,1336,/
271,272,지정,num_kor0,3,,num_eng0,1336,/
272,273,지정,num_kor0,3,,num_eng0,1336,/
273,274,지정,num_kor0,3,,num_eng0,1336,/
274,275,지하,num_kor0,1,,num_eng0,1336,/
275,276,집계,num_kor0,2,,num_eng0,1336,/
276,277,집계,num_kor0,2,,num_eng0,1336,/
277,278,착공,num_kor0,1,,num_eng0,1336,/
278,279,참석,num_kor0,1,,num_eng0,1336,/
279,280,처리,num_kor0,7,,num_eng0,1336,/
280,281,처리,num_kor0,7,,num_eng0,1336,/
281,282,처리,num_kor0,7,,num_eng0,1336,/
282,283,처리,num_kor0,7,,num_eng0,1336,/
283,284,처리,num_kor0,7,,num_eng0,1336,/
284,285,처리,num_kor0,7,,num_eng0,1336,/
285,286,처리,num_kor0,7,,num_eng0,1336,/
286,287,처분,num_kor0,1,,num_eng0,1336,/
287,288,첨부,num_kor0,1,,num_eng0,1336,/
288,289,청구,num_kor0,5,,num_eng0,1336,/
289,290,최종,num_kor0,7,,num_eng0,1336,/
290,291,최종,num_kor0,7,,num_eng0,1336,/
291,292,최종,num_kor0,7,,num_eng0,1336,/
292,293,최종,num_kor0,7,,num_eng0,1336,/
293,294,최종,num_kor0,7,,num_eng0,1336,/
294,295,최종,num_kor0,7,,num_eng0,1336,/
295,296,최초,num_kor0,5,,num_eng0,1336,/
296,297,최초,num_kor0,5,,num_eng0,1336,/
297,298,최초,num_kor0,5,,num_eng0,1336,/
298,299,추출,num_kor0,1,,num_eng0,1336,/
299,300,출력,num_kor0,3,,num_eng0,1336,/
300,301,출력,num_kor0,3,,num_eng0,1336,/
301,302,출력,num_kor0,3,,num_eng0,1336,/
302,303,출생,num_kor0,1,,num_eng0,1336,/
303,304,취득,num_kor0,2,,num_eng0,1336,/
304,305,취소,num_kor0,3,,num_eng0,1336,/
305,306,취소,num_kor0,3,,num_eng0,1336,/
306,307,취소,num_kor0,3,,num_eng0,1336,/
307,308,탈퇴,num_kor0,2,,num_eng0,1336,/
308,309,탈퇴,num_kor0,2,,num_eng0,1336,/
309,310,통계,num_kor0,2,,num_eng0,1336,/
310,311,통계,num_kor0,2,,num_eng0,1336,/
311,312,통보,num_kor0,3,,num_eng0,1336,/
312,313,통보,num_kor0,3,,num_eng0,1336,/
313,314,통보,num_kor0,3,,num_eng0,1336,/
314,315,통지,num_kor0,1,,num_eng0,1336,/
315,316,퇴직,num_kor0,2,,num_eng0,1336,/
316,317,판정,num_kor0,1,,num_eng0,1336,/
317,318,팝업,num_kor0,1,,num_eng0,1336,/
318,319,평가,num_kor0,4,,num_eng0,1336,/
319,320,평가,num_kor0,4,,num_eng0,1336,/
320,321,평가,num_kor0,4,,num_eng0,1336,/
321,322,평가,num_kor0,4,,num_eng0,1336,/
322,323,폐기,num_kor0,1,,num_eng0,1336,/
323,324,폐쇄,num_kor0,1,,num_eng0,1336,/
324,325,폐업,num_kor0,1,,num_eng0,1336,/
325,326,폐지,num_kor0,2,,num_eng0,1336,/
326,327,폐지,num_kor0,2,,num_eng0,1336,/
327,328,표시,num_kor0,1,,num_eng0,1336,/
328,329,필수,num_kor0,1,,num_eng0,1336,/
329,330,합격,num_kor0,1,,num_eng0,1336,/
330,331,해당,num_kor0,1,,num_eng0,1336,/
331,332,해제,num_kor0,1,,num_eng0,1336,/
332,333,해지,num_kor0,1,,num_eng0,1336,/
333,334,허가,num_kor0,1,,num_eng0,1336,/
334,335,확인,num_kor0,3,,num_eng0,1336,/
335,336,확인,num_kor0,3,,num_eng0,1336,/
336,337,확인,num_kor0,3,,num_eng0,1336,/
337,338,확정,num_kor0,2,,num_eng0,1336,/
338,339,확정,num_kor0,2,,num_eng0,1336,/
339,340,회계,num_kor0,1,,num_eng0,1336,/
340,341,회사,num_kor0,1,,num_eng0,1336,/
341,342,회신,num_kor0,1,,num_eng0,1336,/
342,343,회의,num_kor0,1,,num_eng0,1336,/
343,344,휴대,num_kor0,1,,num_eng0,1336,/
344,345,휴업,num_kor0,2,,num_eng0,1336,/
345,346,휴업,num_kor0,2,,num_eng0,1336,/
346,347,휴일,num_kor0,1,,num_eng0,1336,/
347,348,HTML,num_kor0,1,,num_eng0,1336,/
348,349,SMS,num_kor0,3,,num_eng0,1336,/
349,350,SMS,num_kor0,3,,num_eng0,1336,/
350,351,SMS,num_kor0,3,,num_eng0,1336,/
351,352,CTC,num_kor0,6,,num_eng0,1336,/
352,353,CTC,num_kor0,6,,num_eng0,1336,/
353,354,CTC,num_kor0,6,,num_eng0,1336,/
354,355,CTC,num_kor0,6,,num_eng0,1336,/
355,356,CTC,num_kor0,6,,num_eng0,1336,/
356,357,CTC,num_kor0,6,,num_eng0,1336,/
357,358,CY,num_kor0,1,,num_eng0,1336,/
358,359,가족,num_kor0,8,,num_eng0,1336,/
359,360,가족,num_kor0,8,,num_eng0,1336,/
360,361,가족,num_kor0,8,,num_eng0,1336,/
361,362,가족,num_kor0,8,,num_eng0,1336,/
362,363,가족,num_kor0,8,,num_eng0,1336,/
363,364,가족,num_kor0,8,,num_eng0,1336,/
364,365,가족,num_kor0,8,,num_eng0,1336,/
365,366,가족,num_kor0,8,,num_eng0,1336,/
366,367,간접평가,num_kor0,2,,num_eng0,1336,/
367,368,간접평가,num_kor0,2,,num_eng0,1336,/
368,369,객차,num_kor0,7,,num_eng0,1336,/
369,370,객차,num_kor0,7,,num_eng0,1336,/
370,371,객차,num_kor0,7,,num_eng0,1336,/
371,372,객차,num_kor0,7,,num_eng0,1336,/
372,373,객차,num_kor0,7,,num_eng0,1336,/
373,374,객차,num_kor0,7,,num_eng0,1336,/
374,375,객차,num_kor0,7,,num_eng0,1336,/
375,376,건강,num_kor0,1,,num_eng0,1336,/
376,377,검사자,num_kor0,1,,num_eng0,1336,/
377,378,검수도중,num_kor0,2,,num_eng0,1336,/
378,379,검수도중,num_kor0,2,,num_eng0,1336,/
379,380,검수,num_kor0,3,,num_eng0,1336,/
380,381,검수,num_kor0,3,,num_eng0,1336,/
381,382,검수,num_kor0,3,,num_eng0,1336,/
382,383,검토,num_kor0,3,,num_eng0,1336,/
383,384,검토,num_kor0,3,,num_eng0,1336,/
384,385,계산,num_kor0,1,,num_eng0,1336,/
385,386,계약,num_kor0,7,,num_eng0,1336,/
386,387,계약,num_kor0,7,,num_eng0,1336,/
387,388,계중,num_kor0,1,,num_eng0,1336,/
388,389,계획,num_kor0,2,,num_eng0,1336,/
389,390,고객,num_kor0,15,,num_eng0,1336,/
390,391,고객,num_kor0,15,,num_eng0,1336,/
391,392,고객,num_kor0,15,,num_eng0,1336,/
392,393,고객,num_kor0,15,,num_eng0,1336,/
393,394,고객,num_kor0,15,,num_eng0,1336,/
394,395,고객,num_kor0,15,,num_eng0,1336,/
395,396,고객,num_kor0,15,,num_eng0,1336,/
396,397,고객,num_kor0,15,,num_eng0,1336,/
397,398,고객,num_kor0,15,,num_eng0,1336,/
398,399,고객,num_kor0,15,,num_eng0,1336,/
399,400,고객,num_kor0,15,,num_eng0,1336,/
400,401,고객,num_kor0,15,,num_eng0,1336,/
401,402,고객,num_kor0,15,,num_eng0,1336,/
402,403,고객,num_kor0,15,,num_eng0,1336,/
403,404,고용,num_kor0,3,,num_eng0,1336,/
404,405,고용,num_kor0,3,,num_eng0,1336,/
405,406,고용,num_kor0,3,,num_eng0,1336,/
406,407,공적,num_kor0,3,,num_eng0,1336,/
407,408,공적,num_kor0,3,,num_eng0,1336,/
408,409,공적,num_kor0,3,,num_eng0,1336,/
409,410,공차,num_kor0,1,,num_eng0,1336,/
410,411,관리,num_kor0,6,,num_eng0,1336,/
411,412,관리,num_kor0,6,,num_eng0,1336,/
412,413,관세청,num_kor0,2,,num_eng0,1336,/
413,414,관세청,num_kor0,2,,num_eng0,1336,/
414,415,교육,num_kor0,27,,num_eng0,1336,/
415,416,교육,num_kor0,27,,num_eng0,1336,/
416,417,교육,num_kor0,27,,num_eng0,1336,/
417,418,교육,num_kor0,27,,num_eng0,1336,/
418,419,교육,num_kor0,27,,num_eng0,1336,/
419,420,교육,num_kor0,27,,num_eng0,1336,/
420,421,교육,num_kor0,27,,num_eng0,1336,/
421,422,교육,num_kor0,27,,num_eng0,1336,/
422,423,교육,num_kor0,27,,num_eng0,1336,/
423,424,교육,num_kor0,27,,num_eng0,1336,/
424,425,교육,num_kor0,27,,num_eng0,1336,/
425,426,교육,num_kor0,27,,num_eng0,1336,/
426,427,교육,num_kor0,27,,num_eng0,1336,/
427,428,교육,num_kor0,27,,num_eng0,1336,/
428,429,교육,num_kor0,27,,num_eng0,1336,/
429,430,교육,num_kor0,27,,num_eng0,1336,/
430,431,교육,num_kor0,27,,num_eng0,1336,/
431,432,교육,num_kor0,27,,num_eng0,1336,/
432,433,교육,num_kor0,27,,num_eng0,1336,/
433,434,교육,num_kor0,27,,num_eng0,1336,/
434,435,교육,num_kor0,27,,num_eng0,1336,/
435,436,교육,num_kor0,27,,num_eng0,1336,/
436,437,구간별,num_kor0,1,,num_eng0,1336,/
437,438,구간,num_kor0,5,,num_eng0,1336,/
438,439,구간,num_kor0,5,,num_eng0,1336,/
439,440,구간,num_kor0,5,,num_eng0,1336,/
440,441,구간,num_kor0,5,,num_eng0,1336,/
441,442,구역,num_kor0,3,,num_eng0,1336,/
442,443,구역,num_kor0,3,,num_eng0,1336,/
443,444,구역,num_kor0,3,,num_eng0,1336,/
444,445,국적,num_kor0,2,,num_eng0,1336,/
445,446,국적,num_kor0,2,,num_eng0,1336,/
446,447,군수,num_kor0,1,,num_eng0,1336,/
447,448,근무,num_kor0,5,,num_eng0,1336,/
448,449,근무,num_kor0,5,,num_eng0,1336,/
449,450,기관,num_kor0,1,,num_eng0,1336,/
450,451,기관차,num_kor0,2,,num_eng0,1336,/
451,452,기관차,num_kor0,2,,num_eng0,1336,/
452,453,기술,num_kor0,1,,num_eng0,1336,/
453,454,나이,num_kor0,1,,num_eng0,1336,/
454,455,누적,num_kor0,2,,num_eng0,1336,/
455,456,누적,num_kor0,2,,num_eng0,1336,/
456,457,다구역,num_kor0,1,,num_eng0,1336,/
457,458,다이아,num_kor0,4,,num_eng0,1336,/
458,459,다이아,num_kor0,4,,num_eng0,1336,/
459,460,다이아,num_kor0,4,,num_eng0,1336,/
460,461,다이아,num_kor0,4,,num_eng0,1336,/
461,462,다품목,num_kor0,1,,num_eng0,1336,/
462,463,단가,num_kor0,3,,num_eng0,1336,/
463,464,단가,num_kor0,3,,num_eng0,1336,/
464,465,단가,num_kor0,3,,num_eng0,1336,/
465,466,당일,num_kor0,1,,num_eng0,1336,/
466,467,대상,num_kor0,3,,num_eng0,1336,/
467,468,대체,num_kor0,7,,num_eng0,1336,/
468,469,대체,num_kor0,7,,num_eng0,1336,/
469,470,대체,num_kor0,7,,num_eng0,1336,/
470,471,대체,num_kor0,7,,num_eng0,1336,/
471,472,대체,num_kor0,7,,num_eng0,1336,/
472,473,대체,num_kor0,7,,num_eng0,1336,/
473,474,대체,num_kor0,7,,num_eng0,1336,/
474,475,대표,num_kor0,5,,num_eng0,1336,/
475,476,대표,num_kor0,5,,num_eng0,1336,/
476,477,대표자,num_kor0,5,,num_eng0,1336,/
477,478,대표자,num_kor0,5,,num_eng0,1336,/
478,479,대표자,num_kor0,5,,num_eng0,1336,/
479,480,대표,num_kor0,5,,num_eng0,1336,/
480,481,대표,num_kor0,5,,num_eng0,1336,/
481,482,도착,num_kor0,18,,num_eng0,1336,/
482,483,도착,num_kor0,18,,num_eng0,1336,/
483,484,도착,num_kor0,18,,num_eng0,1336,/
484,485,도착,num_kor0,18,,num_eng0,1336,/
485,486,도착,num_kor0,18,,num_eng0,1336,/
486,487,도착,num_kor0,18,,num_eng0,1336,/
487,488,도착,num_kor0,18,,num_eng0,1336,/
488,489,도착,num_kor0,18,,num_eng0,1336,/
489,490,도착,num_kor0,18,,num_eng0,1336,/
490,491,도착,num_kor0,18,,num_eng0,1336,/
491,492,도착,num_kor0,18,,num_eng0,1336,/
492,493,도착,num_kor0,18,,num_eng0,1336,/
493,494,도착,num_kor0,18,,num_eng0,1336,/
494,495,도착,num_kor0,18,,num_eng0,1336,/
495,496,도착,num_kor0,18,,num_eng0,1336,/
496,497,동거,num_kor0,1,,num_eng0,1336,/
497,498,동력차,num_kor0,8,,num_eng0,1336,/
498,499,동력차,num_kor0,8,,num_eng0,1336,/
499,500,동력차,num_kor0,8,,num_eng0,1336,/

# 참고

In [86]:
# 변경 체크 로직

s1 = '고구마acAB1!$%@! 32'
s2 = '깎ㅉ니'
s3 = "RR깍찌니12"
s4 = "123깍찌니aS"
print("------------------------------------------------------")
print(re.findall('[A-Z0-9가-힣+]', s1))
print(str(len(re.findall('[A-Z0-9가-힣+]', s1))) + " vs " + str(len(list(s1))))
print(len(re.findall('[A-Z0-9가-힣+]', s1)) == len(list(s1)))
print("------------------------------------------------------")
print(re.findall('[A-Z0-9가-힣+]', s2))
print(str(len(re.findall('[A-Z0-9가-힣+]', s2))) + " vs " + str(len(list(s2))))
print(len(re.findall('[A-Z0-9가-힣+]', s2)) == len(list(s2)))
print("------------------------------------------------------")
print(re.findall('[A-Z0-9가-힣+]', s3))
print(str(len(re.findall('[A-Z0-9가-힣+]', s3))) + " vs " + str(len(list(s3))))
print(len(re.findall('[A-Z0-9가-힣+]', s3)) == len(list(s3)))
print("------------------------------------------------------")
print(re.findall('[A-Z0-9가-힣+]', s4))
print(str(len(re.findall('[A-Z0-9가-힣+]', s4))) + " vs " + str(len(list(s4))))
print(len(re.findall('[A-Z0-9가-힣+]', s4)) == len(list(s4)))
print("------------------------------------------------------")

------------------------------------------------------
['고', '구', '마', 'A', 'B', '1', '3', '2']
8 vs 16
False
------------------------------------------------------
['깎', '니']
2 vs 3
False
------------------------------------------------------
['R', 'R', '깍', '찌', '니', '1', '2']
7 vs 7
True
------------------------------------------------------
['1', '2', '3', '깍', '찌', '니', 'S']
7 vs 8
False
------------------------------------------------------

In [93]:
# 파일 저장 묻기
# now = dt.datetime.now().strftime('%y%m%d_%H%M%S')    

if yes_or_no('파일을 저장하시겠습니까?'):
    file_name = 'stwd_total_manu1' + "_" + str(dt.datetime.now().strftime('%y%m%d_%H%M%S') + ".xlsx")
    print('[엑셀 파일을 생성하였습니다]: ' + file_name )
else:
    print('[검토한 후 다시 업로드 해주세요]')
stwd_total.head()

파일을 저장하시겠습니까? (y/n): y
[엑셀 파일을 생성하였습니다]: stwd_total_manu1_220929_165238.xlsx

,index,stwd_kor,num_kor,dupl_list_kor,stwd_eng,num_eng,dupl_list_eng,cor_hist
0,1,가입TDS,num_kor0,1,TEST,num_eng0,1,가입tds/!!!
1,2,개설,num_kor0,1,DASD,num_eng0,3,/$^$^dasd$^$^
2,3,개시,num_kor0,1,ASDF,num_eng0,1,/asdf
3,4,개업,num_kor0,1,DASD,num_eng0,3,/$^$^dasd$^$^
4,5,개인,num_kor0,1,SDF,num_eng0,1,/sdf

In [ ]:
# 각각 중복제거 대신에... 한글+영문 아이디 만들어 이걸로 중복제거! + 한글명 정렬!!!

In [ ]:
# # 우선 그대로 원복하고, index list 만들어서 조회만..?
# stwd_total['id'] = stwd_total['stwd_kor'] + stwd_total['stwd_eng']

# print(stwd_unique.shape)
# stwd_unique
# stwd_kor_unique = stwd_unique[['index', 'stwd_kor', 'num_kor', 'dupl_list_kor']]
# stwd_eng_unique = stwd_unique[['index', 'stwd_eng', 'num_eng', 'dupl_list_eng']]
# stwd_kor_unique

In [ ]:
# stwd_kor_unique = stwd_unique[['index', 'stwd_kor', 'num_kor', 'dupl_list_kor']]
# stwd_eng_unique = stwd_unique[['index', 'stwd_eng', 'num_eng', 'dupl_list_eng']]
# stwd_kor_unique

In [ ]:
# (일렬)전체 그대로
stwd_total

# 중복제거 로직

In [329]:
def chk_unique()
    # 중복제거 후 다시 합쳐서 검사(1안)

    # 한글 중복제거
    col_stwd_kor = ['stwd_kor', 'num_kor']
    unique_kor = stwd_total['stwd_kor'].drop_duplicates()
    stwd_kor_unique = stwd_total.loc[unique_kor.index][col_stwd_kor]
    print("한글명중복제거:"+ str(stwd_kor_unique.shape))
    # stwd_kor_unique

    # 영문 중복제거
    col_stwd_eng = ['stwd_eng', 'num_eng']
    unique_eng = stwd_total['stwd_eng'].drop_duplicates()
    stwd_eng_unique = stwd_total.loc[unique_eng.index][col_stwd_eng]
    print("영문명중복제거:"+ str(stwd_eng_unique.shape))
    # stwd_eng_unique.tail(100)

    # 한글+영문 일렬 세우기
    df_step_1 = pd.DataFrame(stwd_total['index'])
    df_step_1 = df_step_1.merge(
        stwd_kor_unique,
        left_index = True,
        right_index = True,
        how = 'left'
    ).merge(
        stwd_eng_unique,
        left_index = True,
        right_index = True,
        how = 'left'
    )
    print(df_step_1.shape)
    df_step_1

    ### 값이 한개라도 있을 경우 카운트 ###

    total_cnt = len(df_step_1)
    null_list = []
    for i in range(total_cnt):    
        # row 기준 널 체크(값이 한개라도 있을 경우 포함)
        if df_step_1.iloc[i].notna().sum() > 1:
            null_list.append(i)

    df_step_1 = df_step_1.loc[null_list]

    df_step_1 = df_step_1.merge(
        input_test,
        left_on = 'index',
        right_on = 'No',
        how = 'left'
    )

    df_step_1.to_excel(input_path + "df_step_1" + str(dt.datetime.now().strftime('%y%m%d_%H%M%S')) + ".xlsx")
    print(df_step_1.shape)
    df_step_1

한글명중복제거:(689, 2)
영문명중복제거:(19, 2)
(13640, 5)

       index stwd_kor   num_kor stwd_eng   num_eng
0          1    가입TDS  num_kor0     TEST  num_eng0
1          2       개설  num_kor0     DASD  num_eng0
2          3       개시  num_kor0     ASDF  num_eng0
3          4       개업  num_kor0      NaN       NaN
4          5       개인  num_kor0      SDF  num_eng0
...      ...      ...       ...      ...       ...
13635   1360      NaN       NaN      NaN       NaN
13636   1361      NaN       NaN      NaN       NaN
13637   1362      NaN       NaN      NaN       NaN
13638   1363      NaN       NaN      NaN       NaN
13639   1364      NaN       NaN      NaN       NaN

[13640 rows x 5 columns]

In [ ]:
pd.read_excel()

# 여기서부터 다시

In [ ]:
# 중복 제거 다시 묻기
# now = dt.datetime.now().strftime('%y%m%d_%H%M%S')    

if yes_or_no('파일을 업로드하여 중복검사를 재실행 하시겠습니까?'):
    
    
    ## 엑셀 READ한 후 중복검사 다시!
#     sheet_name = "수정이력_220925"
    df_step_1 = pd.read_excel(input_path, sheet_name=sheet_name, header=0)
    df_step_1
    
    file_name = 'df_step_1_re' + "_" + str(dt.datetime.now().strftime('%y%m%d_%H%M%S') + ".xlsx")
    
    chk_unique()
    
    df_step_1.to_excel(df_step_1, input_path + "df_step_1" + ".xlsx")
    print('[엑셀 파일을 생성하였습니다]: ' + file_name )
else:
    print('[진행하겠습니다]')
df_step_1_re.head()

(696, 19)

,index,stwd_kor,num_kor,stwd_eng,num_eng,No,용어명,용어명 분리,용어설명,영문명,영문약어명,도메인명,데이터타입,데이터길이,소수점이하,생성일(제정일),범정부표준여부,정보시스템(DB),관련필드/용어
0,1,가입TDS,num_kor0,TEST,num_eng0,1,가입일자,가입tds_일자,"조직이나 단체 따위에 들어가거나, 서비스를 제공하는 상품 따위를 신청한 날짜를 연월...",,TEST!!!,연월일C8,CHAR,8,,2020-08-13,범정부표준,,
1,2,개설,num_kor0,DASD,num_eng0,2,개설일자,개설_일자,설비나 제도 따위를 새로 마련하고 그에 관한 일을 처음 시작한 날짜를 연월일로 표현,,$^$^dasd,연월일C8,CHAR,8,,2020-08-13,범정부표준,,
2,3,개시,num_kor0,ASDF,num_eng0,3,개시일자,개시_일자,시장을 처음 열어 물건의 매매를 시작한 날짜를 연월일로 표현,,asdf,연월일C8,CHAR,8,,2020-08-13,범정부표준,,
3,4,개업,num_kor0,NaN,NaN,4,개업일자,개업_일자,영업을 처음 시작한 날짜를 연월일로 표현,,$^$^dasd,연월일C8,CHAR,8,,2020-08-13,범정부표준,,
4,5,개인,num_kor0,SDF,num_eng0,5,개인정보 동의여부,개인_정보_동의_여부,특정 개인을 식별하거나 유추해 낼 수 있는 모든 정보를 공동 이용하도록 허락할지 참...,,sdf_dsfd_df,여부C1,CHAR,1,,2020-08-13,범정부표준,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,24,라,num_kor5,NaN,NaN,24,계획연도,계획_연도_가_나_다_라_마_바_사_아,"앞으로 할 일의 절차, 방법, 규모 따위를 미리 헤아려 작정한 그해",,Y한O_go_글두_g섞_었G_,연도C4,CHAR,4,,2020-08-13,범정부표준,,
692,24,마,num_kor6,NaN,NaN,24,계획연도,계획_연도_가_나_다_라_마_바_사_아,"앞으로 할 일의 절차, 방법, 규모 따위를 미리 헤아려 작정한 그해",,Y한O_go_글두_g섞_었G_,연도C4,CHAR,4,,2020-08-13,범정부표준,,
693,24,바,num_kor7,NaN,NaN,24,계획연도,계획_연도_가_나_다_라_마_바_사_아,"앞으로 할 일의 절차, 방법, 규모 따위를 미리 헤아려 작정한 그해",,Y한O_go_글두_g섞_었G_,연도C4,CHAR,4,,2020-08-13,범정부표준,,
694,24,사,num_kor8,NaN,NaN,24,계획연도,계획_연도_가_나_다_라_마_바_사_아,"앞으로 할 일의 절차, 방법, 규모 따위를 미리 헤아려 작정한 그해",,Y한O_go_글두_g섞_었G_,연도C4,CHAR,4,,2020-08-13,범정부표준,,
695,24,아,num_kor9,NaN,NaN,24,계획연도,계획_연도_가_나_다_라_마_바_사_아,"앞으로 할 일의 절차, 방법, 규모 따위를 미리 헤아려 작정한 그해",,Y한O_go_글두_g섞_었G_,연도C4,CHAR,4,,2020-08-13,범정부표준,,

In [290]:
df_step_1.loc[24].notna()

index       True
stwd_kor    True
num_kor     True
stwd_eng    True
num_eng     True
Name: 24, dtype: bool

In [267]:
tmp_col = ['stwd_kor', 'num_kor', 'stwd_eng', 'num_eng']
notna_list = []
df_step_1 = df_step_1[tmp_col]
for i in range(len(df_step_1TT)):
    # 하나라도 값이 있다면 False, 모두 null일경우 True
    if df_step_1.loc[i].isna().all() == False:
        notna_list.append(i)
notna_list
df_step_1 = df_step_1.loc[notna_list]
print(df_step_1.shape)
df_step_1

(276, 4)

    stwd_kor   num_kor stwd_eng   num_eng
0      가입TDS  num_kor0     TEST  num_eng0
1         개설  num_kor0     DASD  num_eng0
2         개시  num_kor0     ASDF  num_eng0
3         개업  num_kor0      NaN       NaN
4         개인  num_kor0      SDF  num_eng0
5         개정  num_kor0           num_eng0
6         갱신  num_kor0      NaN       NaN
7         거래  num_kor0      NaN       NaN
8         검사  num_kor0       DD  num_eng0
9         검증  num_kor0      NaN       NaN
10        검토  num_kor0      NaN       NaN
11        게시  num_kor0        G  num_eng0
12       NaN       NaN   ASDGSD  num_eng0
15        결재  num_kor0      NaN       NaN
17       NaN       NaN   ASGDAS  num_eng0
18        결정  num_kor0      NaN       NaN
19        결제  num_kor0      NaN       NaN
20        계약  num_kor0      NaN       NaN
21       NaN       NaN      AAA  num_eng0
23        계획  num_kor0       YO  num_eng0
24        고시  num_kor0       FA  num_eng0
25        고지  num_kor0      NaN       NaN
26        공개  num_kor0      NaN       NaN
28        공고  num_kor0      NaN       NaN
29        공사  num_kor0       SD  num_eng0
32        공지  num_kor0      NaN       NaN
33        관리  num_kor0      NaN       NaN
35       관리자  num_kor0      NaN       NaN
36        교부  num_kor0      NaN       NaN
37        교육  num_kor0      NaN       NaN
42        구입  num_kor0      NaN       NaN
43        근무  num_kor0      NaN       NaN
46        기준  num_kor0      NaN       NaN
50        기타  num_kor0      NaN       NaN
51        긴급  num_kor0      NaN       NaN
52        납부  num_kor0      NaN       NaN
54        노출  num_kor0      NaN       NaN
55        답변  num_kor0      NaN       NaN
58        대상  num_kor0      NaN       NaN
60        대표  num_kor0      NaN       NaN
61       대표자  num_kor0      NaN       NaN
63        댓글  num_kor0      NaN       NaN
65        동의  num_kor0      NaN       NaN
66        등록  num_kor0      NaN       NaN
73       로그인  num_kor0      NaN       NaN
75        마감  num_kor0      NaN       NaN
79        만기  num_kor0      NaN       NaN
80        만료  num_kor0      NaN       NaN
81        말소  num_kor0      NaN       NaN
82        매입  num_kor0      NaN       NaN
83        민원  num_kor0      NaN       NaN
84        반납  num_kor0      NaN       NaN
85        반려  num_kor0      NaN       NaN
88        반송  num_kor0      NaN       NaN
89        반영  num_kor0      NaN       NaN
91        발급  num_kor0      NaN       NaN
95        발생  num_kor0      NaN       NaN
97        발송  num_kor0      NaN       NaN
100       발행  num_kor0      NaN       NaN
103       방문  num_kor0      NaN       NaN
104     법인등록  num_kor0      NaN       NaN
105       변경  num_kor0      NaN       NaN
108       변동  num_kor0      NaN       NaN
109       보고  num_kor0      NaN       NaN
110       사고  num_kor0      NaN       NaN
111       사망  num_kor0      NaN       NaN
113       사업  num_kor0      NaN       NaN
116       사용  num_kor0      NaN       NaN
121       삭제  num_kor0      NaN       NaN
125       상담  num_kor0      NaN       NaN
126       생년  num_kor0      NaN       NaN
127       생성  num_kor0      NaN       NaN
129       선정  num_kor0      NaN       NaN
131       선택  num_kor0      NaN       NaN
132       설립  num_kor0      NaN       NaN
133       설정  num_kor0      NaN       NaN
134       설치  num_kor0      NaN       NaN
136       성공  num_kor0      NaN       NaN
137       송신  num_kor0      NaN       NaN
140       수납  num_kor0      NaN       NaN
141       수령  num_kor0      NaN       NaN
142       수료  num_kor0      NaN       NaN
143       수신  num_kor0      NaN       NaN
146       수정  num_kor0      NaN       NaN
150       수집  num_kor0      NaN       NaN
151       승인  num_kor0      NaN       NaN
154       시작  num_kor0      NaN       NaN
158       시행  num_kor0      NaN       NaN
159       신고  num_kor0      NaN       NaN
161       신규  num_kor0      NaN       NaN
162       신청  num_kor0      NaN       NaN
168      신청자  num_kor0      NaN       NaN
169       실행  num_kor0      NaN       NaN
170       심사  num_kor0      NaN       NaN
171       심의  num_kor0      NaN       NaN
172       여권  num_kor0      NaN       NaN
173       연계  num_kor0      NaN       NaN
177       예약  num_kor0      NaN       NaN
179       오류  num_kor0      NaN       NaN
180       완료  num_kor0      NaN       NaN
182      외국인  num_kor0      NaN       NaN
184       요청  num_kor0      NaN       NaN
186       운영  num_kor0      NaN       NaN
187       위촉  num_kor0      NaN       NaN
188       유효  num_kor0      NaN       NaN
192       응답  num_kor0      NaN       NaN
193       의뢰  num_kor0      NaN       NaN
194       이관  num_kor0      NaN       NaN
197       이동  num_kor0      NaN       NaN
198      이메일  num_kor0      NaN       NaN
201       이의  num_kor0      NaN       NaN
202       인수  num_kor0      NaN       NaN
203       인증  num_kor0      NaN       NaN
205       임시  num_kor0      NaN       NaN
206       입고  num_kor0      NaN       NaN
207       입국  num_kor0      NaN       NaN
208       입금  num_kor0      NaN       NaN
209       입력  num_kor0      NaN       NaN
212       입사  num_kor0      NaN       NaN
213       자격  num_kor0      NaN       NaN
214       자료  num_kor0      NaN       NaN
215       자택  num_kor0      NaN       NaN
216       작성  num_kor0      NaN       NaN
218       작업  num_kor0      NaN       NaN
222       저장  num_kor0      NaN       NaN
224       적용  num_kor0      NaN       NaN
233       적합  num_kor0      NaN       NaN
234       전송  num_kor0      NaN       NaN
237       전입  num_kor0      NaN       NaN
238     전화번호  num_kor0      NaN       NaN
239       점검  num_kor0      NaN       NaN
241       접속  num_kor0      NaN       NaN
243       접수  num_kor0      NaN       NaN
248       정산  num_kor0      NaN       NaN
250       제외  num_kor0      NaN       NaN
251       제출  num_kor0      NaN       NaN
254       조사  num_kor0      NaN       NaN
258       조치  num_kor0      NaN       NaN
259       조회  num_kor0      NaN       NaN
261       종결  num_kor0      NaN       NaN
262       종료  num_kor0      NaN       NaN
267     주민등록  num_kor0      NaN       NaN
268       준공  num_kor0      NaN       NaN
269       중복  num_kor0      NaN       NaN
270       지급  num_kor0      NaN       NaN
271       지정  num_kor0      NaN       NaN
274       지하  num_kor0      NaN       NaN
275       집계  num_kor0      NaN       NaN
277       착공  num_kor0      NaN       NaN
278       참석  num_kor0      NaN       NaN
279       처리  num_kor0      NaN       NaN
286       처분  num_kor0      NaN       NaN
287       첨부  num_kor0      NaN       NaN
288       청구  num_kor0      NaN       NaN
289       최종  num_kor0      NaN       NaN
295       최초  num_kor0      NaN       NaN
298       추출  num_kor0      NaN       NaN
299       출력  num_kor0      NaN       NaN
302       출생  num_kor0      NaN       NaN
303       취득  num_kor0      NaN       NaN
304       취소  num_kor0      NaN       NaN
307       탈퇴  num_kor0      NaN       NaN
309       통계  num_kor0      NaN       NaN
311       통보  num_kor0      NaN       NaN
314       통지  num_kor0      NaN       NaN
315       퇴직  num_kor0      NaN       NaN
316       판정  num_kor0      NaN       NaN
317       팝업  num_kor0      NaN       NaN
318       평가  num_kor0      NaN       NaN
322       폐기  num_kor0      NaN       NaN
323       폐쇄  num_kor0      NaN       NaN
324       폐업  num_kor0      NaN       NaN
325       폐지  num_kor0      NaN       NaN
327       표시  num_kor0      NaN       NaN
328       필수  num_kor0      NaN       NaN
329       합격  num_kor0      NaN       NaN
330       해당  num_kor0      NaN       NaN
331       해제  num_kor0      NaN       NaN
332       해지  num_kor0      NaN       NaN
333       허가  num_kor0      NaN       NaN
334       확인  num_kor0      NaN       NaN
337       확정  num_kor0      NaN       NaN
339       회계  num_kor0      NaN       NaN
340       회사  num_kor0      NaN       NaN
341       회신  num_kor0      NaN       NaN
342       회의  num_kor0      NaN       NaN
343       휴대  num_kor0      NaN       NaN
344       휴업  num_kor0      NaN       NaN
346       휴일  num_kor0      NaN       NaN
347     HTML  num_kor0      NaN       NaN
348      SMS  num_kor0      NaN       NaN
351      CTC  num_kor0      NaN       NaN
357       CY  num_kor0      NaN       NaN
358       가족  num_kor0      NaN       NaN
366     간접평가  num_kor0      NaN       NaN
368       객차  num_kor0      NaN       NaN
375       건강  num_kor0      NaN       NaN
376      검사자  num_kor0      NaN       NaN
377     검수도중  num_kor0      NaN       NaN
379       검수  num_kor0      NaN       NaN
384       계산  num_kor0      NaN       NaN
387       계중  num_kor0      NaN       NaN
389       고객  num_kor0      NaN       NaN
403       고용  num_kor0      NaN       NaN
406       공적  num_kor0      NaN       NaN
409       공차  num_kor0      NaN       NaN
412      관세청  num_kor0      NaN       NaN
436      구간별  num_kor0      NaN       NaN
437       구간  num_kor0      NaN       NaN
441       구역  num_kor0      NaN       NaN
444       국적  num_kor0      NaN       NaN
446       군수  num_kor0      NaN       NaN
449       기관  num_kor0      NaN       NaN
450      기관차  num_kor0      NaN       NaN
452       기술  num_kor0      NaN       NaN
453       나이  num_kor0      NaN       NaN
454       누적  num_kor0      NaN       NaN
456      다구역  num_kor0      NaN       NaN
457      다이아  num_kor0      NaN       NaN
461      다품목  num_kor0      NaN       NaN
462       단가  num_kor0      NaN       NaN
465       당일  num_kor0      NaN       NaN
467       대체  num_kor0      NaN       NaN
481       도착  num_kor0      NaN       NaN
496       동거  num_kor0      NaN       NaN
497      동력차  num_kor0      NaN       NaN
505      동일한  num_kor0      NaN       NaN
506       동차  num_kor0      NaN       NaN
508       등용  num_kor0      NaN       NaN
518      레코드  num_kor0      NaN       NaN
519       면허  num_kor0      NaN       NaN
522       무역  num_kor0      NaN       NaN
523       발령  num_kor0      NaN       NaN
541       배분  num_kor0      NaN       NaN
544       보선  num_kor0      NaN       NaN
549       부양  num_kor0      NaN       NaN
552        부  num_kor0      NaN       NaN
553       분할  num_kor0      NaN       NaN
556       불출  num_kor0      NaN       NaN
560       비고  num_kor0      NaN       NaN
561      비실동  num_kor0      NaN       NaN
565       사내  num_kor0      NaN       NaN
591       사원  num_kor0      NaN       NaN
597      사이드  num_kor0      NaN       NaN
600      살화물  num_kor0      NaN       NaN
601       상위  num_kor0      NaN       NaN
602       상행  num_kor0      NaN       NaN
604       석탄  num_kor0      NaN       NaN
605       선두  num_kor0      NaN       NaN
609       선로  num_kor0      NaN       NaN
610        선  num_kor0      NaN       NaN
614       성별  num_kor0      NaN       NaN
615     세그먼트  num_kor0      NaN       NaN
626       소속  num_kor0      NaN       NaN
628       소재  num_kor0      NaN       NaN
632       속도  num_kor0      NaN       NaN
633      송화인  num_kor0      NaN       NaN
635       수송  num_kor0      NaN       NaN
636       수수  num_kor0      NaN       NaN
639       수입  num_kor0      NaN       NaN
644       수출  num_kor0      NaN       NaN
647      수화인  num_kor0      NaN       NaN
648       승무  num_kor0      NaN       NaN
653      승무원  num_kor0      NaN       NaN
659       식별  num_kor0      NaN       NaN
667       신체  num_kor0      NaN       NaN
668       실동  num_kor0      NaN       NaN
669       실적  num_kor0      NaN       NaN
674       실제  num_kor0      NaN       NaN
678       업종  num_kor0      NaN       NaN
679       업태  num_kor0      NaN       NaN
680        역  num_kor0      NaN       NaN
682      역코드  num_kor0      NaN       NaN
683       연간  num_kor0      NaN       NaN
684      연결역  num_kor0      NaN       NaN
689       연료  num_kor0      NaN       NaN

In [126]:
# df_step_1 = df_step_1[['index', 'stwd_kor', 'stwd_eng', 'num_kor', 'num_eng']]

# # unique 뽑기 & null 값 제거
df_step_uniq = df_step_1.dropna(axis = 0)
df_step_uniq
# df_step_uniq = df_step_uniq.sort_values(['stwd_kor', 'stwd_eng'])
# print(df_step_uniq.shape)

# df_step_uniq = df_step_uniq.merge(input_test, left_on='index', right_on='No', how='left')
# print(df_step_uniq.shape)

# df_step_uniq.tail(500)

      index stwd_kor   num_kor stwd_eng   num_eng
0         1    가입TDS  num_kor0     TEST  num_eng0
1         2       개설  num_kor0     DASD  num_eng0
2         3       개시  num_kor0     ASDF  num_eng0
4         5       개인  num_kor0      SDF  num_eng0
5         6       개정  num_kor0           num_eng0
8         9       검사  num_kor0       DD  num_eng0
11       12       게시  num_kor0        G  num_eng0
23       24       계획  num_kor0       YO  num_eng0
24       25       고시  num_kor0       FA  num_eng0
29       30       공사  num_kor0       SD  num_eng0
1368      5       정보  num_kor1     DSFD  num_eng1
1387     24       연도  num_kor1       GO  num_eng1

In [129]:
df_step_1.dropna(axis = 0).isna()

      index  stwd_kor  num_kor  stwd_eng  num_eng
0     False     False    False     False    False
1     False     False    False     False    False
2     False     False    False     False    False
4     False     False    False     False    False
5     False     False    False     False    False
8     False     False    False     False    False
11    False     False    False     False    False
23    False     False    False     False    False
24    False     False    False     False    False
29    False     False    False     False    False
1368  False     False    False     False    False
1387  False     False    False     False    False

In [184]:
df_step_1TT = df_step_1[]

In [264]:
df_step_1.shape

(276, 4)

In [218]:
stwd_total_cnt

1364

In [255]:
df_step_1TT.loc[100].isna().all()

False

In [225]:
df_step_1TT

      stwd_kor   num_kor stwd_eng   num_eng
0        가입TDS  num_kor0     TEST  num_eng0
1           개설  num_kor0     DASD  num_eng0
2           개시  num_kor0     ASDF  num_eng0
3           개업  num_kor0      NaN       NaN
4           개인  num_kor0      SDF  num_eng0
...        ...       ...      ...       ...
13635      NaN       NaN      NaN       NaN
13636      NaN       NaN      NaN       NaN
13637      NaN       NaN      NaN       NaN
13638      NaN       NaN      NaN       NaN
13639      NaN       NaN      NaN       NaN

[13640 rows x 4 columns]

In [256]:
df_step_1TT

      stwd_kor   num_kor stwd_eng   num_eng
0        가입TDS  num_kor0     TEST  num_eng0
1           개설  num_kor0     DASD  num_eng0
2           개시  num_kor0     ASDF  num_eng0
3           개업  num_kor0      NaN       NaN
4           개인  num_kor0      SDF  num_eng0
...        ...       ...      ...       ...
13635      NaN       NaN      NaN       NaN
13636      NaN       NaN      NaN       NaN
13637      NaN       NaN      NaN       NaN
13638      NaN       NaN      NaN       NaN
13639      NaN       NaN      NaN       NaN

[13640 rows x 4 columns]

      stwd_kor   num_kor stwd_eng   num_eng
0        가입TDS  num_kor0     TEST  num_eng0
1           개설  num_kor0     DASD  num_eng0
2           개시  num_kor0     ASDF  num_eng0
3           개업  num_kor0      NaN       NaN
4           개인  num_kor0      SDF  num_eng0
...        ...       ...      ...       ...
6843         라  num_kor5      NaN       NaN
8207         마  num_kor6      NaN       NaN
9571         바  num_kor7      NaN       NaN
10935        사  num_kor8      NaN       NaN
12299        아  num_kor9      NaN       NaN

[696 rows x 4 columns]

In [231]:
len(notna_list)

424

In [186]:
df_step_1TT.loc[13639].isna().all()

stwd_kor    True
num_kor     True
stwd_eng    True
num_eng     True
Name: 13639, dtype: bool

In [136]:
df_step_1[df_step_1.notna()]

       index stwd_kor   num_kor stwd_eng   num_eng
0          1    가입TDS  num_kor0     TEST  num_eng0
1          2       개설  num_kor0     DASD  num_eng0
2          3       개시  num_kor0     ASDF  num_eng0
3          4       개업  num_kor0      NaN       NaN
4          5       개인  num_kor0      SDF  num_eng0
...      ...      ...       ...      ...       ...
13635   1360      NaN       NaN      NaN       NaN
13636   1361      NaN       NaN      NaN       NaN
13637   1362      NaN       NaN      NaN       NaN
13638   1363      NaN       NaN      NaN       NaN
13639   1364      NaN       NaN      NaN       NaN

[13640 rows x 5 columns]

In [102]:
# 중복제거 후 다시 합쳐서 검사(1안)

# 한글 중복제거
col_stwd_kor = ['stwd_kor', 'num_kor']
unique_kor = stwd_total['stwd_kor'].drop_duplicates()
stwd_kor_unique = stwd_total.loc[unique_kor.index][col_stwd_kor]
print("한글명중복제거:"+ str(stwd_kor_unique.shape))
# stwd_kor_unique

# 영문 중복제거
col_stwd_eng = ['stwd_eng', 'num_eng']
unique_eng = stwd_total['stwd_eng'].drop_duplicates()
stwd_eng_unique = stwd_total.loc[unique_eng.index][col_stwd_eng]
print("영문명중복제거:"+ str(stwd_eng_unique.shape))
# stwd_eng_unique.tail(100)

# 한글+영문 일렬 세우기
df_step_1 = pd.DataFrame(stwd_total['index'])
df_step_1 = df_step_1.merge(
    stwd_kor_unique,
    left_index = True,
    right_index = True,
    how = 'left'
).merge(
    stwd_eng_unique,
    left_index = True,
    right_index = True,
    how = 'left'
)
# df_step_1 = df_step_1[['index', 'stwd_kor', 'stwd_eng', 'num_kor', 'num_eng']]

# # unique 뽑기 & null 값 제거
df_step_uniq = df_step_1.dropna(axis = 0)
df_step_uniq
# df_step_uniq = df_step_uniq.sort_values(['stwd_kor', 'stwd_eng'])
# print(df_step_uniq.shape)

# df_step_uniq = df_step_uniq.merge(input_test, left_on='index', right_on='No', how='left')
# print(df_step_uniq.shape)

# df_step_uniq.tail(500)

       index stwd_kor stwd_eng num_kor num_eng
13540   1265      NaN      NaN     NaN     NaN
13541   1266      NaN      NaN     NaN     NaN
13542   1267      NaN      NaN     NaN     NaN
13543   1268      NaN      NaN     NaN     NaN
13544   1269      NaN      NaN     NaN     NaN
13545   1270      NaN      NaN     NaN     NaN
13546   1271      NaN      NaN     NaN     NaN
13547   1272      NaN      NaN     NaN     NaN
13548   1273      NaN      NaN     NaN     NaN
13549   1274      NaN      NaN     NaN     NaN
13550   1275      NaN      NaN     NaN     NaN
13551   1276      NaN      NaN     NaN     NaN
13552   1277      NaN      NaN     NaN     NaN
13553   1278      NaN      NaN     NaN     NaN
13554   1279      NaN      NaN     NaN     NaN
13555   1280      NaN      NaN     NaN     NaN
13556   1281      NaN      NaN     NaN     NaN
13557   1282      NaN      NaN     NaN     NaN
13558   1283      NaN      NaN     NaN     NaN
13559   1284      NaN      NaN     NaN     NaN
13560   1285      NaN      NaN     NaN     NaN
13561   1286      NaN      NaN     NaN     NaN
13562   1287      NaN      NaN     NaN     NaN
13563   1288      NaN      NaN     NaN     NaN
13564   1289      NaN      NaN     NaN     NaN
13565   1290      NaN      NaN     NaN     NaN
13566   1291      NaN      NaN     NaN     NaN
13567   1292      NaN      NaN     NaN     NaN
13568   1293      NaN      NaN     NaN     NaN
13569   1294      NaN      NaN     NaN     NaN
13570   1295      NaN      NaN     NaN     NaN
13571   1296      NaN      NaN     NaN     NaN
13572   1297      NaN      NaN     NaN     NaN
13573   1298      NaN      NaN     NaN     NaN
13574   1299      NaN      NaN     NaN     NaN
13575   1300      NaN      NaN     NaN     NaN
13576   1301      NaN      NaN     NaN     NaN
13577   1302      NaN      NaN     NaN     NaN
13578   1303      NaN      NaN     NaN     NaN
13579   1304      NaN      NaN     NaN     NaN
13580   1305      NaN      NaN     NaN     NaN
13581   1306      NaN      NaN     NaN     NaN
13582   1307      NaN      NaN     NaN     NaN
13583   1308      NaN      NaN     NaN     NaN
13584   1309      NaN      NaN     NaN     NaN
13585   1310      NaN      NaN     NaN     NaN
13586   1311      NaN      NaN     NaN     NaN
13587   1312      NaN      NaN     NaN     NaN
13588   1313      NaN      NaN     NaN     NaN
13589   1314      NaN      NaN     NaN     NaN
13590   1315      NaN      NaN     NaN     NaN
13591   1316      NaN      NaN     NaN     NaN
13592   1317      NaN      NaN     NaN     NaN
13593   1318      NaN      NaN     NaN     NaN
13594   1319      NaN      NaN     NaN     NaN
13595   1320      NaN      NaN     NaN     NaN
13596   1321      NaN      NaN     NaN     NaN
13597   1322      NaN      NaN     NaN     NaN
13598   1323      NaN      NaN     NaN     NaN
13599   1324      NaN      NaN     NaN     NaN
13600   1325      NaN      NaN     NaN     NaN
13601   1326      NaN      NaN     NaN     NaN
13602   1327      NaN      NaN     NaN     NaN
13603   1328      NaN      NaN     NaN     NaN
13604   1329      NaN      NaN     NaN     NaN
13605   1330      NaN      NaN     NaN     NaN
13606   1331      NaN      NaN     NaN     NaN
13607   1332      NaN      NaN     NaN     NaN
13608   1333      NaN      NaN     NaN     NaN
13609   1334      NaN      NaN     NaN     NaN
13610   1335      NaN      NaN     NaN     NaN
13611   1336      NaN      NaN     NaN     NaN
13612   1337      NaN      NaN     NaN     NaN
13613   1338      NaN      NaN     NaN     NaN
13614   1339      NaN      NaN     NaN     NaN
13615   1340      NaN      NaN     NaN     NaN
13616   1341      NaN      NaN     NaN     NaN
13617   1342      NaN      NaN     NaN     NaN
13618   1343      NaN      NaN     NaN     NaN
13619   1344      NaN      NaN     NaN     NaN
13620   1345      NaN      NaN     NaN     NaN
13621   1346      NaN      NaN     NaN     NaN
13622   1347      NaN      NaN     NaN     NaN
13623   1348      NaN      NaN     NaN     NaN
13624   1349      NaN      NaN     NaN     NaN
13625   1350      NaN      NaN     NaN     NaN
13626   1351      NaN      NaN     NaN     NaN
13627   1352      NaN      NaN     NaN     NaN
13628   1353      NaN      NaN     NaN     NaN
13629   1354      NaN      NaN     NaN     NaN
13630   1355      NaN      NaN     NaN     NaN
13631   1356      NaN      NaN     NaN     NaN
13632   1357      NaN      NaN     NaN     NaN
13633   1358      NaN      NaN     NaN     NaN
13634   1359      NaN      NaN     NaN     NaN
13635   1360      NaN      NaN     NaN     NaN
13636   1361      NaN      NaN     NaN     NaN
13637   1362      NaN      NaN     NaN     NaN
13638   1363      NaN      NaN     NaN     NaN
13639   1364      NaN      NaN     NaN     NaN

In [98]:
df_step_1.dropna(axis = 0)

      index stwd_kor stwd_eng   num_kor   num_eng
0         1    가입TDS     TEST  num_kor0  num_eng0
1         2       개설     DASD  num_kor0  num_eng0
2         3       개시     ASDF  num_kor0  num_eng0
4         5       개인      SDF  num_kor0  num_eng0
5         6       개정           num_kor0  num_eng0
8         9       검사       DD  num_kor0  num_eng0
11       12       게시        G  num_kor0  num_eng0
23       24       계획       YO  num_kor0  num_eng0
24       25       고시       FA  num_kor0  num_eng0
29       30       공사       SD  num_kor0  num_eng0
1368      5       정보     DSFD  num_kor1  num_eng1
1387     24       연도       GO  num_kor1  num_eng1

In [99]:
print(df_step_uniq.shape)
print(df_step_uniq.shape)
print(df_step_1.shape)

(12, 19)
(12, 19)
(13640, 5)

In [ ]:
df_step_uniq.to_excel(input_path + "220928.xlsx")

# 여기까지

In [ ]:
## 파일 생성 -> 중복 없어질때까지 n회 반복

## step1.1. 끝
일렬 나열 및 단순 중복 제거

## step1.2. 시작
스텝 1.2. 는 중복제거 한 파일을 ID를 기준으로 다시 중복제거 한 후, 재점검하여, 아닌 것 같은 경우는 초기 input 파일(원본)처럼 만듦

In [ ]:
stwd_total

In [15]:
kor_emti_chk()

---------------------------------------------------------------|
소문자 처리: 0개
나머지 제거: 0
[자동 처리 완료하였습니다]

In [ ]:
df_lower_kor

In [ ]:
pd.to_numeric(df_step_raw1['id_uniq_chk{}'.format(i)])

In [ ]:
# stwd_kor_unique = stwd_total.iloc[stwd_kor_unique.index]
# stwd_eng_unique = stwd_total.iloc[stwd_eng_unique.index]
stwd_eng_unique

In [ ]:
stwd_total['stwd_eng'][7289]

In [ ]:
stwd_total['stwd_eng'].drop_duplicates()

In [ ]:
# id 유니크 체크
# id 컬럼 만들기
stwd_total['id'] = stwd_total['stwd_kor'] + stwd_total['stwd_eng']

# uniq 항목 체크하기
stwd_unique_list = stwd_total['id'].drop_duplicates()
stwd_unique = stwd_total.loc[stwd_unique_list.index]
stwd_total['uniq_chk'] = ''
stwd_total.loc[stwd_unique_list.index, 'uniq_chk'] = 1
stwd_total

In [291]:
# 컬럼수만큼 테이블 만들고, 유니크 체그(한글명 id로만)
df_step_raw1 = df_index
for i in range(col_cnt):
    globals()['stwd_kor_uinq{}'.format(i)] = stwd_total[stwd_total['num_kor'] == 'num_kor{}'.format(i)]
    kor_list = ['index', 'stwd_kor', 'num_kor', 'dupl_list_kor', 'uniq_chk', 'id']
    globals()['stwd_kor_uinq{}'.format(i)] = globals()['stwd_kor_uinq{}'.format(i)][kor_list]
    globals()['stwd_kor_uinq{}'.format(i)].columns = [
        'index', 
        'stwd_kor{}'.format(i), 
        'num_kor{}'.format(i), 
        'dupl_list_kor{}'.format(i),
        'id_uniq_chk{}'.format(i),
        'id{}'.format(i)
    ]
    globals()['stwd_eng_uinq{}'.format(i)] = stwd_total[stwd_total['num_eng'] == 'num_eng{}'.format(i)]
    eng_list = ['index', 'stwd_eng', 'num_eng', 'dupl_list_eng']
    globals()['stwd_eng_uinq{}'.format(i)] = globals()['stwd_eng_uinq{}'.format(i)][eng_list]
    globals()['stwd_eng_uinq{}'.format(i)].columns = [
        'index', 
        'stwd_eng{}'.format(i), 
        'num_eng{}'.format(i), 
        'dupl_list_eng{}'.format(i)
    ]
    # 한글,영문 통합하여 원본데이터 형태로
    df_step_raw1 = df_step_raw1.merge(
        globals()['stwd_kor_uinq{}'.format(i)], 
        on = 'index',
        how = 'left'
    ).merge(
        globals()['stwd_eng_uinq{}'.format(i)], 
        on ='index',
        how = 'left'
    )
    
# 각 row의 unique(id) 반복 횟수 적기 
id_uniq_chk_sum = 0
for i in range(col_cnt):
    globals()['id_uniq_chk{}'.format(i)] = pd.to_numeric(df_step_raw1['id_uniq_chk{}'.format(i)])
    id_uniq_chk_sum = id_uniq_chk_sum + globals()['id_uniq_chk{}'.format(i)].fillna(0)
id_uniq_chk_sum = pd.DataFrame(id_uniq_chk_sum, columns = ['id_uniq_chk_sum'])

# 계산값 df에 추가하기
df_step_raw1 = df_step_raw1.merge(
    id_uniq_chk_sum,
    left_index = True,
    right_index = True,
    how = 'left'
)

df_step_raw1

KeyError: "['uniq_chk', 'id'] not in index"

In [ ]:
df_step_raw1[tmp_col_list]

In [ ]:
# null 제거
df_step_1 = df_step_raw1[df_step_raw1['stwd_kor0'].notna()]

# 빈칸 제거
df_step_1 = df_step_1.loc[df_step_1['stwd_kor0'] != ""]

# 필요 컬럼 추리기
tmp_col_list = ['index', 'id_uniq_chk_sum']
for i in range(col_cnt):
    tmp_col_list.append('stwd_kor{}'.format(i))
    tmp_col_list.append('stwd_eng{}'.format(i))
    tmp_col_list.append('id_uniq_chk{}'.format(i))
    tmp_col_list.append('id{}'.format(i))
df_step_1 = df_step_1[tmp_col_list]

# row의 id 반복 횟수 적기(1 이상) 
df_step_1 = df_step_1.loc[df_step_1['id_uniq_chk_sum'] >= 1]

# 순서 정리
df_step_1 = df_step_1.sort_values(['stwd_kor0', 'stwd_eng0'])

print('카운트_전 :'+ str(df_step_raw1.shape))
print('카운트_후 :'+ str(df_step_1.shape))
# df_step_1.to_excel(input_path + "1step안_완.xlsx")
df_step_1.to_excel(input_path + "1step안_완Real.xlsx")
df_step_1.head(500)

In [ ]:

# 계산값 df에 추가하기
df_step_1 = df_step_1.merge(
    id_uniq_chk_sum,
    left_index = True,
    right_index = True,
    how = 'left'
)
df_step_1

In [ ]:
# 그냥 다시 합치기(한/영)
df_exam_raw1 = df_index

for i in range(col_cnt):
    globals()['stwd_kor_uni{}'.format(i)] = stwd_total[stwd_total['num_kor'] == 'num_kor{}'.format(i)]
    kor_list = ['index', 'stwd_kor', 'num_kor', 'dupl_list_kor']
    globals()['stwd_kor_uni{}'.format(i)] = globals()['stwd_kor_uni{}'.format(i)][kor_list]
    globals()['stwd_kor_uni{}'.format(i)].columns = [
        'index', 'stwd_kor{}'.format(i), 
        'num_kor{}'.format(i), 
        'dupl_list_kor{}'.format(i) 
    ]
    globals()['stwd_eng_uni{}'.format(i)] = stwd_total[stwd_total['num_eng'] == 'num_eng{}'.format(i)]
    eng_list = ['index', 'stwd_eng', 'num_eng', 'dupl_list_eng']
    globals()['stwd_eng_uni{}'.format(i)] = globals()['stwd_eng_uni{}'.format(i)][eng_list]
    globals()['stwd_eng_uni{}'.format(i)].columns = [
        'index', 'stwd_eng{}'.format(i), 
        'num_eng{}'.format(i), 
        'dupl_list_eng{}'.format(i) 
    ]
    df_exam_raw1 = df_exam_raw1.merge(
        globals()['stwd_kor_uni{}'.format(i)], 
        on = 'index',
        how = 'left'
    ).merge(
        globals()['stwd_eng_uni{}'.format(i)], 
        on ='index',
        how = 'left'
    )
    

df_exam_raw1

In [ ]:

#     log = stwd_kor_unique[stwd_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
#     print('===========================================================================')
#     print(log)
    df_exam_raw1 = df_exam_raw1.merge(
        globals()['stwd_kor_uni{}'.format(i)], 
        on = 'index',
        how = 'left'
    ).merge(
        globals()['stwd_eng_uni{}'.format(i)], 
        on ='index',
        how = 'left'
    )

df_exam_1 = df_exam_raw1.sort_values(['index', 'stwd_kor0'])
print(df_exam_1.shape)
df_exam_raw1.tail(50)
# df_exam_raw1.head(500)

In [ ]:
stwd_unique_list.index

In [ ]:
# (일렬)id 유니크 만 탐색
stwd_unique_list = stwd_total['id'].drop_duplicates()
stwd_unique = stwd_total.loc[stwd_unique_list.index]
a = stwd_total.iloc[stwd_unique_list.index]
a

In [ ]:
stwd_unique

In [ ]:
# 우선 그대로 원복하고, index list 만들어서 조회만..?
stwd_total['id'] = stwd_total['stwd_kor'] + stwd_total['stwd_eng']
stwd_unique_list = stwd_total['id'].drop_duplicates()
stwd_unique = stwd_total.loc[stwd_unique_list.index]
print(stwd_unique.shape)
stwd_unique
stwd_kor_unique = stwd_unique[['index', 'stwd_kor', 'num_kor', 'dupl_list_kor']]
stwd_eng_unique = stwd_unique[['index', 'stwd_eng', 'num_eng', 'dupl_list_eng']]
stwd_kor_unique

In [ ]:
# 다시 합치기(한/영)
df_exam_raw1 = a

for i in range(col_cnt):
    globals()['stwd_kor_uni{}'.format(i)] = stwd_kor_unique[stwd_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
    globals()['stwd_kor_uni{}'.format(i)].columns = [
        'index', 'stwd_kor{}'.format(i), 
        'num_kor{}'.format(i), 
        'dupl_list_kor{}'.format(i) 
    ]
    globals()['stwd_eng_uni{}'.format(i)] = stwd_eng_unique[stwd_eng_unique['num_eng'] == 'num_eng{}'.format(i)]
    globals()['stwd_eng_uni{}'.format(i)].columns = [
        'index', 'stwd_eng{}'.format(i), 
        'num_eng{}'.format(i), 
        'dupl_list_eng{}'.format(i) 
    ]
#     log = stwd_kor_unique[stwd_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
#     print('===========================================================================')
#     print(log)
    df_exam_raw1 = df_exam_raw1.merge(
        globals()['stwd_kor_uni{}'.format(i)], 
        on = 'index',
        how = 'left'
    ).merge(
        globals()['stwd_eng_uni{}'.format(i)], 
        on ='index',
        how = 'left'
    )

df_exam_1 = df_exam_raw1.sort_values(['index', 'stwd_kor0'])
print(df_exam_1.shape)
df_exam_raw1.tail(50)
# df_exam_raw1.head(500)

In [ ]:
a.to_excel(input_path + "3안.xlsx")

In [ ]:
# [1안] 중복제거(새로운 id 셍상)
stwd_total['id'] = stwd_total['stwd_kor'] + stwd_total['stwd_eng']
stwd_unique_list = stwd_total['id'].drop_duplicates()
stwd_unique = stwd_total.loc[stwd_unique_list.index]
print(stwd_unique.shape)
stwd_unique
stwd_kor_unique = stwd_unique[['index', 'stwd_kor', 'num_kor', 'dupl_list_kor']]
stwd_eng_unique = stwd_unique[['index', 'stwd_eng', 'num_eng', 'dupl_list_eng']]
stwd_kor_unique

In [ ]:
# 다시 합치기(한/영)
df_exam_raw1 = df_index

for i in range(col_cnt):
    globals()['stwd_kor_uni{}'.format(i)] = stwd_kor_unique[stwd_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
    globals()['stwd_kor_uni{}'.format(i)].columns = [
        'index', 'stwd_kor{}'.format(i), 
        'num_kor{}'.format(i), 
        'dupl_list_kor{}'.format(i) 
    ]
    globals()['stwd_eng_uni{}'.format(i)] = stwd_eng_unique[stwd_eng_unique['num_eng'] == 'num_eng{}'.format(i)]
    globals()['stwd_eng_uni{}'.format(i)].columns = [
        'index', 'stwd_eng{}'.format(i), 
        'num_eng{}'.format(i), 
        'dupl_list_eng{}'.format(i) 
    ]
#     log = stwd_kor_unique[stwd_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
#     print('===========================================================================')
#     print(log)
    df_exam_raw1 = df_exam_raw1.merge(
        globals()['stwd_kor_uni{}'.format(i)], 
        on = 'index',
        how = 'left'
    ).merge(
        globals()['stwd_eng_uni{}'.format(i)], 
        on ='index',
        how = 'left'
    )

df_exam_1 = df_exam_raw1.sort_values(['index', 'stwd_kor0'])
print(df_exam_1.shape)
df_exam_raw1.tail(50)
# df_exam_raw1.head(500)

In [ ]:
avg_avg_kor

# sdfsㄹ

In [ ]:
total_cnt = avg_avg_kor
null_list = []
for i in range(total_cnt):    
    # row 기준 널 체크(값이 한개라도 있을 경우 포함)
    if df_exam_1.iloc[i].notna().sum() > 1:
        null_list.append(i)
        
#         print(i)
df_exam_1 = df_exam_1.loc[null_list]
df_exam_1.to_excel(input_path + "1안.xlsx")
df_exam_1

In [ ]:
# df_id = pd.DataFrame(stwd_total['id'])
# df_exam_1 = df_exam_1.merge(df_id, left_index=True, right_index=True, how='left').tail()

In [ ]:
# # null 제거
# df_exam_1 = df_exam_raw1[df_exam_raw1['stwd_kor0'].notna()]

# # 빈칸 제거
# df_exam_1 = df_exam_1.loc[df_exam_1['stwd_kor0'] != ""]

# 필요 컬럼 추리기
tmp_col_list = ['index']
for i in range(col_cnt):
    tmp_col_list.append('stwd_kor{}'.format(i))
    tmp_col_list.append('stwd_eng{}'.format(i))
tmp_col_list

df_exam_1 = df_exam_1[tmp_col_list]
# df_exam_1 = pd.concat([df_exam_1, df_id] ,axis=1)
# id_unique_list = df_id['id'].drop_duplicates()
# df_exam_1 = df_exam_1.loc[id_unique_list.index]
print('2안과 카운트 비교:'+ str(df_exam_1.shape))
df_exam_1.to_excel(input_path + "1안.xlsx")
df_exam_1.head()

In [18]:
re.sub('[A-Z0-9가-힣+]', '', stwd_total['stwd_kor'][i])

''

In [ ]:
# 2안: 각각 중복제거 후 다시 합쳐서 검사
# 한글 중복제거
col_stwd_kor = ['index', 'stwd_kor', 'num_kor', 'dupl_list_kor']
unique_kor = stwd_total['stwd_kor'].drop_duplicates()
stwd_kor_unique = stwd_total.loc[unique_kor.index][col_stwd_kor]
print(stwd_kor_unique.shape)
stwd_kor_unique

['T', 'E', 'S', 'T']

In [ ]:
# 2안: 각각 중복제거 후 다시 합쳐서 검사
# 한글 중복제거
col_stwd_kor = ['index', 'stwd_kor', 'num_kor', 'dupl_list_kor']
unique_kor = stwd_total['stwd_kor'].drop_duplicates()
stwd_kor_unique = stwd_total.loc[unique_kor.index][col_stwd_kor]
print(stwd_kor_unique.shape)
stwd_kor_unique

# 영문 중복제거
col_stwd_eng = ['index', 'stwd_eng', 'num_eng', 'dupl_list_eng']
unique_eng = stwd_total['stwd_eng'].drop_duplicates()
stwd_eng_unique = stwd_total.loc[unique_eng.index][col_stwd_eng]
print(stwd_eng_unique.shape)
stwd_eng_unique

# 다시 합치기(한/영)
df_exam_raw1 = df_index

for i in range(col_cnt):
    globals()['stwd_kor_uni{}'.format(i)] = stwd_kor_unique[stwd_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
    globals()['stwd_kor_uni{}'.format(i)].columns = [
        'index', 'stwd_kor{}'.format(i), 
        'num_kor{}'.format(i), 
        'dupl_list_kor{}'.format(i) 
    ]
    globals()['stwd_eng_uni{}'.format(i)] = stwd_eng_unique[stwd_eng_unique['num_eng'] == 'num_eng{}'.format(i)]
    globals()['stwd_eng_uni{}'.format(i)].columns = [
        'index', 'stwd_eng{}'.format(i), 
        'num_eng{}'.format(i), 
        'dupl_list_eng{}'.format(i) 
    ]
#     log = stwd_kor_unique[stwd_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
#     print('===========================================================================')
#     print(log)
    df_exam_raw1 = df_exam_raw1.merge(
        globals()['stwd_kor_uni{}'.format(i)], 
        on = 'index',
        how = 'left'
    ).merge(
        globals()['stwd_eng_uni{}'.format(i)], 
        on ='index',
        how = 'left'
    )

print(df_exam_raw1.shape)
df_exam_raw1.head()

# null 제거
df_exam_1 = df_exam_1[df_exam_1.notna()]

# 빈칸 제거
df_exam_1 = df_exam_1.loc[df_exam_1['stwd_kor0'] != ""]

# 필요 컬럼 추리기
tmp_col_list = ['index']
for i in range(col_cnt):
    tmp_col_list.append('stwd_kor{}'.format(i))
    tmp_col_list.append('stwd_eng{}'.format(i))
tmp_col_list

df_exam_1 = df_exam_1[tmp_col_list]
print('1안과 카운트 비교:'+ str(df_exam_1.shape))
df_exam_1.to_excel(input_path + "2안.xlsx")
df_exam_1.head()

In [ ]:
## df_exam_1 와 원본 붙이기!!

In [ ]:
unique_kor

In [ ]:
df_exam_1.to_excel(input_path + "df_exam_1.xlsx")
df_exam_1.to_excel(input_path + "df_exam_1.xlsx")
stwd_total.to_excel(input_path + "stwd_total.xlsx")

In [ ]:
STOP!!!!!!!!!!

In [ ]:
stwd_total

In [ ]:
# 1차 검토
# 유니크(한 * 영) 데이터 뽑아 엑셀 생성
# 수정후 total 데이터 뽑아 엑셀 생성

In [ ]:
stwd_total_kor_unique

In [ ]:
stwd_total_kor_unique[stwd_total_kor_unique['num_kor'] == 'num_kor{}'.format(i)]

In [ ]:
tt = stwd_total_kor_unique[stwd_total_kor_unique['num_kor'] == 'num_kor{}'.format(0)]
tt['stwd_kor']
tt

In [ ]:
for i in range(kor_firts_cnt):
#     a = pd.DataFrame()
    globals()['stwd_kor_uni{}'.format(i)] = stwd_total_kor_unique[stwd_total_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
    print(i)

In [ ]:
ba = df_index.merge(globals()['stwd_kor_uni{}'.format(0)], left_on = 'index', right_on = 'index', how = 'left')
ba

In [ ]:
# 다시 합치기
df_index_tmp = df_index

for i in range(col_cnt):
    a = stwd_total_kor_unique[stwd_total_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
    globals()['stwd_kor_uni{}'.format(i)] = stwd_total_kor_unique[stwd_total_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
    globals()['stwd_kor_uni{}'.format(i)].columns = ['index', 'stwd_kor{}'.format(i), 'num_kor{}'.format(i), 'dupl_list_kor{}'.format(i)]
#     tmp['num_kor{}'.format(i)] = a['stwd_kor']
    aa = a.merge(globals()['stwd_kor_uni{}'.format(i)], left_on = 'index', right_on = 'index', how = 'left')
    print('===========================================================================')
    print(a)
    df_index_tmp = df_index_tmp.merge(
        globals()['stwd_kor_uni{}'.format(i)], 
        left_on ='index',
        right_on = 'index',
        how = 'left'
    )


df_index_tmp

In [ ]:
df_index_tmp

In [ ]:
df_index_tmp[df_index_tmp['stwd_kor{}'.format(0)].isna()]

In [ ]:
# null제거
for i in range(col_cnt):
    df_index_tmp['stwd_kor{}'.format(i)] = df_index_tmp['stwd_kor{}'.format(i)].fillna("")
    df_index_tmp['num_kor{}'.format(i)] = df_index_tmp['num_kor{}'.format(i)].fillna("")
    df_index_tmp['dupl_list_kor{}'.format(i)] = df_index_tmp['dupl_list_kor{}'.format(i)].fillna("")

In [ ]:
    
# null값 수정
for i in range(col_cnt):
    df_index_tmp['stwd_kor{}'.format(i)] = df_index_tmp['stwd_kor{}'.format(i)].fillna("")
    df_index_tmp['num_kor{}'.format(i)] = df_index_tmp['num_kor{}'.format(i)].fillna("")
    df_index_tmp['dupl_list_kor{}'.format(i)] = df_index_tmp['dupl_list_kor{}'.format(i)].fillna("")

In [ ]:
df_index_tmp.iloc[:,30]

In [ ]:
df_index_tmp['stwd_kor{}'.format(1)].fillna("")

In [ ]:

    
    
    
    
#     input_split_kor["num_kor{}".format(i)] = "num_kor{}".format(i)
#     globals()["stwd_kor{}".format(i)] = pd.concat(
#             [
#             df_index.fillna(""), 
#             pd.DataFrame(input_split_kor["stwd_kor{}".format(i)]).fillna(""),
#             pd.DataFrame(input_split_kor["num_kor{}".format(i)]).fillna(""),
#             globals()["dupl_list_kor{}".format(i)].fillna("")
#             ],

In [ ]:
df_index_tmp = df_index
df_index_tmp

In [ ]:
for i in range(kor_firts_cnt):
    a = stwd_total_kor_unique[stwd_total_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
    globals()['stwd_kor_uni{}'.format(i)] = stwd_total_kor_unique[stwd_total_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
    globals()['stwd_kor_uni{}'.format(i)].columns = ['index', 'stwd_kor{}'.format(i), 'num_kor{}'.format(i), 'dupl_list_kor{}'.format(i)]
#     tmp['num_kor{}'.format(i)] = a['stwd_kor']
    aa = a.merge(globals()['stwd_kor_uni{}'.format(i)], left_on = 'index', right_on = 'index', how = 'left')
    print('===========================================================================')
    print(a)
    df_index_tmp = df_index_tmp.merge(
        globals()['stwd_kor_uni{}'.format(i)], 
        left_on ='index',
        right_on = 'index',
        how = 'left'
    )
df_index_tmp

In [ ]:
df_index_tmp.columns

In [ ]:
tmp = pd.DataFrame()
for i in range(kor_firts_cnt):
#     a = pd.DataFrame()
    a = stwd_total_kor_unique[stwd_total_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
    globals()['stwd_kor_uni{}'.format(i)] = stwd_total_kor_unique[stwd_total_kor_unique['num_kor'] == 'num_kor{}'.format(i)]
#     tmp['num_kor{}'.format(i)] = a['stwd_kor']
    tmp = df_index.merge(
        globals()['stwd_kor_uni{}'.format(i)], 
        left_on ='index',
        right_on = 'index',
        how = 'left'
    )
    print(i)
    print('===========================================================================')
    print(tmp)
tmp

In [ ]:
stwd_total_kor_unique[stwd_total_kor_unique['num_kor'] == 'num_kor0']

In [ ]:
stwd_total_kor_unique.loc[stwd_total_kor_unique['num_kor'] == 'num_kor0', 'num_kor']

In [ ]:
unique_stwd_kor['stwd_kor'].drop_duplicates()

In [ ]:
pd.DataFrame(unique_stwd_kor['stwd_kor'].drop_duplicates())

In [ ]:
# 특수기호 검사 : 한, 영
# 소문자 검사 : 한, 영
# 스페이스 제거 : 언제나
input_test['용어명 분리'] = input_test['용어명 분리'].str.replace(" ", "")

# 참고

In [ ]:
############ num_kor(n) / num_eng(n) 기준으로 테이블 분리
############ index 기준으로 left join하여 원상복구

In [ ]:
############## 이거 참고
# db 조건 조회
print(len(stwd_eng7.loc[stwd_eng7['stwd_eng7'] != "", 'stwd_eng7']))
# 특수기호 제거
# for i in range(len(input_test['영문약어명'])):
#     tmp = input_test['영문약어명'][i].translate(str.maketrans('', '', string.punctuation))
#     print(tmp)
print(string.punctuation)

In [ ]:
# # 특수문자 제거
# for i in range(len(input_test['영문약어명'])):
#     tmp = input_test['영문약어명'][i].translate(str.maketrans('', '', string.punctuation))
#     i += i
#     print(tmp)
# i

In [ ]:
# # -*- coding: utf-8 -*-
# import sys
# import re

# def isHangul(text):
#     #Check the Python Version
#     pyVer3 =  sys.version_info >= (3, 0)

#     if pyVer3 : # for Ver 3 or later
#         encText = text
#     else: # for Ver 2.x
#         if type(text) is not unicode:
#             encText = text.decode('utf-8')
#         else:
#             encText = text

#     hanCount = len(re.findall(u'[\u3130-\u318F\uAC00-\uD7A3]+', encText))
#     return hanCount > 0

# 한글 영문 추리기1
# if __name__ == '__main__':
#     han = '한글'
#     han2 = u'한글'
#     input = 'English1234'  #utf-8
#     input2 = u'English1234' #unicode
#     #(major_ver, minor_ver) = (sys.version_info).split(',')
#     print(han + " is " + str(isHangul(han)))
#     print(han2 + " is " + str(isHangul(han2)))
#     print(input + " is " + str(isHangul(input)))
#     print(input2 + " is " + str(isHangul(input2)))

# 한글 영문 추리기2
# i = 23
# print(stwd_total['stwd_eng'][i])
# print(re.findall(u'[\u3130-\u318F\uAC00-\uD7A3]+', stwd_total['stwd_eng'][i]))
# print(re.findall('[A-Za-z]', stwd_total['stwd_eng'][i]))

In [ ]:
# # 영문명에 한글명 포함되었는가 탐색\
        
# # 한글 영어 최종 검색
# print('[자동 처리 시작합니다]')
# chk_list = []
# stwd_total['stwd_cor_kor'] = ''
# for i in range(len(stwd_total)):
#     cor_kor = re.findall('[A-Z0-9가-힣+]', stwd_total['stwd_kor'][i])
#     chk_kor = len(cor_kor) == len(list(stwd_total['stwd_kor'][i]))
   
#     if bool(chk_kor) == False:
#         print("-----------------------------------------------------------------|")
#         print('index: ' + str(i))
#         print(stwd_total['stwd_kor'][i] + " -> " + str(''.join(cor_kor)))
#         chk_list.append(i)
#     stwd_total['stwd_cor_kor'] = re.sub('[A-Z0-9가-힣+]', '', stwd_total['stwd_kor'][i])

    
# #     stwd_total.loc[i,'stwd_kor_chk'] = cor_kor
# stwd_total_manu1 = stwd_total.iloc[chk_list]
# print('[자동 처리 완료하였습니다]')
# print("chk_list: "+ str(len(chk_list)))
# stwd_total_manu1

# # 특수기호 제거

# for i in range(stwd_total_cnt):
#     stwd_total.loc[i, 'stwd_kor'] =  stwd_total['stwd_kor'][i].translate(str.maketrans('', '', string.punctuation))
# #     stwd_total['stwd_kor'][i] = stwd_total['stwd_kor'][i].translate(str.maketrans('', '', string.punctuation)) # 안됨!!!
#     cnt += i
# print('[test] 적용 후: ' + str(stwd_total.loc[0, 'stwd_kor']))

In [ ]:
# #####################################################################
# # 한글 소문자 탐색 
# test = 'test'
# stwd_total.loc[2, 'stwd_kor'] = stwd_total.loc[2, 'stwd_kor'] + test
# print('[test] 적용 전(가짜): ' + stwd_total.loc[2, 'stwd_kor'])
# df_lower_kor = pd.DataFrame(columns = stwd_total.columns)
# for i in range(stwd_total_cnt):
#     if stwd_total['stwd_kor'][i].islower():
#         tmp = pd.DataFrame(stwd_total.iloc[i,:]).transpose()
#         df_lower_kor = pd.concat([df_lower_kor, tmp], axis=0)
# stwd_total['stwd_kor_old'] = stwd_total['stwd_kor']
# stwd_total['stwd_kor'] = stwd_total['stwd_kor'].str.upper()

# # 적용 후 결과값
# print('[test] 적용 후(대문자): ' + stwd_total.loc[2, 'stwd_kor'])
# stwd_total.loc[2, 'stwd_kor'] = stwd_total.loc[2, 'stwd_kor'].strip(test.upper())
# print('[test] 복구: 개시')
# print('변경된 값: ' + str(len(df_lower_kor)) + '개')
# stwd_total.head()

# # 영문 소문자 탐색 
# print('[test] 적용 전(소문자): ' + stwd_total.loc[2, 'stwd_eng'])
# df_lower_eng = pd.DataFrame(columns = stwd_total.columns)
# for i in range(stwd_total_cnt):
#     if stwd_total['stwd_eng'][i].islower():
#         tmp = pd.DataFrame(stwd_total.iloc[i,:]).transpose()
#         df_lower_eng = pd.concat([df_lower_eng, tmp], axis=0)
# stwd_total['stwd_eng_old'] = stwd_total['stwd_eng']
# stwd_total['stwd_eng'] = stwd_total['stwd_eng'].str.upper()

# # 적용 후 결과값
# print('[test] 적용 후(대문자): ' + stwd_total.loc[2, 'stwd_eng'])
# print('변경된 값: ' + str(len(df_lower_eng)) + '개')
# stwd_total.head()

In [ ]:
# left join
for i in range(name_cnt):
    globals()['stwd_total{}'.format(i)] = pd.merge(
        globals()['stwd_kor{}'.format(i)],
        globals()['stwd_eng{}'.format(i)],
        on = 'index',
        how = 'left'
    )

# 카운트 일치 여부 점검
index_cnt = len(df_index['index'])
if index_cnt != len(stwd_total0):
    print("index 와 joined_date count불일치")
else:
    print("count 일치")
stwd_total5

In [ ]:
# merge
for i in range(name_cnt):
    globals()['stwd_total{}'.format(i)] = pd.concat(
        [
        globals()['stwd_kor{}'.format(i)],
        globals()['stwd_eng{}'.format(i)]
        ],
        axis = 1        
    )
    print(i)
# print(name_cnt)
# print(name_cnt_diff_list)


stwd_total1

In [ ]:
for i in list(set(range(name_cnt)) - set(range(name_cnt_diff))):
    print(i)

In [ ]:
list(set(range(name_cnt_kor)) - set(range(name_cnt_eng)))

In [ ]:
input_split_eng

In [ ]:
input_split_eng['stwd_eng6'] = None
input_split_eng['stwd_eng6']

In [ ]:
input_split_eng['stwd_eng6']

In [ ]:
# 한글/영문 컬럼 수 비교하기
name_cnt_kor = len(name_list_kor)
name_cnt_eng = len(name_list_eng)

if name_cnt_kor == name_cnt_eng:
    name_cnt = name_cnt_kor
    name_cnt_diff_list = None
elif name_cnt_kor > name_cnt_eng:
    name_cnt = name_cnt_eng
    name_cnt_diff_list = list(set(range(name_cnt_kor)) - set(range(name_cnt_eng)))
    for i in name_cnt_diff_list:
        input_split_eng['stwd_eng{}'.format(i)] = None
        input_split_eng['num_eng{}'.format(i)] = None
        globals()['stwd_eng{}'.format(i)] = pd.concat(
            [
                df_index,
                pd.DataFrame(input_split_eng['stwd_eng{}'.format(i)]),
                pd.DataFrame(input_split_eng["num_eng{}".format(i)])
            ],
            axis = 1
        )
        
        
        
elif name_cnt_kor < name_cnt_eng:
    name_cnt = name_cnt_kor
    name_cnt_diff_list = list(set(range(name_cnt_eng)) - set(range(name_cnt_kor)))
    for i in name_cnt_diff_list:
        input_split_kor['stwd_kor{}'.format(i)] = None
        input_split_kor['num_kor{}'.format(i)] = None
        globals()['stwd_kor{}'.format(i)] = pd.concat(
            [
                df_index,
                pd.DataFrame(input_split_kor['stwd_kor{}'.format(i)]),
                pd.DataFrame(input_split_kor["num_kor{}".format(i)])
            ],
            axis = 1
        )
        

stwd_eng7

In [ ]:
stwd_eng6

In [ ]:
# 한글/영문 컬럼 수 비교하기
name_cnt_kor = len(name_list)
name_cnt_eng = len(name_list_eng)

if name_cnt_kor == name_cnt_eng:
    name_cnt = name_cnt_kor
    name_cnt_diff_list = None
elif name_cnt_kor > name_cnt_eng:
    name_cnt = name_cnt_eng
    name_cnt_diff_list = list(set(range(name_cnt_kor)) - set(range(name_cnt_eng)))
    for i in name_cnt_diff_list:
        globals()['stwd_eng{}'.format(i)] = None
elif name_cnt_kor < name_cnt_eng:
    name_cnt = name_cnt
    name_cnt_diff_list = list(set(range(name_cnt_eng)) - set(range(name_cnt_kor)))
    
    

    
    
for i in range(name_cnt):
    globals()['stwd_total{}'.format(i)] = pd.concat(
        [
        globals()['stwd{}'.format(i)],
        globals()['stwd_eng{}'.format(i)]
        ],
        axis = 1        
    )
    print(i)
# print(name_cnt)
# print(name_cnt_diff_list)

In [ ]:
# 리스트 - 리스트
list1 = [1,2]
list2 = [1,2,3]
list(set(list2) - set(list1))
list(set(list1) - set(list2))
list(set(list1).difference(set(list2)))
list(set(range(10)) - set(range(2)))

In [ ]:
list(set(range(10)) - set(range(2)))

In [ ]:
list(set(range(2)) - set(range(10)))

In [ ]:
# 용어명 분리
input_test['용어명 분리'] = input_test['용어명 분리'].str.replace(" ", "")
input_split = pd.DataFrame(input_test['용어명 분리'].str.split('_').tolist())
name_list = []
for i in range(len(input_split.columns)):
    name_list.append("stwd{}".format(i))
print(name_list)
# 컬럼명 만들기
input_split = pd.DataFrame(input_test['용어명 분리'].str.split('_').tolist(), columns = name_list)
# 인덱스 컬럼 추가
df_index = pd.DataFrame(input_test['No'])
df_index.columns = ['index']
input_split= pd.concat([input_split, df_index], axis = 1)
print(input_split.shape)
input_split.head(5)

In [ ]:
# 영문명 분리
input_test['영문약어명'] = input_test['영문약어명'].str.replace(" ", "")
input_split_eng = pd.DataFrame(input_test['영문약어명'].str.split('_').tolist())
name_list_eng = []
for i in range(len(input_split_eng.columns)):
    name_list_eng.append("stwd_eng{}".format(i))
print(name_list_eng)
# 컬럼명 만들기
input_split_eng = pd.DataFrame(input_test['영문약어명'].str.split('_').tolist(), columns = name_list_eng)
# 인덱스 컬럼 추가
# df_index = pd.DataFrame(input_test['No'])
# df_index.columns = ['index']
# input_split_eng= pd.concat([input_split_eng, df_index], axis = 1)
print(input_split_eng.shape)
input_split_eng.head(5)

In [ ]:
name_list = []
for i in range(len(input_split_eng.columns)):
    name_list_eng.append("stwd_eng{}".format(i))

In [ ]:
if len(name_list) == len(name_list_eng):
    name_list_cnt = len(name_list)
elif len(name_list) > len(name_list_eng):
    name_list_cnt = len(name_list)
elif len(name_list) < len(name_list_eng):
    name_list_cnt = len(name_list_eng)
    
for i in range(name_list_cnt):
    print(i)

In [ ]:
if len(name_list) == len(name_list_eng):
    print(1)
elif len(name_list) > len(name_list_eng):
    print(2)    
elif len(name_list) < len(name_list_eng):
    print(3)

In [ ]:
len(name_list_eng)

In [ ]:
len(name_list)

In [ ]:
# 용어명 분리
input_test['용어명 분리'] = input_test['용어명 분리'].str.replace(" ", "")
input_split = pd.DataFrame(input_test['용어명 분리'].str.split('_').tolist())
name_list = []
for i in range(len(input_split.columns)):
    name_list.append("stwd{}".format(i))
print(name_list)
# 컬럼명 만들기
input_split = pd.DataFrame(input_test['용어명 분리'].str.split('_').tolist(), columns = name_list)
print(input_split.shape)
input_split.head(5)

In [ ]:
# 단어별 개수 세기(네이밍 컬럼)
dupl_list = []
dupl_cnt = []
for i in range(len(input_split.columns)):
    globals()["dupl_list{}".format(i)] = []
    for j in range(len(input_split["stwd{}".format(i)])):
        dupl_cnt = input_split["stwd{}".format(i)].to_list().count(input_split["stwd{}".format(i)][j])
        globals()["dupl_list{}".format(i)].append(dupl_cnt)
# df_dupl 힌즐 세우기
df_dupl = pd.DataFrame()
for i in range(len(input_split.columns)):
    globals()["dupl_list{}".format(i)]
    df_dupl = pd.concat([df_dupl, pd.DataFrame(globals()["dupl_list{}".format(i)])], axis = 0)
df_dupl.columns = ['dupl']
df_dupl

In [ ]:
# df_index 한줄 세우기
# df_index = pd.DataFrame(input_test['No'])
df_index = pd.DataFrame()
for i in range(len(input_split.columns)):
#     globals()["df_index{}".format(i)] = pd.DataFrame(input_test['No'])
    df_index = pd.concat([df_index, pd.DataFrame(input_test['No'])])
df_index.columns = ['index']
df_index

In [ ]:
# df_stwd 힌즐 세우기
df_stwd = pd.DataFrame()
for i in range(len(input_split.columns)):
    globals()["df_stwd{}".format(i)] = input_split["stwd{}".format(i)]
    df_stwd = pd.concat([df_stwd, globals()["df_stwd{}".format(i)]])
df_stwd.columns = ['stwd']
df_stwd

In [ ]:
# df_chk
df_chk = pd.concat([df_stwd, df_index], axis=1).reset_index() # 인덱스 초기화
df_chk = df_chk[['stwd', 'index']]
print(df_chk.shape)
df_chk.tail(5)

In [ ]:
### 한글 단어 분리

In [ ]:
# 영문명 분리
input_test['영문약어명'] = input_test['영문약어명'].str.replace(" ", "")
input_split_eng = pd.DataFrame(input_test['영문약어명'].str.split('_').tolist())
name_list = []
for i in range(len(input_split_eng.columns)):
    name_list.append("stwd_eng{}".format(i))
print(name_list)
# 컬럼명 만들기
input_split_eng = pd.DataFrame(input_test['영문약어명'].str.split('_').tolist(), columns = name_list)
print(input_split_eng.shape)
input_split_eng.head(5)

In [ ]:
# df_index 한줄 세우기
df_index_eng = pd.DataFrame()
for i in range(len(input_split_eng.columns)):
    df_index_eng = pd.concat([df_index_eng, pd.DataFrame(input_test['No'])])
df_index_eng.columns = ['index']
df_index_eng

In [ ]:
# df_stwd_eng 힌즐 세우기
df_stwd_eng = pd.DataFrame()
for i in range(len(input_split_eng.columns)):
    globals()["df_stwd_eng{}".format(i)] = input_split_eng["stwd_eng{}".format(i)]
    df_stwd_eng = pd.concat([df_stwd_eng, globals()["df_stwd_eng{}".format(i)]])
df_stwd_eng.columns = ['stwd_eng']
df_stwd_eng

In [ ]:
# df_chk_eng
df_chk_eng = pd.concat([df_stwd_eng, df_index_eng], axis=1).reset_index() # 인덱스 초기화
df_chk_eng = df_chk_eng[['stwd_eng', 'index']]
print(df_chk_eng.shape)
df_chk_eng.tail(5)

In [ ]:
### 영문 단어 분리

In [ ]:
df_chk.merge(df_chk_eng, on='index'

In [ ]:
# df_chk_uni
df_chk_uni = df_chk[df_chk['stwd'].duplicated()==False].reset_index()
df_chk_uni = df_chk_uni[['stwd', 'index']]
df_chk_uni.tail(5)

In [ ]:
# unique 단어 개수 세기
dupl_list = []
dupl_cnt = []
for i in range(len(df_chk_uni["stwd"])):
    dupl_cnt = df_chk_uni["stwd"].to_list().count(df_chk_uni["stwd"][i])
    dupl_list.append(dupl_cnt)

len(dupl_list)

In [ ]:
# 횟수 병합
df_chk_uni = pd.concat([df_chk_uni, pd.DataFrame(dupl_list)], axis = 1)
df_chk_uni.columns = ['stwd', 'index', 'dupl_cnt']
print(df_chk_uni[df_chk_uni['dupl_cnt'] != 1])
print(df_chk_uni[df_chk_uni['dupl_cnt'] == None])
df_chk_uni.tail(5)

In [ ]:
# 점검 , 변환
# ab['dupl_cnt'].info()
# ab['dupl_cnt'].astype(int)

In [ ]:
# df_chk_uni
df_chk_dupl = df_chk[df_chk['stwd'].duplicated()].reset_index()
df_chk_dupl = df_chk_dupl[['stwd', 'index']]
df_chk_dupl.tail(5)

In [ ]:
# dupl 단어 개수 세기
dupl_list = []
dupl_cnt = []
for i in range(len(df_chk_dupl["stwd"])):
    dupl_cnt = df_chk_dupl["stwd"].to_list().count(df_chk_dupl["stwd"][i])
    dupl_list.append(dupl_cnt)

len(dupl_list)

In [ ]:
# 횟수 병합
df_chk_dupl = pd.concat([df_chk_dupl, pd.DataFrame(dupl_list)], axis = 1)
df_chk_dupl.columns = ['stwd', 'index', 'dupl_cnt']
print(df_chk_dupl[df_chk_dupl['dupl_cnt'] == 1])
print(df_chk_dupl[df_chk_dupl['dupl_cnt'] == None])
df_chk_dupl.tail(5)

In [ ]:
df_chk_dupl[df_chk_dupl['stwd'] == '매수']

In [ ]:
cc = df_chk_dupl.merge(input_test, left_on = 'index', right_on = 'No', how='left')
cc = cc[cc['stwd'].duplicated()==False]
print(cc.shape)
cc.head(3)

In [ ]:
df_chk_dupl.to_excel(input_path+"dsfadas.xlsx")

In [ ]:
cc = df_chk_dupl['stwd'].drop_duplicates()
(cc.shape)
cc

In [ ]:
cc.to_excel(input_path+"cccccccccccc.xlsx")

In [ ]:
df_chk_dupl['stwd'].drop_duplicates()

In [ ]:
ccc = df_chk_dupl.merge(input_test, left_on = 'index', right_on = 'No', how='left')
ccc = ccc[ccc['stwd'].duplicated()]
print(ccc.shape)
ccc.head(3)

In [ ]:
ccc.to_excel(input_path+"cccccccccc3cc.xlsx")

In [ ]:
a[a['stwd'].duplicated()]

In [ ]:
a[pd.DataFrame(a['stwd']).duplicated(keep='first')]

In [ ]:
a['stwd'].drop_duplicates()

In [ ]:
a = pd.concat([df_stwd, df_dupl, df_index], axis=1)
a

In [ ]:
tOK = a.loc[a['dupl'] == 1]
# tOK['stwd'].dropna()
tOK[tOK['stwd'] == '검토']
tOK
tNO = a.loc[a['dupl'] > 1]
# tNO['stwd'].dropna()
tNO[tNO['stwd'] == '검토']
tNO

In [ ]:
tOK['stwd'].drop_duplicates()

In [ ]:
print(368 + 412)
tNO['stwd'].drop_duplicates()

In [ ]:
a['stwd'].drop_duplicates()

In [ ]:
t2['stwd'].drop_duplicates()

In [ ]:
a.to_excel(input_path+"\\dfdf.xlsx")

In [ ]:
tOK.to_excel(input_path+"\\dfdfOK.xlsx")

In [ ]:
tNO.to_excel(input_path+"\\dfdfNO.xlsx")

In [ ]:
tNO['stwd'].drop_duplicates().to_excel(input_path+"\\dfdfNO_DUP.xlsx")

In [ ]:
t2['stwd'].drop_duplicates().tail(30)

In [ ]:
# t2 = a[a['stwd'].duplicated(keep='first')]
t2 = a[a['stwd'].duplicated(False)]
t2[t2['stwd'] == '검토']
# t2['stwd'].dropna()
t2

In [ ]:
t2.drop_

In [ ]:
a[a['stwd'] == '검토']

In [ ]:
a.head(20)

In [ ]:
a['stwd'].duplicated(keep='first').head(20)
# t#['stwd'].dropna()
# t3[t3['stwd'] == '검토']

In [ ]:
# # concat 을 위한 DataFame 묶기 (o 시리즈여야 한곳에 정렬됨! 데이터 프레임 안됨)
# for i in range(len(input_split.columns)):
#     globals()["df_stwd{}".format(i)] = ["duple_list{}".format(i)]
# df_stwd0

In [ ]:
# concat 을 위한 DataFame 묶기 (o 시리즈여야 한곳에 정렬됨! 데이터 프레임 안됨)
for i in range(len(input_split.columns)):
    globals()["df_stwd{}".format(i)] = input_split["stwd{}".format(i)]
df_stwd0

In [ ]:
# df_index 묶기
for i in range(len(input_split.columns)):
    globals()["df_index{}".format(i)] = input_split["stwd{}".format(i)]
df_stwd0

In [ ]:
df_stwd = pd.concat([df_stwd, df_index], axis=1)
df_stwd

In [ ]:
pd.concat([input_split, pd.DataFrame(input_test['No'])], axis=1)

In [ ]:
# df_stwd.tail(500)

In [ ]:
list = []
for i in range(len(input_split.columns)):
    df = pd.concat([globals()["df_stwd{}".format(i)]])
df

In [ ]:
df = pd.DataFrame()
for i in range(len(input_split.columns)):
    df = pd.concat([df, globals()["df_stwd_df{}".format(i)]])
df

In [ ]:
df

In [ ]:
df_dupl_cnt = pd.DataFrame()
for in in range(len(input_split.coulmns):
    df_dupl_cnt = pd.concat([df, globals()["df{}".format(i)]])

In [ ]:
dupl_list0

In [ ]:
# 컬럼 재정렬
list = []
for i in range(len(input_split.columns)):
    input_split.loc[:,"dupl_cnt{}".format(i)] = globals()["dupl_list{}".format(i)]
    list.append("stwd{}".format(i))
    list.append("dupl_cnt{}".format(i))
input_split = input_split[list]
input_split

In [ ]:
df_stwd = pd.DataFrame()
for i in range(len(input_split.columns)):
    df_stwd = pd.concat([df, globals()["df{}".format(i)]])
df_stwd

In [ ]:
pd.DataFrame

In [ ]:
type(input_split["stwd{}".format(0)])

In [ ]:
a = pd.Series
a

In [ ]:
a

In [ ]:
for i in range(len(input_split.columns)):
    globals()["df{}".format(i)] = input_split["stwd{}".format(i)]
    list.append('df{}'.format(i))
list

In [ ]:
df = pd.DataFrame()
for i in range(len(input_split.columns)):
    globals()["df{}".format(i)] = pd.DataFrame(input_split["stwd{}".format(i)])
#     list.append('df{}'.format(i))
# list

In [ ]:
list = []
for i in range(len(input_split.columns)):
    list.append("df{}".format(i))
list

In [ ]:
df = pd.DataFrame()
for i in range(len(input_split.columns)):
    df = pd.concat([df, globals()["df{}".format(i)]])
df

In [ ]:
concat([df0, df0,df0,df0,df0,df0,df0,df0,])

In [ ]:
list = ",".join(list)
list
list[5]

In [ ]:
",".join(list[0])

In [ ]:
df = pd.DataFrame()
for i in range(len(input_split.columns)):
    ccc = pd.concat(df, ",".join(list[i]))
df = pd.DataFrame()
df = pd.concat([df, df0])

In [ ]:
df = pd.DataFrame()
df = pd.concat([df, df0])

In [ ]:
",".join(list)

In [ ]:
list = ",".join(list)
list

In [ ]:
list

In [ ]:
df0

In [ ]:
list = [df0, df1, df2, df3, df4, df5]
pd.concat(list)

In [ ]:
pd.concat([df0, df1, df2, df3, df4, df5])

In [ ]:
input_split

In [ ]:
stwd_list

In [ ]:
stwd_list = input_split.columns.to_list()
for i in range(len(input_split.columns)):
    duplicated = pd.concat(stwd_list, ignore_index=True)

In [ ]:
stwd_list = input_split.columns.to_list()
pd.concat(pd.DataFrame(input_split[stwd_list]), ignore_index = True)

In [ ]:
list = []
for i in range(len(input_split.columns)):
    globals()["df{}".format(i)] = input_split["stwd{}".format(i)]
    list.append(globals()["df{}".format(i)])

In [ ]:
pd.DataFrame(list)

In [ ]:
pd.DataFrame(input_split["stwd1"])

In [ ]:
input_split["stwd0"]

In [ ]:
pd.concat(pd.DataFrame(input_split["stwd0"]), pd.DataFrame(input_split["stwd1"]))

In [ ]:
df0
list

In [ ]:
globals("df0")

In [ ]:
pd.concat([df0, df1])

In [ ]:
pd.concat([df0, df1])

In [ ]:
for i in range(len(input_split.columns)):
#     pd.concat(globllist[i])
    print(list[i])

In [ ]:
for i in range(len(input_split.columns)):
#     pd.concat(["df{}".format(i)])
#     pd.concat("df{}".format(i))
    pd.concat(list)  
#     print("df{}".format(i))

In [ ]:
for i in range(len(input_split.columns)):
    print("df{}".format(i))

In [ ]:
for i in range(len(input_split.columns)):
    globals()["df{}".format(i)] = pd.DataFrame(globals()["df{}".format(i)])

In [ ]:
list = []
for i in range(len(input_split.columns)):
    list.append("df{}".format(i))

In [ ]:
df1

In [ ]:
pd.concat(list, axis=1 )
#           ignore_index=True)

In [ ]:
for i in range(len(input_split.columns)):
    pd.concat(globals()["df{}".format(i)])

In [ ]:
pd.concat([df0, df1])

In [ ]:
stwd_list = input_split.columns.to_list()
for i in range(len(input_split.columns)):
    pd.concat(pd.DataFrame(input_split["stwd{}".format(i)]))
list

In [ ]:
input_split["stwd0"]

In [ ]:
pd.DataFrame(input_split["stwd{}".format(0)])

In [ ]:
cc = pd.DataFrame(input_split["stwd{}".format(i)])

In [ ]:
aa = pd.DataFrame
for i in range(len(input_split.columns)):
    aa = aa.append(cc)
aa

In [ ]:
for i in range(len(input_split.columns)):
    a = pd.concat([input_split[list[i]]])
a

In [ ]:
a

In [ ]:
pd.concat(list)

In [ ]:
for i in range(len(input_split.columns)):
    pd.concat([globals["input_split{}".format(i)]])

In [ ]:
# 컬럼 재정렬
list = []
for i in range(len(input_split.columns)):
    input_split.loc[:,"dupl_cnt{}".format(i)] = globals()["dupl_list{}".format(i)]
    list.append("stwd{}".format(i))
    list.append("dupl_cnt{}".format(i))
input_split = input_split[list]
input_split

In [ ]:
input_split.columns

In [ ]:
for i in range(int(len(input_split.columns)/2)):
    aaa= pd.concat(["stwd{}".format(i)])
aaa

In [ ]:
input_split[0]

In [ ]:
input_split[0]

In [ ]:
input_split[0].count("가입")

In [ ]:
dupl_list =[]
dupl_list

In [ ]:
len(input_split.columns)

In [ ]:
input_split[0].to_list().count(input_split[0][11])

In [ ]:
globals()["stwd{}".format(i)]

In [ ]:
for i in range(len(input_split.columns)):
    globals()["dupl_list{}".format(i)] = []

In [ ]:
input_split[0].to_list().count(input_split[0][3])

In [ ]:
# 성공
dupl_list = []
dupl_cnt = []


for i in range(len(input_split.columns)):
    globals()["dupl_list{}".format(i)] = []
    for j in range(len(input_split[i])):
        dupl_cnt = input_split[i].to_list().count(input_split[i][j])
        globals()["dupl_list{}".format(i)].append(dupl_cnt)
#         print(dupl_cnt)
#         print("dupl_list{}".format(i))

In [ ]:
for i in range(len(input_split.columns)):
    input_split.loc[:,"dupl_cnt{}".format(i)] = globals()["dupl_list{}".format(i)]

In [ ]:
input_split["dupl_cnt0"]

In [ ]:
# input_split
input_split[input_split["dupl_cnt0"] >= 2][["dupl_cnt0","dupl_cnt1",0]]

In [ ]:
input_split.loc[:,"dupl_cnt1"] = dupl_list1

In [ ]:
input_split

In [ ]:
for i in range(len(input_split.columns)):
    print(globals()["dupl_list{}".format(i)])

In [ ]:
a= input_split.assign(dd =  dupl_list3)
# df.insert(3,"city",['Lahore','Dehli','New York'],True)
a

In [ ]:
input_split.insert(8,"dd",dupl_list3,True)
input_split

In [ ]:
input_split[2].to_list().count('역')

In [ ]:
input_split[0].to_list()

In [ ]:
dupl_list3

In [ ]:
input_split.insert(8,"dd",dupl_list3,True)

In [ ]:
input_split

In [ ]:
pd.DataFrame(input_split[3].to_list(), dupl_list3)

In [ ]:
print(len(dupl_list))
dupl_list

In [ ]:
# type(input_split[0])
input_split[0].to_list().count('가입')

In [ ]:
# 성공
b = []
for i in range(len(input_split[0])):
    a = 0
    for j in input_split[0]:
        b.append(a)
        if input_split[0][i] == j:
            a += 1
            print(input_split[0][i] +"&&"+j+"_중복")
           
            print(a)

In [ ]:
len(b)

In [ ]:
# 성공
a = 0
for i in range(len(input_split[0])):
    for j in input_split[0]:
        if input_split[0][i] == j:
            print(input_split[0][i] +"&&"+j+"_중복")
            a += 1
            print(a)

In [ ]:
# 성공
a =0
for i in input_split[0]:
    for j in input_split[0].unique():#중복 
        if i == j:
            print(i +"&&"+j+"_중복")
            a += 1
            print(a)
#         else:
#             print(i+j)
    
    
    
#     if i == '가입':
#         print(i+"_성공")
#     else:
#         print(i)

In [ ]:
for i in input_split[0]:
    if i == '가입':
        print(i+"_성공")
    else:
        print(i)

In [ ]:
input_split[0].str == "가입"

In [ ]:
for i in a
    input_split[0] == i

In [ ]:
input_split[0]

In [ ]:
a = input_split[0].unique()
a

In [ ]:
len(input_split.columns)

In [ ]:
input_processing = pd.concat([input_split, input_test])
print(input_processing.columns)
input_processing.head(5)

In [ ]:
input_process["No"]

In [ ]:
# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : row[10])
# # stwd1

In [ ]:
aa = pd.DataFrame(input_test['용어명 분리'].str.split('_').tolist(), columns = ['a' ,'b', 'c', 'd','a' ,'b', 'c', 'd'])
aa

In [ ]:
aaa = pd.DataFrame(input_test['용어명 분리'].str.split('_').tolist())
aaa

In [ ]:
aaa[1]

In [ ]:
aaa.columns

In [ ]:
aa['a']

In [ ]:
aa.columns

In [ ]:
for i in range(len()):
    aa = pd.DataFrame(input_test['용어명 분리'].str.split('_').tolist(), columns = globals()["stwd{}".format(i)])
    aa

In [ ]:

try:    
    for i in range(10):
         globals()["stwd{}".format(i)] = pd.DataFrame({"stwd{}".format(i) : []})
except:
    pass
# print(stwd0)

    
        
    
# pd.DataFrame({"stwd0" : []})

In [ ]:
print(input_test['용어명 분리'].str.split('_', maxsplit=1))

In [ ]:
# try:
for i in range(10):
    globals()["stwd{}".format(i)] = input_test['용어명 분리'].str.split('_').map(lambda row : row[i])

input_test['용어명 분리'].str.split('_').map(lambda row : row[0])

In [ ]:
pd.DataFrame(input_test['용어명 분리'].str.split('_'))

In [ ]:
input_test['용어명 분리'].str.split('_').tolist()

In [ ]:
aa = pd.DataFrame(input_test['용어명 분리'].str.split('_').tolist(), columns = ['a' ,'b', 'c', 'd','a' ,'b', 'c', 'd'])
aa

In [ ]:
input_test['용어명 분리'].str.split('_').map(lambda x:x[-1])

In [ ]:
a= pd.DataFrame(input_test['용어명 분리'].str.split('_'))
a

In [ ]:
a.str.get(0)

In [ ]:
input_test['용어명 분리'].str.split('_')[0][0]

In [ ]:
input_test['용어명 분리'].str.split('_').map(lambda row : row[-1])

In [ ]:
stwd

In [ ]:
stwd2

In [ ]:
# i = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
    
#     globals()["stwd{}".format(i)] = input_test['용어명 분리'].str.split('_', maxsplit = -1).map(lambda row : row[i])

# stwd0
# stwd1

# stwd0 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[0]))
# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd2 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd3 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd4 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd5 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd6 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd7 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd8 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd9 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
try:
    stwd10 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[10]))
except:
    pass

In [ ]:
# i = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
num = 10
for i in range(10):
#     if input_test['용어명 분리'].str.split("_").map(lambda row : row[i]) 
    
    globals()["stwd{}".format(i)] = input_test['용어명 분리'].str.split('_', maxsplit = -1).map(lambda row : row[i])

stwd0
# stwd1


# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))
# stwd1 = input_test['용어명 분리'].str.split("_").map(lambda row : ''.join(row[1]))

In [ ]:
stwd1

In [ ]:
input_f = os.path.join(os.getcwd(), "input")
print(input_f)
# pd.read_excel(input_f+"test.xlsx", sheet_name="input_test", header=0)
sheet_name = "input_test"
pd.read_excel("C:/test.xlsx", sheet_name=sheet_name, header=0)

# current_path = os.path.dirname(input_f)
# input_f = os.path.join(current_path, "input")
print()
# current_path = os.path.dirname()
# print(current_path)
print(os.getcwd())

In [ ]:
print(os.getcwd())
# print(sys.argv[0])
print(os.path.dirname(os.path.realpath('__file__')))